[2017-09-05 07:17] ddemidov commented on #343
Where does `rubikscolorresolver` package come from? Is it one by @dwalton76? I think `sklearn` module that it tries to import should come from http://scikit-learn.org, but I am not sure it works on the EV3.

[2017-09-05 07:42] WasabiFan commented on #344
While we're at it, what's `GyroBalancer.py`? @dwalton76? I'm moderately confused as to why it's in the `ev3dev` directory as opposed to `demos`.

[2017-09-05 10:33] dwalton76 commented on #344
GyroBalancer.py contains a base class for robots that stand on two wheels and use a gyro to keep their balance.  We put it in its own file instead of helper.py because
- it was a decent amount of code and felt cleaner to have it separate
- it is a port of Lauren's code and we wanted to keep his license at the top but that license didn't apply to everything else in helper.py

BALANC3R in the demo d

[2017-09-05 10:36] dwalton76 commented on #344
I don't know of any uses for framebuffer.py and virtualterminal.py

[2017-09-05 10:37] dwalton76 commented on #343
yep that is one of mine, it lives at https://github.com/dwalton76/rubiks-color-resolver

@chaNcharge can you try
[code]

[2017-09-05 10:39] dwalton76 commented on #334
@Anikaaaa ok to close this one?

[2017-09-05 10:50] #334 closed

[2017-09-05 12:00] dwalton76 commented on #343
I thought about this some more, none of those libraries are needed until you are dealing with a cube that is 4x4x4 or larger so I changed the code to lazy load those.  So @chaNcharge do ```sudo python3 -m pip install git+https://github.com/dwalton76/rubiks-color-resolver.git``` and then to test to make sure everything is working do
[code]

You should see this at the end of the output
[code]

[2017-09-05 12:12] dwalton76 opened #347 "support for holonomic robots"
This is a pretty cool robot, we do not have an API that makes this sort of robot easy:
http://www.bartneck.de/2017/08/27/holonomic-lego-mindstorms-robot/

They used LeJos

The only downside with this one is the $120 mouse that he used to control it.  I bet a $10 PS3 controller could be used instead.

Somewhat related to #315 and #336

[2017-09-05 12:14] dwalton76 commented on #347
How-to for ev3dev with a PS3 controller
http://www.ev3dev.org/docs/tutorials/using-ps3-sixaxis/

[2017-09-05 15:21] dlech opened #348 "Separation of driver interface from high level library"
Looking forward to ev3dev-lang-python 2.0...

I don't know if this has come up in GitHub before, but in some of my out-of-band discussions with @rhempel in the early days of ev3dev-lang-python, the idea was that it would be a low-level wrapper around the drivers and that a (separate) higher level library/API would be built on top of it.

One of the most frequent support requests I get for ev3dev i

[2017-09-05 17:30] ensonic commented on #324
Yes it works fine for me. I had a few courses by now and no complaints. And yes it solved the problem in #262 as well.

[2017-09-05 17:33] ensonic commented on #323
Sure, please close.

[2017-09-05 17:49] chaNcharge commented on #343
Thanks a lot @dwalton76, it works without an issue now!

[2017-09-05 17:49] #343 closed

[2017-09-05 17:55] dwalton76 commented on #348
So maybe have ev3dev-lang-python be primarily the code generated via the templates (that would allow this repo to be comparable to other ev3dev-lang-XYZ repos) and then create a ev3dev-lang-python-api that would contain
- helper.py
- GyroBalancer.py
- fonts?
- webserver.py
- demo...or put these in a separate repo?  It seems like having them in the api repo would be a good place for them but I'm no

[2017-09-05 18:19] WasabiFan commented on #348
I've generally been attempting to move in the direction of adding higher-level APIs, but we certainly haven't hit complete interface parity with EV3-G.

Personally, I think we should avoid having two entirely different libraries (it causes confusion when some people use one and other people use a different one) but I could certainly see an architecture where we pull out the low-level interfaces in

[2017-09-06 03:26] chaNcharge opened #349 "MINDCUB3R: ValueError: 'ERROR:' is not in list"
- **ev3dev version:** 4.4.68-20-ev3dev-ev3
- **ev3dev-lang-python version:** 3.4.2

Whenever I run rubiks.py through the brick's interface, it scans like normal, however, after it finishes scanning, it returns this error and stops:

[code]
This doesn't happen when I connect the brick to my computer and run it remotely using ssh.

[2017-09-06 03:31] dwalton76 commented on #349
Hmmm, my guess is rubikscolorresolver is getting the colors wrong and is producing an invalid cube that the kociemba solver then barfs on.  Can you add the `/tmp/rubiks-color-resolver.html` file to the ticket here?  That will have the RGB values (per the color sensor) for each square and what we think the final color is for each square.

[2017-09-06 04:21] chaNcharge commented on #349
Here's the html file, I looked at it myself, and it does seem to be an invalid cube. Which is strange, but I guess it really depends on the lighting?

https://drive.google.com/file/d/0B3ZoX-8LP704SkRPSUNrN2hMOVU/view?usp=sharing

[2017-09-06 05:00] chaNcharge commented on #349
I did some more testing, the interface isn't the issue, it's just that the scanning is a little bit unreliable, very particular about lighting.

[2017-09-06 06:02] ddemidov commented on #349
When I played with mindcub3r, I found it depends a lot on the cube coloring. On my old cube the sensor had difficulty distinguishing between orange and yellow for example.

[2017-09-06 10:01] dwalton76 commented on #349
oh wow those colors are really dark, I don't know that I could pick out the reds vs. oranges there. Can you put a lamp nearby and see if that helps?

I can fix a couple of things though:
- MINDCUBER shouldn't barf if kociemba returns a string with "ERROR" in it.  It is trying to execute a cube rotate called "ERROR" where normaly rotations are things like "U", "U", "D", etc
- rubikscolorresolver ma

[2017-09-07 00:57] #344 closed

[2017-09-07 01:05] chaNcharge commented on #349
I put the cube in a much brighter location, and it successfully solved the cube. I guess it really depends on lighting? Still looks kinda dark though, I'll try different locations.
https://drive.google.com/open?id=0B3ZoX-8LP704X1hmM3AzRExTakE

[2017-09-07 03:19] dwalton76 commented on #315
Fixed

[2017-09-07 03:19] #315 closed

[2017-09-07 03:42] dwalton76 commented on #349
I wonder if the color sensor normally returns dark values? The web page for debugging is something I added to rubikscolorresolver after I took my MINDCUBER apart so I don't have a point of comparison. If you put a lamp right over the top of mindcuber do the colors from the color sensor still look so dark?

Having a lot of light will help a lot.  If you are using a webcam you have to worry about to

[2017-09-07 03:49] dwalton76 commented on #349
Pull request posted to have rubiks.py exit cleanly when kociemba returns an ERROR.  Also opened https://github.com/dwalton76/rubiks-color-resolver/issues/2 to have rubiks-color-resolver always return a valid 3x3x3 cube so that kociemba won't barf in the first place.

[2017-09-07 03:50] dwalton76 commented on #275
Am going to close this...we can re-open if we get motivated enough to do a hack-a-thon

[2017-09-07 03:50] #275 closed

[2017-09-07 03:50] chaNcharge commented on #349
Well using the original program and rgb block doesn't return dark values, but for now, it's probably just very particular about lighting

[2017-09-07 03:51] dwalton76 commented on #324
@ensonic would you be willing to port it to here?

[2017-09-07 03:52] dwalton76 commented on #147
fixed

[2017-09-07 03:52] #147 closed

[2017-09-07 04:04] dwalton76 commented on #348
Starting on page 21 here they cover a few of the motor blocks
http://stemrobotics.cs.pdx.edu/sites/default/files/Lego%20Robot%20-%202013EV3Programming.pdf

To be sure there are full docs out there somewhere on all of the different blocks...hopefully

[2017-09-07 12:33] dwalton76 commented on #349
fixed

[2017-09-07 12:33] #349 closed, assigned to dwalton76

[2017-09-08 09:00] ensonic commented on #324
I'll take a look.

[2017-09-08 10:02] dwalton76 commented on #339
So branches and branch names...some options

option 1
- rename `master` to `ev3dev-lang-python-jessie`
- create a child branch called `ev3dev-lang-python-stretch`
- create a `ev3dev-lang-python-stretch-develop` child branch off of `ev3dev-lang-python-stretch`
- change the default branch to `ev3dev-lang-python-stretch`
- delete todays `develop` branch

option 2 drop the `ev3dev-lang-python-` part o

[2017-09-08 10:13] dwalton76 opened #351 "video call to hammer out some things?"
Would folks be interested in having a video call sometime to discuss:
- moving the `demo` code to its own repo #338
- Separation of driver interface from high level library #348
- branch naming #339
- equivalent APIs for EV3-G motor and sensor blocks
- micropython vs. cpython...how exactly do we want to handle supporting both

It feels like there is enough to discuss that it would be far faster to

[2017-09-08 10:17] ddemidov commented on #351
Why not, it sounds fun. I am on Europe/Moscow time (UTC+3).

[2017-09-08 10:21] ddemidov commented on #339
We could just tag the current master with `jessie`, and promise to never look back (move all development to `stretch`).

[2017-09-08 21:39] WasabiFan commented on #351
Yeah, I'm up for it. I can't say I have a particularly good track record with these things (slept through the last one :laughing:) but I think it's a good idea. I'm in PST (UTC-7 or -8, depending on DST). The 11-hour offset makes things interesting!

[2017-09-08 22:25] dwalton76 commented on #351
I could do tomorrow (sat sept 9th) at 4:00pm UTC? If not maybe we aim for a weekday next week.

[2017-09-08 22:29] WasabiFan commented on #351
That'll be a bit tight for me... can we shoot for sometime next week, excluding Monday? 9:00 my time (4:00PM UTC) is fine though.

[2017-09-08 22:31] dwalton76 commented on #351
Yep I can do Tues, Wed or Thursday at that time.

[2017-09-08 23:12] dwalton76 commented on #349
@chaNcharge if you re-install rubiks-color-resolver it will pick up the fix for https://github.com/dwalton76/rubiks-color-resolver/issues/2

With that I am able to get the colors correct for the cube you sent the other day, the one that caused kociemba to barf.

[2017-09-09 01:10] dwalton76 commented on #339
@dlech @ddemidov need a pointer here on how to use the ev3dev-lang stuff

For the LEDs I need to make this change...I did the following manually just as a quick test.  I did not use the templates
[code]
but to make this permanent I need to use templates so I make this change
[code]
I then reverted the changes I made to `ev3dev/ev3.py` and now want to make those changes using the templates.  The RE

[2017-09-09 01:55] dwalton76 commented on #339
@dlech I installed https://oss.jfrog.org/list/oss-snapshot-local/org/ev3dev/brickstrap/2017-09-02/snapshot-ev3dev-stretch-bone-generic-2017-09-01.img.xz on my EVB but it is kernel 4.9.41 instead of 4.9.42
[code]
Will the the next binary be 4.9.42? If so I'll hold off for it to work on
[code]

[2017-09-09 02:21] dlech commented on #339
The important part of the kernel version is `ev3dev-1.4.0`. The `4.9.x` comes from the upstream kernels for the various devices, so they don't always match. You can also find a BeagleBone specific changelog at <https://github.com/ev3dev/ev3dev-kpkg/blob/ev3dev-stretch/ev3dev-bb.org/changelog>.

[2017-09-09 02:21] WasabiFan commented on #339
That's the right command. I'm guessing that the `npm install` command didn't succeed. Can you post the output?

[2017-09-09 02:40] dwalton76 commented on #339
attempting to run from root of ev3dev-lang-python but it needs package.json
[code]

so running from ev3dev-lang/autogen/ where there is a package.json but the postintsall barfs
[code]

there is a node_modules in the root dir of ev3dev-lang-python but it is empty
[code]

[2017-09-09 02:47] dwalton76 commented on #339
"The important part of the kernel version" everything on my EVB is working though, touch sensors work, motors work, etc....it feels like I don't have the Breaking change

[2017-09-09 03:12] WasabiFan commented on #339
@dwalton76 The npm issue has been resolved; a version of a package that script depended on was deprecated and npm didn't handle it well. You should be able to run `npm install` and go from there without issue now.

[2017-09-09 03:32] dlech commented on #339
That's because there were no breaking changes for EVB. It doesn't have LEDs and the port names only changed for EV3.

[2017-09-09 07:26] ddemidov commented on #351
4pm UTC works for me on any week day.

[2017-09-09 13:07] dwalton76 commented on #339
@dlech other than the LEDs what things should I see breaking? I did have to fix LEDs but motors and touch sensors still work for me on EV3.

[2017-09-09 13:11] dwalton76 commented on #339
@WasabiFan I'm not clear on how what I run from which directories.  If I run `npm install` from the ev3dev-lang-python directory it barfs because there is no package.json
[code]

There is a package.json in ev3dev-lang/autogen/ so I run `npm install` from there but it barfs because there is no `node_modules/liquid-node` directory.
[code]

[2017-09-09 14:05] dlech commented on #339
Are you using the constants for the port names?

[2017-09-09 14:09] dwalton76 commented on #339
I've tried with and without for the touch sensor
[code]

For motors I am using
[code]

[2017-09-09 15:40] rhempel commented on #351
I am unable to join - but support all of the work you are doing together to make this happen. Please make sure you properly credit yourselves with this work - just because the repo is on my GitHub area and I'm not actively contributing😏

[2017-09-09 16:28] WasabiFan commented on #339
@dwalton76 hmm... I would expect it to "just work". Can you delete all of the `node_modules` directories and re-try?

On the topic  of running commands, you should run `npm` from the autogen directory; when you run the actual autogen script, however, you want to run it from the directory with the `autogen-spec.json`, which is in the root of this repo.

If the above suggestion doesn't work, please

[2017-09-09 16:34] ensonic commented on #351
I'd join too (CEST here). 4:00PM UTC would be okay.

[2017-09-09 16:44] dwalton76 commented on #351
Cool...if you guys/gals can send me your email addresses I'll setup a call for Tuesday at 4pm UTC

[2017-09-09 16:48] ddemidov commented on #351
dennis.demidov@gmail.com

[2017-09-09 17:21] WasabiFan commented on #351
kaelin_laundry at hotmail.com

[2017-09-09 17:46] dwalton76 commented on #339
Opened https://github.com/ev3dev/ev3dev-lang/issues/179

[2017-09-10 08:54] ddemidov commented on #339
Another breaking change in stretch is that input device name for buttons has been changed: ev3dev/ev3dev#957

[2017-09-10 12:35] #331 closed

[2017-09-10 19:20] ensonic commented on #351
st.kost at gmail.com

[2017-09-10 21:44] dwalton76 commented on #148
See #352

[2017-09-10 21:44] #148 closed

[2017-09-11 05:44] ddemidov commented on #339
@dlech, what is debian policy re version numbers? Is it possible to have same versions of a package both in jessie and stretch? Or do we keep 1.0.* for jessie and start with 1.2 for stretch?

It looks like we could treat jessie and stretch as separate platforms in [ev3dev/ev3dev-lang](https://github.com/ev3dev/ev3dev-lang/blob/develop/spec.json#L1481).

[2017-09-11 13:47] dlech commented on #339
You cannot upload two packages with the same version. It will cause an error.

What I have done for other ev3dev packages is add a `jessieX` suffix if I needed to upload another version to jessie after branching off for stretch. So, if `1.0.0` is the last version in jessie before branching off to stretch, then if there is some criticial fix that needs to be uploaded to jessie, you can name the ver

[2017-09-12 15:05] dlech commented on #351
david at lechnology dot com, or if you are doing a google hangout extraspecialdave at gmail dot com

[2017-09-15 19:12] ndward commented on #338
It seems to me that this page is strongly oriented towards models that can be built only with the retail version of the EV3 and that the most important EV3 model of them all, which can be made with both the retail and education versions, has been omitted. I'm referring to the official Lego 'Driving Base' model, also called the 'Robot Educator' model. It's used for all the exercises in the Robot Ed

[2017-09-15 22:49] dwalton76 commented on #338
![survey](https://user-images.githubusercontent.com/468309/30506029-870b6124-9a46-11e7-9a35-81a0c5834f18.png)

Final survey results

[2017-09-15 22:51] dwalton76 commented on #338
I think doing the "Driving Base" is a good idea. Also based on the survey GRIPP3R would also be good to have.

By the way, does anyone know roughly the ratio of educational kits sold to retail kits sold?

I'm not sure.  I do not own the educational kit but I think at this point own most of the parts it has that the normal kit doesn't have.  I don't know anyone who has the educational kit.

[2017-09-16 13:40] dwalton76 commented on #339
I have PRs out for the buttons and LEDs, I am not seeing any issues with port names though so I haven't changed anything there.  Motors work and touch sensors work (with and without specifying a port)...not sure what else to try or what should be breaking.

[2017-09-17 06:03] WasabiFan commented on #262
I'm going to close this in favor of #324. Our goal is to re-implement the LED API with a custom service of some sort to handle blinking/fading ourselves, so we can avoid the issues with the internal sysfs API.

[2017-09-17 06:03] #262 closed

[2017-09-17 06:17] #323 closed

[2017-09-18 15:09] dlech commented on #348
Here are the medium motor blocks. They are exactly the same as the Large motor but operate on the Medium motor.

![image](https://user-images.githubusercontent.com/963645/30549052-5a54322c-9c59-11e7-97a2-6829d0fc40fc.png)

There are also "sensor" blocks for motors that would make sense as being part of the same motor object in python. Note: this "reset" method only resets the position to zero, it

[2017-09-18 15:11] dlech commented on #348
Move steering has all of the same methods as the single motor blocks with additional parameters an extra port and for steering.

![image](https://user-images.githubusercontent.com/963645/30549109-8970a644-9c59-11e7-9586-f9a68936a957.png)

[2017-09-18 15:12] dlech commented on #348
The move tank blocks are similar to move steering, but have independent motor power parameters instead of a steering parameter.

![image](https://user-images.githubusercontent.com/963645/30549183-be6b46c4-9c59-11e7-9f75-f9f8fe218260.png)

[2017-09-18 15:16] dlech commented on #348
The display block:

![image](https://user-images.githubusercontent.com/963645/30549336-1c91c30e-9c5a-11e7-90d6-35b7bc5eef9b.png)

RE: micropython - The micropython framebuffer module is missing drawing circles, images from file and different text sizes, but otherwise has the same functions.

[2017-09-18 15:21] dlech commented on #348
The sound block. The `play_type` parameter can be "Wait for completion", "play once" or "repeat".

![image](https://user-images.githubusercontent.com/963645/30549542-a77e90b4-9c5a-11e7-96a3-a4c15807359d.png)

[2017-09-18 15:22] dlech commented on #348
LED block:

![image](https://user-images.githubusercontent.com/963645/30549776-4f6eac5a-9c5b-11e7-8c45-3eacd9fa3ad0.png)

[2017-09-18 15:28] dlech commented on #348
Buttons:

![image](https://user-images.githubusercontent.com/963645/30549936-aeea87a8-9c5b-11e7-801e-fda002ad3bb8.png)

[2017-09-18 15:30] dlech commented on #348
Color sensor. Note: calibration is implemented in software, it is not a feature of the hardware driver.

![image](https://user-images.githubusercontent.com/963645/30550219-69c2ae84-9c5c-11e7-862a-e2fa93f704c1.png)

[2017-09-18 15:43] dlech commented on #348
The blocks above should give a pretty good idea of the core features of the EV3-G software, but is by no means exhaustive. All of the green action blocks are shown, but I've only included one sensor in the yellow sensor blocks. Also, all sensors can be used in the orange flow control blocks, but those can be implemented using python `if`, `while` or`for` statements. The red data operation blocks c

[2017-09-18 15:58] dlech commented on #348
And for comparison, here is another simple "api" from OpenRoberta. Again, just doing motors and sensors because everything else can be done with basic python stuff.

![image](https://user-images.githubusercontent.com/963645/30551463-1fe86ee4-9c60-11e7-9c7b-23d598ba4ed0.png)

![image](https://user-images.githubusercontent.com/963645/30551478-2d8155fc-9c60-11e7-907d-c37633a66834.png)

[2017-09-19 14:06] ensonic commented on #348
Here is the implementation of the OpenRoberta blocks:
https://github.com/OpenRoberta/robertalab-ev3dev/blob/develop/roberta/ev3.py
It shows that we quite far away for having a 1-2 lines of py for each block. Suggestions to reduce code size (or even PRs) welcome. The new MotorSet will certainly help.

[2017-09-19 17:24] dwalton76 commented on #348
I'll file bugs for each for each of these so we can break this down into some smaller chunks

[2017-09-19 17:38] dwalton76 opened #353 "EV3-G API: motors"
![motor-01](https://user-images.githubusercontent.com/468309/30606466-ce662b7a-9d3f-11e7-9367-9875b5b1adb8.png)
![motor-02](https://user-images.githubusercontent.com/468309/30606469-ce6ac464-9d3f-11e7-89e3-bb460593444d.png)
![motor-03](https://user-images.githubusercontent.com/468309/30606467-ce674b86-9d3f-11e7-92a5-e456766595cd.png)
![move-steering-01](https://user-images.githubusercontent.com/46

[2017-09-19 17:38] dwalton76 opened #354 "EV3-G API: buttons"
![buttons-01](https://user-images.githubusercontent.com/468309/30606495-e1333fa4-9d3f-11e7-8ac4-10fbb8e1fca5.png)

[2017-09-19 17:39] dwalton76 opened #355 "EV3-G API: color sensor"
![color-sensor-01](https://user-images.githubusercontent.com/468309/30606514-f08eb9d8-9d3f-11e7-85d4-d53b7ca1546d.png)

[2017-09-19 17:39] dwalton76 opened #356 "EV3-G API: display"
![display-01](https://user-images.githubusercontent.com/468309/30606535-02bac070-9d40-11e7-8437-94807f035fcf.png)

[2017-09-19 17:40] dwalton76 opened #357 "EV3-G API: LEDs"
![leds-01](https://user-images.githubusercontent.com/468309/30606546-0a335bb4-9d40-11e7-850f-08ed0dcc426f.png)

[2017-09-19 17:40] dwalton76 opened #358 "EV3-G API: Sound"
![sound-01](https://user-images.githubusercontent.com/468309/30606561-16a38a0e-9d40-11e7-9803-830261c4714b.png)

[2017-09-19 17:42] dwalton76 commented on #348
See
- #353
- #354
- #355
- #356
- #357
- #358

[2017-09-19 22:07] WasabiFan commented on #351
Here are the notes from the meeting:

---

- Branch naming
	- Banch off current master for ev3dev-jessie
	- Continue on master + develop for Stretch
	- Versioning: jessie releases after moving onto stretch will require suffix
- Autogen
	- Could remove autogen only on Jessie and maintain manually
	- Stretch would become primary supported platform for autogen spec
- Performance: sysfs vs. character

[2017-09-19 22:07] #351 closed, assigned to nobody

[2017-09-19 22:09] WasabiFan commented on #312
I'm going to close this as it likely won't have an effect on the Python libraries. Down the road, the ev3dev platform as a whole might gain translation ability in which case there could be some reaction work to handle new fonts, but right now it's not a feature request for ev3dev-lang-python.

[2017-09-19 22:09] #312 closed

[2017-09-19 22:10] WasabiFan commented on #314
I'm going to close this. As we implement "friendly" interfaces we'll need to take this behavior into account, but I think this is the confirmed expected behavior for the existing scenario.

[2017-09-19 22:10] #314 closed

[2017-09-19 22:12] WasabiFan commented on #287
I believe this is the currently recommented list of options:
- Update `PYTHONPATH`
- Do development from the directory of a local copy of the library (current working directory is searched for modules)

Feel free to update this with more. I'm not going to close this immediately as it would be nice to add complete instructions to the README.

[2017-09-19 22:14] WasabiFan commented on #295
I'm going to close this. We are working on supporting MicroPython as a Python platform, which dramatically speeds up execution time. If someone is looking specifically for an implementation of live reloading, take a look at the OpenRoberta Lab implementation that @ensonic linked to.

[2017-09-19 22:14] #295 closed

[2017-09-19 23:03] dlech commented on #287
no underscore in `PYTHONPATH` environment variable name.

[2017-09-19 23:09] WasabiFan commented on #287
Updated. I could've sworn there was one 🤔

[2017-09-20 02:56] WasabiFan opened #359 "Ship library as pre-compiled module"
This will speed up loading times for the module (although it won't help with execution speed).

[2017-09-20 03:02] dlech commented on #359
You already are.

    ls /usr/lib/python3/dist-packages/ev3dev/__pycache__/

[2017-09-20 04:52] WasabiFan commented on #359
No, we are not; we ship source packages which are interpreted, compiled and cached at the client's discretion. This issue is a direct result of the suggestion you made in the call, where you said that we should be shipping separate binary packages with the module pre-compiled.

[2017-09-20 04:53] WasabiFan commented on #359
If this is a misinterpretation of your request, please elaborate on the suggestion.

[2017-09-20 09:52] ddemidov commented on #353
We could merge various `on_for_*` methods into
[code]
Here `on_for` could be defined as
[code]

[2017-09-20 12:57] dwalton76 commented on #353
Does EV3-G not provide a way to specify `STOP_ACTION_HOLD` when using their Motor, MoveTank, MoveSteering blocks?  It doesn't look like they do which seems a little odd.

I am trying to get EV3-G running via wine so that I can check for this kind of stuff but no luck yet

[2017-09-20 13:00] dwalton76 commented on #338
@dlech can you create an ev3dev-lang-python-demo repo at https://github.com/ev3dev . Once we have that I'll move the demos we have here to there and file issues to add GRIPP3R and the Driving Base.

[2017-09-20 13:02] dwalton76 opened #361 "EV3-G API: touch sensor"
Need to get screenshots of the touch sensor blocks

[2017-09-20 13:02] dwalton76 opened #362 "EV3-G API: Gyro sensor"
Need to get screenshots of the gyro sensor blocks

[2017-09-20 13:03] dwalton76 opened #363 "EV3-G API: Infared sensor"
Need to get screenshots of the infared sensor blocks

[2017-09-20 13:04] dwalton76 opened #364 "EV3-G API: ultrasonic sensor"
Need to get screenshots of the ultrasonic sensor blocks

[2017-09-20 13:05] dwalton76 commented on #348
Also see
- #361
- #362
- #363
- #364

[2017-09-20 13:05] dwalton76 commented on #348
Closing this one since we have issues filed for individual components

[2017-09-20 13:06] #348 closed

[2017-09-20 13:30] ddemidov commented on #353
I think `hold` is ev3dev specific.

[2017-09-20 15:00] dlech commented on #359
Debian compiles all modules as part of the post-build step when installing any Debian python package, including this one. Perhaps you are referring to my comment about doing the same for MicroPython? Debian doesn't know anything about MicroPython, this won't happen automatically in that case.

[2017-09-20 15:09] dlech commented on #338
Done. https://github.com/ev3dev/ev3dev-lang-python-demo

[2017-09-20 15:12] dlech commented on #361
![image](https://user-images.githubusercontent.com/963645/30651706-21a04a58-9dec-11e7-8b54-ce355ca002f0.png)

[2017-09-20 15:25] dlech commented on #362
![image](https://user-images.githubusercontent.com/963645/30653386-92543b84-9df0-11e7-9a34-b474a7efc728.png)

[2017-09-20 15:28] dlech commented on #362
Implementation note on Reset block:

This block puts the sensor into GYRO-ANGLE mode, plus sends a command to the sensor (I'll have to look it up later). Sending the command would have to be done with the `direct` attribute in ev3dev.

UPDATE: The reset command writes a single byte, `17` to the sensor.

[2017-09-20 15:30] dlech commented on #362
Newer versions of these sensors also have an additional second axis accessible via the `TILT-ANGLE` and `TILT-RATE` modes that is not usable using the official EV3-G blocks.

https://www.youtube.com/watch?v=KjlT0BUJr-w

[2017-09-20 15:49] dlech commented on #363
![image](https://user-images.githubusercontent.com/963645/30653695-613bef82-9df1-11e7-8359-ca552135a597.png)

[2017-09-20 15:50] dwalton76 commented on #361
@dlech wrong image :)

[2017-09-20 15:59] ddemidov commented on #338
Do we want the demos to be implemented in the current, or in the future 'high level' API?

[2017-09-20 16:04] dlech commented on #364
![image](https://user-images.githubusercontent.com/963645/30654430-740c9286-9df3-11e7-87ed-4beca79df297.png)

[2017-09-20 16:06] dlech commented on #353
`brake` is ev3dev-specific. `hold` in ev3dev == Brake in EV3-G.

http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/motors.html#sysfs

[2017-09-20 16:41] dlech commented on #338
high level :smiley:

[2017-09-20 16:45] dlech commented on #361
Buttons are a touch sensors of sorts :wink:

Here is the correct screenshot:

![image](https://user-images.githubusercontent.com/963645/30656253-19319108-9df9-11e7-98a2-dad21965a7a4.png)

[2017-09-20 17:14] dlech commented on #348
FYI, in all of the screenshots, the python examples are overly literal translations so that you can see exactly what in EV3-G corresponds to what in Python. The actually implementation should be tweaked to be more pythonic and concise.

[2017-09-20 17:24] laurensvalk commented on #353
I came across this thread after being tagged in something so hopefully I'm not taking this too far off topic...

Quoting from the table for the yellow blocks:

I understand the idea here is to obtain functionality close to EV3-G, and I could live with power and speed being used interchangeably for the green blocks, but this one is quite exceptional.

Measuring "current power" in EV3-G gives you th

[2017-09-20 17:32] dlech commented on #353
Totally on topic. The tables show word-for-word in Python, what the EV3-G blocks says just for clarity. The idea is that in the actual implementation, they get cleaned up where appropriate.

[2017-09-20 17:38] laurensvalk commented on #361
---> [This](https://github.com/ev3dev/lms2012-compat/issues/51) may be relevant when looking to replicate EV3-G, including or excluding original bugs.

If that post doesn't make sense, ask away :)

[2017-09-20 17:51] dwalton76 commented on #338
yep since we are doing the EV3-G APIs we should make the demos use them to keep things nice and simple for anyone new to ev3dev python

[2017-09-20 17:56] dwalton76 commented on #353
If default is `hold` and the user ctrl-C their program we will leave the motor with power being applied to hold it in place.  Thoughts on how we can gracefully set the stop_action to `coast` when the program exits (without the user coding this into their program)?  We could add a `__del__` to the Motor class that does this but from googling folks think that implementing a `__del__` in python is a

[2017-09-20 17:59] dwalton76 opened #365 "Cache properties that never change"
We should cache properties that can never change...things like a motor's max_speed, counts_per_rot, etc

- https://github.com/ev3go/ev3dev/issues/53
- https://github.com/ev3go/ev3dev/issues/54
- https://github.com/ev3go/ev3dev/issues/55

[2017-09-20 18:03] dlech commented on #353
That is why you run your program with `brickrun`, it stops motors, sound, etc.

`__del__` is for releasing unmanaged resources, like file handles, when an object is garbage collected. There is no guarantee when or even if an object is garbage collected, so it cannot be relied upon for anything that *must* happen.

[2017-09-20 18:13] dwalton76 commented on #353
Does brickman set the stop_action to `coast`?  If so that sounds good to me.  I

[2017-09-20 18:17] dlech commented on #353
`brickrun` totally resets the motor, including removing power (setting to to coast)

[2017-09-20 19:16] WasabiFan commented on #359
@dlech yes. This issue is about _us_ shipping packages with the module precompiled, with the specific goal of optimizing for Micropython. I believe that is what you were referring to during our call.

[2017-09-20 19:31] dlech commented on #359
So really, the issue at hand is to create a new binary package that contains the micropython version of ev3dev-lang-python.

[2017-09-20 19:35] WasabiFan commented on #359
Yes, that is correct.

[2017-09-20 19:49] WasabiFan commented on #365
I recall discussing this in detail previously... Did we really never implement it? Was there a PR somewhere which was closed?  Or did we decide to cut it and save the related decisions for later?

[2017-09-20 21:12] WasabiFan commented on #341
I'm going to close this as it isn't a significant problem (and, really, has no effect unless you're using the REPL).

[2017-09-20 21:12] #341 closed

[2017-09-20 23:10] dwalton76 commented on #353
For all of these `on_for_XYZ()` functions do we want the `power` that we pass it to be a percentage of max_speed from -100% to 100% or do we want this to be the actual `speed_sp`?  Make take is they should be a percentage from -100 to 100 but we need to reach a consensus on this.

[2017-09-20 23:19] dwalton76 commented on #365
Not that I remember but it may have been before my time

[2017-09-20 23:32] dwalton76 commented on #361
@dlech does ev3dev support the `bumped` value?  I've been `cat value0` over and over while touching the sensor but I only ever see 0 or 1

[2017-09-20 23:38] WasabiFan commented on #361
@dwalton76 ev3dev's built-in touch sensor driver doesn't support `bumped`; it only reports whether or not the button is pressed (which I think is the correct behavior). If we want to support that logic, we'll have to implement it in Python. I'd say we should just omit it for now.

[2017-09-20 23:42] WasabiFan commented on #365
I could've sworn I was discussing it on a PR with @ddemidov within the last month or two... I can't remember if it was part of said PR and we removed it, or if we were just including snippets in comments.

[2017-09-20 23:46] dwalton76 commented on #361
works for me

[2017-09-20 23:51] WasabiFan commented on #353
On one hand, we could switch to our own scientific units; it would make the behavior of "speed" better-defined than if it were a percentage, but that requires documentation and it's easy to miss. On the other hand, using percentages would make the interface dramatically more intuitive for a typical user.

I think it comes down to this question: can we adequately document the special behavior? Wher

[2017-09-21 00:03] dlech commented on #353
How about we make the default units % just like EV3-G, plus introduce scaling factor constants for those who want scientific units.

[code]

[2017-09-21 00:05] dlech commented on #353
But we should name our parameter `speed` instead of `power` :wink:

[2017-09-21 00:34] dwalton76 commented on #353
Works for me

[2017-09-21 06:13] ddemidov commented on #353
why not `m.run(speed_pct=50)`, `m.run(dps=400)`, and `m.run(rpm=60)`? If we define `run` as
[code]
we could also just use `m.run(50)` instead of `m.run(speed_pct=50)`. Personally, I think this makes a cleaner interface.

[2017-09-21 06:15] ddemidov commented on #365
This does not sound like anything to me :).

But caching the attributes on motor construction makes sense.

[2017-09-21 06:23] WasabiFan commented on #365
Am I going crazy? I'm convinced we discussed this recently. We had a cache object, and if the property value existed in the cache it was used otherwise it was added to the cache... And we ran into some sort of decision to be made but didn't want to block the larger PR so we removed it.

Maybe I _am_ insane.

[2017-09-21 06:27] WasabiFan commented on #353
@ddemidov you could still call the run method with one positional argument and it would work as-is (with the version in your code block), right?

[2017-09-21 06:34] ddemidov commented on #353
Yes:
[code]

[2017-09-21 07:13] ddemidov commented on #365
May be I am just forgetting things :). Now that you mentioned it, I do remember some discussion involving python dictionaries, but I still can not remember when/where was that.

[2017-09-21 07:17] ddemidov commented on #365
Was it about this function (#329, #330)? https://github.com/rhempel/ev3dev-lang-python/blob/06ae05faf27fc5d33dc5d26742a11ed2bc82e937/ev3dev/core.py#L1664-L1674

[2017-09-21 12:31] dwalton76 commented on #353
We have other parameters that need to be passed in though (`speed`) so basically everything becomes a positional arg.  So the user would do one of
[code]
That looks ok to me...one thing nice about forcing the `arg=` syntax is it makes the code very readable

[2017-09-21 12:45] WasabiFan commented on #365
Ooh, that looks like it! I guess we implemented a specialized version of this but not the generic solution.

[2017-09-21 14:45] #339 closed

[2017-09-21 14:48] dwalton76 commented on #338
demo content has been moved to https://github.com/ev3dev/ev3dev-lang-python-demo

[2017-09-21 14:48] #338 closed

[2017-09-22 12:16] dwalton76 opened #370 "motors API: speed_pct vs speed_dps vs speed_rps"
While working on #353 #360 one thing we did not address was the API for specifying the motor speed in something other than speed_pct.  The other two we want are `degrees per second` and `rotations per second`.

Some ideas that were floated:

**Option 1**
_How about we make the default units % just like EV3-G, plus introduce scaling factor constants for those who want scientific units._
[code]

**O

[2017-09-22 12:17] #353 closed, assigned to dwalton76

[2017-09-22 12:51] ddemidov commented on #370
**Option 3**
(copied from https://github.com/rhempel/ev3dev-lang-python/pull/360#issuecomment-331421475)
Introduce proxy properties for various units. For example, we could have
[code]
and then same thing for `rotations_sp`, `power_sp` (percentage of max_speed_sp), etc.

[2017-09-22 13:14] dwalton76 commented on #370
@ddemidov can you give an example `m.on_for_degrees(...)` call with option 3?

[2017-09-22 13:19] ddemidov commented on #370
I would just call our existing `m.run_to_rel_position(degrees_sp=360)`.

[2017-09-22 13:24] dwalton76 commented on #370
How would it be used for `m.on_for_degrees(...)` though?

[2017-09-22 13:26] ddemidov commented on #370
I think `m.run_to_rel_position(degrees_sp=360)` is exactly `m.on_for_degrees(360)`, no?

[2017-09-22 13:31] dwalton76 commented on #370
Say I'm a user and I want to rotate a motor for 720 degrees at 360 degrees per second, I'm asking how does that happen with option 3 via a call to `m.on_for_degrees()`.  Today if you call `m.on_for_degrees(360)` it is going to assert because 360 is speed_pct and it is greater than 100.

[2017-09-22 13:37] ddemidov commented on #370
`m.run_to_rel_position(degrees_sp=720, dps_sp=360)` should do it, where `dps_sp` is another proxy property, but for `speed_sp`.  We can rename (or create an alias) the method to `on_for_degrees` (I would prefer even simpler and generic `on_for` though: it would take kwargs dict and it would be useable with `degrees_sp` or `seconds_sp` or what not).

[2017-09-22 13:44] dwalton76 commented on #370
Ignore `run_to_rel_position`, that is what is happening behind the scenes :)  So you would have `m.on_for_degrees(dps_sp=360, degrees=720)`?  If so that looks the same as option 2

[2017-09-22 13:54] ddemidov commented on #370
Yes, it looks very much like option 2, but the implementation should is easier. Instead of
[code]
we can do
[code]
or even
[code]

[2017-09-22 13:59] ddemidov commented on #370
We can come up with a name more generic than `on_for_degrees` that would mean 'turn for some rotations units'. `rotate_for`? Then we can do `rotate_for(degrees_sp=720, dps_sp=360)`, or `rotate_for(turns_sp=2, rpm_sp=1)`, and it would mean the same thing.

EDIT1: And the implementation for it is as simple as
[code]
EDIT2: And that is exactly the implementation of our current  `run_to_rel_position`.

[2017-09-22 14:33] dwalton76 commented on #370
To me using kwargs makes the API much less readable/obvious if you are a new user looking at this for the first time...and that is really who we are trying to target here.  Today you can look at the EV3-G motor block and look at `def on_for_degrees(self, speed_pct, degrees, brake=True, block=True):` and connect the dots pretty quickly on how they are equivalent.  If we use kwargs we lose that.

[2017-09-22 14:35] ddemidov commented on #370
We can put positional arguments into the documentation, but implement it with keyword args.

[2017-09-22 14:44] dwalton76 commented on #370
That doesn't solve the problem of having readable/obvious code though :)

[2017-09-22 14:48] ddemidov commented on #370
Well, for me the code with kwargs is more readable because it is more concise, and the resulting API is better because it gives you more freedom: you can use whatever meaningful combination of attributes you need, and you are not constrained by the set of positional arguments a developer thought would be enough.

[2017-09-22 15:00] dwalton76 commented on #370
_it gives you more freedom: you can use whatever meaningful combination of attributes you need, and you are not constrained by the set of positional arguments a developer thought would be enough_

Agreed but we already have that with the current run_XYZ API, that isn't the problem we are trying to solve.  To me we don't want crazy amounts of freedom, we want a nice clean/obvious 1:1 mapping with t

[2017-09-22 15:03] ddemidov commented on #370
That is a good point. We can add proxy attributes and keep the current interface. And I think that would also let us implement the new 'simpler' API easier.

[2017-09-22 16:01] dlech commented on #370
I've been working on translating an EV3-G program for the last couple days and I am finding that having the API *exactly* the same as EV3-G is really the most useful thing to do and perhaps more importantly, it is just really fun.

What I mean by *exactly* is having positional arguments in the same order as the EV3-G software that take the exact same value. I thought I would like to have fancy ext

[2017-09-22 19:52] dwalton76 commented on #364
Any of you guys own one of these? I do not

[2017-09-22 22:35] WasabiFan commented on #364
Yeah, I have a few. I'll see if I can find one and implement this later today.

[2017-09-22 23:46] WasabiFan commented on #370
My two cents: in addition to what others have said, I think that we should fully commit to this new API surface if we're going to support it (and I'm pretty darn sure we are). My vote would be to remove the old methods given that the new ones are 1:1 replacements for all the normal use cases (or, if they aren't, add optional arguments to make them so).

[2017-09-23 02:42] dwalton76 commented on #354
What we have right now for `class Button` in `ev3dev/ev3.py` looks pretty good to me.  Is there anything to be done for this one?

PS
How does one use the on_left(), etc methods?

[2017-09-23 03:19] dwalton76 commented on #355
For the two calibrate methods per
http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/sensor_data.html

_[28] | This mode is not usable. When in COL-CAL mode, the color sensor does not respond to the keep-alive sent from the EV3 brick. As a result, the sensor will time out and reset._

so will skip those unless the quote above is no longer accurate.

I'm not sure what all we shoul

[2017-09-23 03:25] dwalton76 commented on #355
Do you guys see the RGB values that come from the sensor as very very dark?  I can point mine at the white side of a rubiks cube and it comes back with numbers like (34, 58, 46) on 0-255 scale.  That is basically dark green:
https://www.w3schools.com/colors/colors_converter.asp

I'm wondering if this thing is broken.

[2017-09-23 04:44] WasabiFan opened #372 "Rethink "connected" attribute"
When we originally designed the ev3dev-lang libraries, we based them all on a concept where devices would expose a `connected` property to indicate whether they had successfully found a device matching the parameters from the constructor. This has led to a lot of code that looks like this:

[code]

...and lots of confused users as a result (especially when they don't know to include that assertion

[2017-09-23 06:44] ddemidov commented on #372
I guess there is no point in creating a `Motor` class instance that is not actually linked to a physical motor, so :+1:

[2017-09-23 07:10] ddemidov commented on #370
Please lets not do this until we have the new API fully implemented. My feeling is the purpose of the new API is to make translation from EV3-G to our library simple, but not necessary 1:1. When a nicer API is possible, why not use a nicer API?

I am not saying that what I am proposing is nicer, just lets not do this only to have 1:1 mapping with EV3-G. After all, people move to ev3dev because the

[2017-09-23 08:03] rhempel commented on #370
Strongly suggest you implement an EV3G compatible API as a loadable helper module - leave the basic API as is because it's compatible across many scripting languages

[2017-09-23 11:40] dwalton76 commented on #372
Seems worth raising an Exception in this scenario

[2017-09-23 12:27] #361 closed, assigned to dwalton76

[2017-09-23 12:29] dwalton76 commented on #370
I don't think it hurts for us to keep the old API around...it is a little bit more code to maintain but it gives us backward compatibility

[2017-09-23 12:30] dwalton76 commented on #370
Will close this one for now but we may re-open it in a few months when we've had time to finish and work with the EV3-G 1:1 API.

[2017-09-23 12:30] #370 closed, assigned to nobody

[2017-09-23 16:26] WasabiFan commented on #370
I do. A user has no way of knowing the difference between `run_forever` and `on`, or `run_timed` and `on_for_seconds`. With both APIs available, code will be fractured between the two and only be confusing. The two types of methods have entirely different calling patterns and behaviors which isn't clear to any user.

If we are making choices, I'd prefer they are intentional and deliberate so we ma

[2017-09-23 17:18] ddemidov commented on #370
To think of it, how does the user know to look for `on_for_seconds` as opposed to `run_timed`? Aren't both of those just arbitrary names we came up for 'green motor block'? If `on_for_seconds` is somehow canonical, @dlech, are you willing to rename the corresponding action in kernel drivers?

Creating a EV3G compatibility layer in a  separate module sounds like a nice idea. Users can `import * fro

[2017-09-23 17:27] rhempel commented on #370
Thanks Denis - that's what I was trying to say. We have users that will be a bit annoyed if we change the API again

[2017-09-23 17:36] dwalton76 commented on #363
[code]

Is there a scenario where auto_mode would be False?  Doesn't seem like anything would work if it were unless the user also did `self.mode = self.MODE_COL_REFLECT` so you have the same behavior in the end.  I'm scratching my head a bit on why we have this.

[2017-09-23 17:36] dwalton76 commented on #363
TouchSensor class also has the mysterious self.auto_mode

[2017-09-23 18:04] ddemidov commented on #363
Every sensor has `auto_mode` field. When it is on, the appropriate mode will be selected before reading a value (e.g. when we read RGB from color sensor, it's mode will be set to 'RAW'). When it is off, user have to make sure sensor is in correct mode. This makes sense when user needs as much performance as possible.

[2017-09-23 18:14] dlech commented on #370
No. At this point, the only kernel changes I am planning on making are things that make it into the mainline kernel. I would really like to avoid these small breaking changes if at all possible because it breaks all existing ev3dev software.

This is exactly what I meant in #348. The current ev3dev-lang-python is the "low level" api because it looks and feels like the hardware drivers. You don't w

[2017-09-23 18:19] dwalton76 commented on #363
The mode has to be set correctly anyway though...I'm missing how it increases performance by having the user set the mode vs us setting it for them?  We could just cache what the current mode is and only update that attribute when it needs to be in a different mode....then we could chop the auto_mode variable.

[2017-09-23 19:17] ddemidov commented on #363
User can set the mode once and read the value many times. Caching current mode could work as long as we assume no one will change the mode from under our feet (e.g. another thread or process).

[2017-09-25 10:32] ensonic commented on #372
+1, right now you get exception when you try to use it anyway (e.g. when you set m.polarity right after constructing it).

[2017-09-25 23:28] WasabiFan opened #375 "Split core.py into individual files"
As discussed in ev3dev/ev3dev#937, it would be helpful for many reasons to split each class or area into its own file.

The primary difficulty here is that we want to wait until all outstanding work is merged so that we don't accidentally lose anything. Naturally, git will treat all of these changes as deletions and creations rather than a clean delta.

[2017-09-26 01:30] WasabiFan opened #377 "Proposal for Stretch package versioning"
I'd like to propose the following versioning scheme for future releases targeting ev3dev-stretch.

I think we should leave `v1.y.z` as-is to target Jessie for any future work, and release Stretch versions starting at `v2.0.0`. Given that it's looking like our first Stretch release will include reasonably large changes from `v1.0.0` and, more importantly, some breaking API changes, starting at `2.0

[2017-09-26 12:06] dwalton76 commented on #354
@WasabiFan @dlech can you spot anything that we are missing to be EV3-G 1:1?  If not lets close this one.

[2017-09-26 12:07] dwalton76 commented on #375
Once the Infrared PR is in I will not have any more EV3-G APIs in progress so I could pause on that front so we can split up core.py.

[2017-09-26 15:06] #363 closed, assigned to dwalton76

[2017-09-26 15:07] dwalton76 opened #378 "Deprecate Sensor.auto_mode"

[2017-09-26 15:09] dwalton76 opened #379 "Deprecate helper.py"
- All of the motor functionality that I put in there now exists in core.py (it didn't at the time that I wrote it). I need to update MINDCUB3R to not use the helper.py and then all of the motor code in there can go.
- The wheel classes could be moved into a wheel.py, BALANC3R and GYROBOY demos will need to be updated.
- We need to find a home for RemoteControlledTank
- ColorSensorMixin only added

[2017-09-26 15:12] dwalton76 opened #380 "InfraredSensor - add support for on_red_up, on_red_down, etc bindings per channel"
This came up in the discussion PR #374 . Today you have to create an InfraredSensor object per channel to accomplish this.

[2017-09-26 15:26] dwalton76 opened #381 "EV3-G API - breaking changes"
Use this issue to track breaking changes that need to be documented.

PR #374 removed these classes
- RemoteControl
- BeaconSeeker

[2017-09-26 15:30] dlech commented on #354
How do you wait for a button to be pressed/released/bumped?

[2017-09-26 15:45] dlech commented on #381
If we are going to make breaking changes can we do the following:

1. Release a 1.x version on ev3dev-stretch that includes 06ae05faf27fc5d33dc5d26742a11ed2bc82e937 - this should get OpenRoberta working on stretch - it is currently broken (someone just asked about this on IRC this morning).
2. Rename the root namespace and package names so that 1.x and 2.x can be installed in parallel (e.g. `ev3de

[2017-09-26 15:46] dwalton76 commented on #354
We don't have a way to do that but from looking at the EV3-G block it doesn't either?  It sounds useful though (and we have it for TouchSensor), we can add it.

[2017-09-26 16:03] dlech commented on #354
And what about bumped?

[2017-09-26 16:06] dwalton76 commented on #354
I'll add pressed, released and bumped

[2017-09-26 16:08] dlech commented on #354
Here is a more fleshed out view of the EV3-G buttons blocks:

![image](https://user-images.githubusercontent.com/963645/30870787-6b2cc56c-a2aa-11e7-963c-25fb31fd971d.png)

![image](https://user-images.githubusercontent.com/963645/30870801-76beeb9e-a2aa-11e7-8f8f-5b5c8d4b0a0e.png)

![image](https://user-images.githubusercontent.com/963645/30870836-91f28466-a2aa-11e7-940a-8dd17e548fbd.png)

![image]

[2017-09-26 16:28] ddemidov commented on #381
For reference: https://github.com/rhempel/ev3dev-lang-python/issues/339#issuecomment-327022503

[2017-09-26 16:30] ddemidov commented on #381
I understand the package name change, but why the root namespace?

[2017-09-26 16:34] dlech commented on #381
It doesn't have to be the *root* namespace, but if both version are installed at the same time there has to be something different in the namespace, does there not? Otherwise, how would imports work?

[2017-09-27 01:16] WasabiFan commented on #364
I'm taking a look at this now and realizing that we already have almost all of this. The distances are properties called`distance_inches` and `distance_centimeters`, and presence is ` other_sensor_present`. We don't have measuring modes though (I don't fully understand that). Do we want to rename these to be more literal translations?

[2017-09-27 03:35] dwalton76 commented on #364
yeah I'm not sure what `ping` vs `continuous` really means...it could only be `continuous` for so long because eventually you have to return an answer.  I just found a youtube video on it....watching

[2017-09-27 03:44] dwalton76 commented on #364
LOL well the guy in the video said "I haven't really experimented much with the advanced ping vs continuous thing"

[2017-09-27 03:48] dwalton76 commented on #364
ok found something
https://forums.usfirst.org/forum/general-discussions/first-programs/first-lego-league/the-challenge/programming-ab/12738-ev3-helpful-hints/page6

[2017-09-27 03:50] dlech commented on #364
continuous means that the ultrasonic sensor is continuously sending out a sound signal. If you have multiple sensors they will interfere with each other. Ping means that the sensor does one measurement and then turns off the speaker. This allows multiple sensors to take turns without interfering with each other.

in order to get the ping to work, you have to set the mode each time you want to ping

[2017-09-27 11:52] #355 closed, assigned to dwalton76

[2017-09-27 12:09] dwalton76 commented on #354
@dlech for EVB what should its _buttons be now?  This is what we have for EV3
[code]

EVB barfs on
[code]

Am running this on my EVB:
[code]

[2017-09-27 12:10] dwalton76 commented on #354
you know what, I probably need to update my EVB, ignore this for a bit

[2017-09-27 12:18] dwalton76 commented on #354
nope same issue
[code]

[2017-09-27 16:05] dlech commented on #354
[code]

Looks like `/dev/input/by-path/platform-evb-buttons-event` will work.

[2017-09-28 13:31] dwalton76 commented on #354
Will the kernel set `select.POLLPRI` when `/dev/input/by-path/platform-evb-buttons-event` is modified?  It doesn't seem to be...the `_wait()` that I wrote is almost identical to the one used by TouchSensor but I never get an event that the file changed.

[2017-09-28 15:44] hashworks opened #384 "not working on Debian Stretch"
Hi, how is the progress of `ev3dev-lang-python` for Debian Stretch?

I'm using images that descend from the [ev3dev-stretch-ev3-generic](https://hub.docker.com/r/ev3dev/ev3dev-stretch-ev3-generic/tags/) docker builds on ev3 bricks.

When starting robertlab I get a `File not found` error since it tries to use `/dev/input/by-path/platform-gpio-keys.0-event`, which apperently got replaced by `/dev/in

[2017-09-28 15:46] ddemidov commented on #384
Related to #381

[2017-09-28 15:49] hashworks commented on #384
Ah, sorry. Completly missed that one

[2017-09-28 16:25] dlech commented on #354
Try `select.POLLIN`. It is rare to use POLLPRI.

[2017-09-28 20:43] dwalton76 commented on #354
ok it turns out polling for TouchSensor isn't working, I just thought it was because POLLIN never blocks.  What I am seeing...

## Motor wait()
- POLLPRI blocks until the file is touched, perfect
- POLLIN does not block

## TouchSensor _wait()
- POLLPRI does not block
- POLLIN does not block

## buttons _wait()
- POLLPRI blocks but doesn't fire when the file is touched
- POLLIN does not block

[2017-09-28 21:00] dlech commented on #354
Which kernel version? POLLIN is working for me on `4.9.49-ev3dev-1.5.1-ev3` on motors and buttons (haven't tried sensors).

[2017-09-28 21:03] dlech commented on #354
Actually, I take that back about buttons. I'm just reading directly on a background thread without polling. `read` blocks until there is data available.

[2017-09-28 21:07] WasabiFan commented on #384
Yeah, we're currently working on an initial Stretch release. I'm hoping to get that out for testing within a week or two at most. Until then, you'll either have to download a work-in-progress version of the library for use temporarily or use ev3dev-jessie.

[2017-09-28 21:19] dwalton76 commented on #354
[code]

[2017-09-28 23:51] dwalton76 commented on #375
We should go ahead and figure out what we want the `ev3dev` directory structure to be.  Today we have
[code]
and we are about to add evb.py and pistorms.py.  Brainstorming....

## Platforms
Maybe it is time for a `platforms` sub-dir to hold
- brickpi.py
- ev3.py
- evb.py
- pistorms.py

Moving ev3.py would make me a little nervous because so many people import it instead of auto.py.  But if we were

[2017-09-29 00:19] WasabiFan commented on #375
I'm going to have to claim ignorance here... I know almost nothing about the Python module/import system. Can you confirm/correct these beliefs? When importing a module...

- If there's a directory by that name within the python path list its `init.py` is evaluated and the result imported
- If a matching file is found, it is evaluated and the result imported

---

WRT your proposals, that _sounds_

[2017-09-29 00:50] WasabiFan opened #385 "EV3-to-EV3 protocol: client support for daisy-chaining"
We had a discussion in https://github.com/ev3dev/ev3dev/issues/92 a while back about support for daisy-chaining in ev3dev. The conclusion seems to have been that, if it were implemented, it would be implemented as custom logic in the individual client libraries. I received some questions about daisy-chaining with Python on ev3dev so I figured I'd open this issue to discuss. I don't expect much of

[2017-09-29 01:24] dlech commented on #375
Here's how I would do it (assuming breaking imports is not a concern)...

[code]

Key points:

* There is one module for each major component, sensors, motors, lights, sound, display, etc.
* There are lots of sensors, so there is a module for each vendor.
* There is a platform module. It is private because now that there is /sys/class/board-info, all platform stuff can happen automagically. There

[2017-09-29 01:36] WasabiFan commented on #375
I have to say, I really like @dlech's proposal (which is pretty much a superset of @dwalton76's). Some questions:

1. If I import the root module, does it import `_platform` and all the sub-modules?
2. If I import `_platform`, does it import all the other modules? This is what `auto` currently does.

In my opinion, the answers should be 1) yes and 2) no, but that's just a preliminary thought.

[2017-09-29 01:41] dwalton76 commented on #375
For code varies by platform (take buttons for instance), will the user do `from ev3dev import button` and that in turn determines the platform and imports the appropriate `platform/XYZ.py` or will all button code for all platforms live in button.py?  If the latter would we even need the `platform` dir?  If its the former it might get a little confusing for the button code to be spread out in diffe

[2017-09-29 01:58] WasabiFan commented on #375
😕 um... why are the LEDs under "display"? I view those as quite different things ("display" being _the_ display) and have often used LEDs but almost never used the display.

[2017-09-29 02:00] dwalton76 commented on #375
Maybe `visualoutput` instead of `display` is a more descriptive (but way too long to actually use) way of describing how I group them together in my head :)

[2017-09-29 02:05] dwalton76 commented on #385
I mentioned [SSDP](https://en.wikipedia.org/wiki/Simple_Service_Discovery_Protocol) in that discussion, I have a python implementation of that working.  It could be used to discover the other EV3s on the network via IP multicast.  Just one small piece of the puzzle

[2017-09-29 02:08] dlech commented on #375
It could

Nope. The `_platform` module figures out which platform and imports the appropriate submodule. e.g.

[code]

The other modules would use `_platform` to get things like paths and port names.

---

HDMI on RPi already should work with the existing display class. It provides an `fbdev`, the same as all of the other displays that we use.

So, I don't really forsee any possible expansion in t

[2017-09-29 02:09] dlech commented on #375
Yes. Way overkill. :smiley:

[2017-09-29 02:10] WasabiFan commented on #375
How does the user access the `OUTPUT_*` and `INPUT_*` constants?

[2017-09-29 02:17] dlech commented on #375
First, I would suggest allowing the names `'A'`, `'B'`... `1` (or `'1'`), `2`... to be automatically converted to the correct port name. It's much shorter and pretty obvious. (If it quacks like a port name...)

Since the constants refer to ports, they should live in the `port` module. So the user might do this.

[code]

And the implementation in `port.py` might look like this...

[code]

[2017-09-29 02:28] dlech commented on #385
FYI, ev3dev-stretch already has avahi and ssdp daemons that allow autodiscovery.

[2017-09-29 02:44] dwalton76 commented on #354
@dlech want me to file an issue for POLLIN support on motors, sensors and buttons files?  Either that or POLLPRI for all three.

[2017-09-29 02:46] #378 closed, assigned to dwalton76

[2017-09-29 02:57] dlech commented on #354
POLLIN works for me, so I can't really help much unless you have some code to reproduce the problem. I suspect that there is a problem with your code rather than a problem with ev3dev.

[2017-09-29 03:06] dwalton76 commented on #354
I haven't used poll much, I just followed what was done for motors.  Here is what I did for TouchSensor:
https://github.com/rhempel/ev3dev-lang-python/blob/develop/ev3dev/core.py#L2275-L2285

and here is the motors equivalent
https://github.com/rhempel/ev3dev-lang-python/blob/develop/ev3dev/core.py#L920-L940

[2017-09-29 03:17] dlech commented on #354
I don't see that notification for sensors was ever implemented, so I don't expect that to work.

https://github.com/ev3dev/ev3dev/issues/498

[2017-09-29 10:44] dwalton76 commented on #381
`auto_mode` for Sensors has been removed

[2017-09-29 21:59] kortschak commented on #365
I'm considering the design for ev3go now and I'd like input from you all. The approach that I'm leaning towards capturing all the invariant attributes on opening the device (I'll add struct fields to the device types). This differs from the approach above in that there is an upfront cost to getting the values, but it means that I can make the methods to return the values later non-errorable. It al

[2017-09-29 22:17] WasabiFan commented on #365
The fact that errors are entirely avoided by your approach is interesting; aside from that, I see very little reason to go one way or the other. And honestly, I don't think there's a significant difference from a speed perspective either, because the read operations are extremely quick when considered relative to all the other things happening in one of these apps. Overall, it seems reasonable to

[2017-10-01 12:54] #354 closed, assigned to dwalton76

[2017-10-01 13:25] dwalton76 commented on #375
For code varies by platform (take buttons for instance), will the user do `from ev3dev import button` and that in turn determines the platform and imports the appropriate `platform/XYZ.py` or will all button code for all platforms live in `button.py`? If the latter would we even need the platform dir? If its the former it might get a little confusing for the button code to be spread out in differe

[2017-10-01 15:19] dwalton76 commented on #358
Per this video
https://www.youtube.com/watch?v=D2cGnTxsdy4

- play_type 0 is wait for completion
- play_type 1 is "play once"...I assume do not wait for completion
- play_type 2 is "play on a loop"

[2017-10-01 15:36] dwalton76 commented on #358
[code]

Unless anyone objects, I am going to make the Sound class follow the model of all of our other classes where it is expected that you create an instance of that class.

[2017-10-01 15:44] ddemidov commented on #358
I think you can already create an instance of the Sound class and used it that way.

[2017-10-01 15:47] dwalton76 commented on #358
`self` isn't expected in any of the methods though...I don't think it would work.  Either way will clean it up and make it consistent.

[2017-10-01 15:50] ddemidov commented on #358
That's because the methods are static. The class is stateless, so self is not necessary. But the following works for me:
[code]

[2017-10-01 17:51] dlech commented on #375
As far as I can tell, the platform-specific part for buttons is just the path to the device node (`/dev/input/...`), so that is what would be be importing from `_platform`. The way I envisioned it is that the platform files are for the most part, just a bunch of names of things that are different between platform. The travis platform file might have more code for faking things for testing.

[2017-10-01 18:55] dwalton76 commented on #358
The only musical instrument I can play is the radio.  My musical ignorance is making `play_note()` challenging to implement. @EricPobot you wrote a lot of the code in this area earlier this year, would you be willing to implement that part of the EV3-G API for the `Sound` class?

[2017-10-01 19:12] #362 closed, assigned to dwalton76

[2017-10-01 19:15] dwalton76 commented on #381
For `InfraredSensor` we changed the following names
- `red_up` is now `top_left`
- `red_down` is now `bottom_left`
- `blue_up` is now `top_right`
- `blue_down` is now `bottom_right`

and the `on_red_up`, etc handlers now support multiple channels and are named `on_channel1_top_left`, etc

[2017-10-01 19:17] #380 closed, assigned to dwalton76

[2017-10-01 21:11] WasabiFan commented on #358
Related: https://github.com/ev3dev/ev3dev/issues/970

[2017-10-01 21:38] dlech commented on #358
I think the question is how do you convert a musical note to a frequency. Here is a table from the official LEGO firmware.

[code]

[2017-10-01 23:32] WasabiFan commented on #358
Part of the EV3-G API lets you play named sounds (not paths, but preloaded sounds from a list). I'd imagine we will have some sort of support for that using the `ev3dev-media` package mentioned.

[2017-10-02 03:42] ddemidov commented on #358
I believe our [`play_song`](https://github.com/rhempel/ev3dev-lang-python/blob/develop/ev3dev/core.py#L3968) should be enough to implement `play_note`: It plays a sequence of notes. (And the [`_NOTE_FREQUENCIES`](https://github.com/rhempel/ev3dev-lang-python/blob/develop/ev3dev/core.py#L4071) is a superset of the list @dlech provided).

[2017-10-02 19:42] dlech commented on #354
After a bit more research, it seems that poll with sysfs only support POLLPRI, so what you observed with the motor state sysfs attribute is the expected behavior.

[2017-10-02 21:04] dlech commented on #354
Another thing is that if you have never read a file, poll won't block. So you have to read at least once before calling poll if you want to see it block.

[2017-10-03 01:20] dwalton76 commented on #354
Ack will fix that for motors, that is the only place we are using POLLPRI

[2017-10-03 01:23] dwalton76 opened #390 "motors POLLPRI: need to read mode file at least once"

[2017-10-03 08:16] LorenzoBrualla commented on #385
I am doing a project that involves two daisy chained EV3 bricks. Is there any way to write a program in Python that allows daisy chaining with the currently available ev3dev software? If this is possible I would appreciate to know references to the relevant documentation. Thanks.

[2017-10-03 16:07] dlech commented on #385
@LorenzoBrualla check out https://sites.google.com/site/ev3python/learn_ev3_python/rpyc

[2017-10-04 01:23] fisherds opened #392 "Differential drive class"
This is just a potential feature request not a bug.  (probably a duplicate of some other feature request but I didn't find it)

There are many EV3 Lego creations that are mobile robots (most EV3 designs have wheels or tracks actually).  When doing the programming for a mobile robot, users need to convert motor degrees into distances and into whole robot turn amounts.  Obviously we can do these con

[2017-10-04 04:15] gregcowell opened #393 "MoveTank on_for_rotations method problem"
- **ev3dev version:** 4.4.87-22-ev3dev-ev3
- **ev3dev-lang-python version:** develop branch

If I run the code below, the wheels/tracks do not rotate in opposite directions as expected:
[code]
This also affects the MoveSteering on_for_rotations method since it uses the MoveTank equivalent. I will submit a proposed fix as a pull request.

[2017-10-04 11:32] #379 closed, assigned to dwalton76

[2017-10-04 11:32] #375 closed, assigned to dwalton76

[2017-10-04 11:33] dwalton76 commented on #381
Importing core.py and auto.py will no longer work

[2017-10-04 13:27] #393 closed, assigned to nobody

[2017-10-04 16:36] dlech commented on #393
I notice that you are using kernel 4.4.87-22-ev3dev-ev3, which is ev3dev-jessie. The develop branch of ev3dev-lang-python is for ev3dev-stretch (the next generation ev3dev release). Did you intent for this problem to be fixed in ev3dev-jessie as well?

[2017-10-04 19:19] WasabiFan commented on #393
I don't think the steering classes exist in the Jessie branch... Not sure though.

[2017-10-04 21:37] dwalton76 commented on #392
I like it.  @fisherds you should submit a pull request :)

[2017-10-05 01:06] dwalton76 commented on #390
Won't fix...up to the user to make sure they read it one time at the start (very likely)

[2017-10-05 01:06] #390 closed, assigned to dwalton76

[2017-10-05 12:24] ddemidov commented on #381
Which is better: rename stable package (and namespace) for OpenRoberta to `ev3dev-v1` or `ev3dev-jessie`, or rename future packages to `ev3dev-v2`?

[2017-10-05 12:32] ensonic commented on #381
I'd appreciate if we keep things stable for jessie. If we break things for stretch anyway I'll need to do some porting and depend on the right version. So please collect a list of things that are changed.

[2017-10-05 12:51] dwalton76 commented on #381
Can we keep just one package name but with different versions?

[2017-10-05 13:03] WasabiFan commented on #381
@ensonic see above. This thread is devoted to tracking breaking changes to make sure we can adequately document it.

[2017-10-05 13:49] ddemidov commented on #381
@dwalton76, see https://github.com/rhempel/ev3dev-lang-python/issues/381#issuecomment-332241734

[2017-10-05 16:06] dlech commented on #381
@ddemidov: If you rename the v1.x package and/or namespace, it breaks OpenRoberta, which defeats the purpose of trying to not break it. I like just adding a `2` to the names (instead of `-v2`), like you can have `gtk2` and `gtk3` installed at the same time or `qt4` and `qt5` installed at the same time. It is a common pattern in Linux.

@ensonic: I don't think there are any plans to make an breakin

[2017-10-05 16:20] ensonic commented on #381
@dlech if it is not too much of a hassle having both api version installable in parallel would be great of course.
I think it would also be fair to then tell people that the new development happens on v2 and v1 is maybe getting a few patches for a while to keep it working (if needed). Sounds like a plan to me.

[2017-10-05 16:22] ddemidov commented on #381
I'll try to publish stable version compatible with stretch tomorrow.

[2017-10-05 21:09] WasabiFan commented on #381
@ddemidov I think we should start with a PR for the name/version/changelog updates and then publish once we've reviewed that and made sure it's what we want. Also, we'll need to update the README.

[2017-10-05 21:18] WasabiFan opened #399 "Create an upgrading guide for Jessie to Stretch"
We should look into writing a simple page that lists the changes that one needs to make to upgrade their scripts to our v2 release for Stretch. The most important change would be to imports (it's looking like we might rename the module to ev3dev2) but there are some sensor types which we also shifted around. There's an issue with a full list.

It would also be nice to outline the new features, spe

[2017-10-08 13:01] dwalton76 commented on #392
I started on this one so will take it unless someone else is interested in working on it

[2017-10-08 13:03] dwalton76 commented on #384
See PR #400 (assigning to Denis)

[2017-10-08 13:03] dwalton76 commented on #372
See PR #402

[2017-10-08 13:05] #358 closed, assigned to dwalton76

[2017-10-08 13:11] dwalton76 opened #403 "EV3-G API: Sound.play_note()"
![30606561-16a38a0e-9d40-11e7-9803-830261c4714b](https://user-images.githubusercontent.com/468309/31317060-06cb2ffc-ac08-11e7-9419-cdaf779be144.png)

@EricPobot we chatted about this for a bit in #358 ...can you take a look at implementing a
[code]
in the Sound class?

[2017-10-08 13:13] dwalton76 opened #404 "Move this repo to https://github.com/ev3dev/"
We should move it there to be with all of the other official repos for ev3dev

[2017-10-08 13:22] dwalton76 opened #405 "How to add new users to this repo?"
I want to assign issue #404 to @dlech but when I click on `Assignees` it only lists myself, ralph, wasabi and denis.  How do we add users to the repo so that we can assign them issues, etc?  I'm sure @rhempel has permission to add users but does anyone else?

I have the same issue over in https://github.com/ev3dev/ev3dev-lang-python-demo I want to assign https://github.com/ev3dev/ev3dev-lang-pytho

[2017-10-08 13:59] dlech commented on #404
@rhempel will have to transfer ownership of the repository, otherwise the only thing I can do is start a new repository from scratch.

[2017-10-08 14:02] dlech commented on #405
I'll see what I can do about the demo repo.

[2017-10-08 14:41] dwalton76 commented on #356
Should we rename `display.py -> screen.py` since the class is `Screen` or do we want leave to the filename alone and change our class from `Screen` to `Display`?

[2017-10-08 14:53] dwalton76 commented on #356
I am going to guess that we cannot include the screen `.bmp` files here due to copyright reasons?
https://sites.google.com/site/ev3basic/ev3-basic-programming/using-buttons-the-screen-and-the-leds/lego-ev3-standard-bitmaps

[2017-10-08 14:56] ddemidov commented on #356
I vote to stick with `Screen` as class name and rename the file.

[2017-10-08 15:55] jabrena commented on #404
In my humble opinion,

I think that it is necessary to differentiate the Linux Distro from the Application usage, the programming language ecosystem. Maybe, `ev3dev-lang-python` should have his own organization but not merge on `ev3dev`.

Cheers

Juan Antonio

[2017-10-08 20:55] WasabiFan commented on #356
https://github.com/ev3dev/ev3dev/issues/970

When I say "screen" a few times in my head it loses all meaning... I feel like "display" is a bit more clear. I don't have a strong opinion though.

[2017-10-08 21:16] WasabiFan commented on #405
I don't have permission either. I think repos owned by a single user might not allow multiple admins.

[2017-10-08 21:18] rhempel commented on #405
If you have users that you trust I will add them.

[2017-10-09 07:33] ensonic commented on #356
For the assents, we could start a collection of free replacement images. I don't think we can get LEGO to license them to us in a useful way, since content if often done by sub contracting companies.
For the bars, gauges and eyes, I'd love to have classes where one can properly animate them though.

[2017-10-09 10:29] ddemidov commented on #381
@dlech, I am trying to create stretch packages. Do I understand correctly that I need to do `OS=debian ARCH=amd64 DIST=stretch pbuilder-ev3dev base` (instead of `OS=debian ARCH=amd64 DIST=jessie pbuilder-ev3dev base`)? The command gives me
[code]

[2017-10-09 13:16] dlech commented on #356
See https://github.com/ev3dev/ev3dev/issues/970

[2017-10-09 13:21] dlech commented on #381
The command looks correct. It seems odd that you wouldn't have gnupg installed. Have you tried installing it?

[2017-10-09 13:40] ddemidov commented on #381
[code]
But that is on my host system. I thought the error comes from withing pbuilder environment. Also, the command with `DIST=jessie` does work.

[2017-10-10 01:37] dlech commented on #381
I use `pbuilder-ev3dev` all the time with stretch, so I'm not sure what the difference would be (unless `pbuilder-ev3dev` needs to be upgraded?).

[2017-10-10 12:50] dwalton76 commented on #356
Let's look to see what EV3-G calls this block (screen or display) and follow that...I'll take a look this evening.

[2017-10-10 17:51] dwalton76 opened #406 "motors API: passing something other than speed percentage"
Today in `on_for_rotations()`, etc the user passes the speed_pct because this is how the EV3-G block works.  I started updating the MINDCUBER demo to use the new API but I end up doing the following all over the place (two lines, one to cald the speed_pct and a second to call the API)
[code]

which works just fine but doesn't look super clean (side note, `on_to_position()` is new).  What if the `o

[2017-10-10 23:01] WasabiFan commented on #406
Maybe this is just my non-Python background, but doesn't this style feel a bit unnatural? To an experienced programmer, it seems like there would be a more direct and obvious way of specifying this value; to an inexperienced one, it would be quite easy to misinterpret the grouping and be left completely confused. Why not add other named parameters for `speed_dps`, `speed_rpm`, etc.?

[2017-10-10 23:10] dwalton76 commented on #406
we could do
[code]

where the user would then call via
[code]

but I was worried that might be confusing when comparing our API vs the EV3-G block since the speed parameter is out of order (in the block it is specified first).

[2017-10-10 23:14] WasabiFan commented on #406
That seems cleaner to me, but I'd be interested to hear what others think.

[2017-10-10 23:14] dwalton76 commented on #406
Another option would be something like
[code]

and then the user would call via
[code]

That does look a little less hackish doesn't it

[2017-10-10 23:16] dwalton76 commented on #406
For the `SpeedRPS` approach `on_for_rotations()` would need to call a function that uses isinstance to correctly convert the SpeedRPS value to speed percentage.

[2017-10-10 23:24] WasabiFan commented on #406
That seems like a pretty nice option as well.

You could also put a `get_speed_sp(Motor)` method on each of the "unit" classes and call that from our side. That would make it super easy to extend the behavior with custom units (e.g., rotations through gearing or feet of travel) and remove the need for a chain of `if`s.

[2017-10-10 23:29] dwalton76 commented on #406
I like that...let me try this out and will update the PRs

[2017-10-10 23:51] WasabiFan commented on #406
The one downside I see to this approach is that if we intend to recommend the `from ev3dev.motor import Motor, OUTPUT_A, OUTPUT_B, ...` approach you'll have to manually import each of the unit types, which is a pain.

[2017-10-10 23:57] dwalton76 commented on #406
yeah but I bet most programs only use one speed unit so hopefully won't be bad....new code posted

[2017-10-11 01:16] fisherds opened #409 "add ev3.Leds.BLACK to the docs"
I noticed in the docs that the LED color BLACK was missing.
http://python-ev3dev.readthedocs.io/en/stable/other.html#leds

Also right now the docs aren't displaying on latest:
http://python-ev3dev.readthedocs.io/en/latest/other.html#leds

First link (to stable) is fine, second link (to latest) fails for me.

[2017-10-11 01:47] WasabiFan commented on #409
It looks like that documentation include statement is missing from https://github.com/rhempel/ev3dev-lang-python/blob/9b900bbe8c0746485f105742cb74989301d11362/docs/other.rst

I have some WIP changes locally that'll fix this on all docs pages.

[2017-10-11 01:55] #406 closed, assigned to dwalton76

[2017-10-11 12:45] dwalton76 commented on #355
Prior to this commit `ColorSensor.rgb()` took the raw RGB values and scaled them to 0-255 based on a 0-1020 scale (since that is the official range of the values returned by the sensor).  The color sensor never returns anything close to 1020 though so the end result was that we got very dark RGB values out of `rgb()`.  A typical MINDCUBER scan of a rubiks cube would look like this:

![color-sensor

[2017-10-11 15:47] bidaian commented on #372
Throwing the exception is ok. But, should we get rid of the connected attribute too? Isn't there a valid use case for it?

[2017-10-11 20:25] WasabiFan commented on #372
Yep, one of the changes in #402 is to remove the attribute entirely. In fact, that's the title of the PR.

[2017-10-11 21:27] bidaian commented on #372
I noticed the title :). My question is, if it would make sense to just throw the exception but not get rid of the attribute, because it might come in handy at some point (for things that could actually go on/offline after instantiation) and because it was exposed, so it's removal would break things (for example [this]() or [this](https://github.com/EyeTreasure/EV3_PYTHON/blob/8ff7d53ec1c7638384008

[2017-10-11 21:42] WasabiFan commented on #372
Yes, it will be a breaking change. I can't imagine a case where a device would come on/offline in a way that we'd notice proactively (i.e., every read of `connected` would need to perform I/O to check if things are still connected). If there are devices that have such a need, those classes can implement this attribute as needed.

Existing scripts will work as-is. I'm working on an "upgrading guide

[2017-10-11 21:50] bidaian commented on #372
Well done. No concerns then. Thanks for clearing that up.

[2017-10-12 13:55] ddemidov commented on #381
I upgraded both the host machine (virtual image of Ubuntu 16.04.3 LTS) and pbuilder-ev3dev package. I am still getting
[code]
when I do `OS=debian ARCH=amd64 DIST=stretch pbuilder-ev3dev base`. I do have `gnupg` and `gnupg2` installed on Ubuntu though. @dlech, perhaps you have something in `.pbuilderrc` (mine is empty)? Do I need to add anything to [archive list](http://www.ev3dev.org/docs/devtool

[2017-10-12 13:56] ddemidov commented on #381
[pbulder.log](https://github.com/rhempel/ev3dev-lang-python/files/1379536/pbulder.log)
Here is the complete log of `OS=debian ARCH=amd64 DIST=stretch pbuilder-ev3dev base`.

[2017-10-12 14:08] dwalton76 commented on #392
@fisherds if you say `drive in an arc to the left with a radius of 50cm` is the expectation that the outer wheel, inner wheel or midpoint between the two wheels creates a circle with a radius of 50cm?

[2017-10-12 14:09] dwalton76 commented on #392
Same basic question in regards to setting driving speed, are you specify the speed of the outer wheel, inner wheel or of the midpoint between the two wheels.

[2017-10-12 14:28] fisherds commented on #392
@dwalton76 I think the best plan is midpoint for all questions like that.  Love that you are working on this idea!

[2017-10-12 15:59] rhempel commented on #405
I am ok moving this to the formal ev3dev organization - @dlech let me know what steps to take and I'll do it tonight

[2017-10-12 21:43] dwalton76 commented on #356
ok EV3-G calls their block `Display` to lets stick with display.py but change the name of our class from Screen to Display so we are 1:1

[2017-10-12 22:10] dwalton76 commented on #356
Some references on display

- http://ev3lessons.com/translations/en-us/beginner/Display.pdf
- http://www.mainerobotics.org/uploads/8/3/4/4/8344007/using_the_ev3_display_block.pdf

[2017-10-12 22:12] dwalton76 commented on #381
The `Screen` class is now called `Display`, this was done to match the EV3-G API 1:1

[2017-10-12 22:22] WasabiFan commented on #381
@ddemidov @dlech Can you open a new issue to discuss the packaging problems? I want to keep this thread clear so we can use it to track the list of breaking changes.

[2017-10-13 04:28] ddemidov commented on #381
Or we could use #400.

[2017-10-14 02:38] dlech commented on #355
FYI, converting to HSV or some other colorspace would be even more accurate.

[2017-10-14 02:42] dlech commented on #405
Under the settings for this repository, there is an option to "transfer" the repository. Just use that to transfer it to "ev3dev" and GitHub will transfer everything and setup redirects for all of the links.

[2017-10-14 04:09] dwalton76 commented on #355
RGB is very handy for printing in web pages for debugging color issues but sucks for computing color distances of one color vs. another.  HSV I never had much luck with for color comparison.  I found that Lab color space works best for comparing colors, you take the euclidean distance between the two colors and that works really well.  This is what I use for all of the color resolving that has to

[2017-10-14 04:10] dwalton76 commented on #355
PS
This is a good article on python and color sorting
http://www.alanzucconi.com/2015/09/30/colour-sorting/

[2017-10-14 04:11] dwalton76 opened #413 "ColorSensor: add lab() method"
Returning the color in Lab color space would be handy

[2017-10-14 04:14] dwalton76 opened #414 "GyroBalancer.py : update to no longer use RemoteControl"

[2017-10-14 04:49] WasabiFan commented on #413
For a typical user, HSL or HSV would probably be most useful; I very commonly use HSL in my vision algorithms because it's quite easy to use for color segmentation.

[2017-10-15 07:33] rhempel commented on #404
Ownership transferred to ev3dev - thanks for your continued support - it's in good hands :-)

[2017-10-15 07:33] #404 closed, assigned to nobody

[2017-10-15 18:12] rhempel commented on #405
Transferred ownership of this repo to ev3dev organization.

[2017-10-15 18:12] #405 closed, assigned to nobody

[2017-10-16 14:09] YuHanChen04 opened #415 "How to connect remote control ?"
Hey , I have a program want to ask you to help.
I want to define my Remote control and connect with my ev3dev .
I was use this  rc = ev3.RemoteControl(channel=1)
and sudo python3 myfile.py it shows this on the terminal ,
it make me feel so confuse , could you help me to solve program ?
I really really need your help . Thank you so much !!!

**Traceback (most recent call last):
  File "test.py", li

[2017-10-16 14:29] WasabiFan commented on #415
Please provide the details of the ev3dev and library versions you are using. Did you make sure to plug in the infrared sensor before running your code?

[2017-10-16 18:43] JolyCoder opened #416 "Brickman"
How to run python script in File Browser on Brickman

[2017-10-16 19:44] ensonic commented on #416
Just select it and press the middle button. For that the script needs to be executable (+x) and needs to have the right she-bang (e.g. #!/usr/bin/python3) in the first line.

[2017-10-16 21:06] WasabiFan commented on #416
In other words, follow this section of the README instructions: https://github.com/ev3dev/ev3dev-lang-python/blob/develop/README.rst#writing-python-programs-for-ev3dev

[2017-10-17 11:59] dwalton76 opened #418 "Update GyroBalancer to new API"

[2017-10-17 12:17] #356 closed, assigned to dwalton76

[2017-10-19 19:53] Joshua-Jurgensmeier opened #419 "API Plans?"
Hello, I am currently teaching a group of students python with ev3dev and EV3 robots.  I understand (and am grateful) that this project is being actively developed, and thus things will change.  However, after reading various issues on this repository, I can't quite tell what your guys' direction is for the API.  At some point I need to lock-in a version and stick with it, but the more forward com

[2017-10-19 21:23] WasabiFan commented on #419
I'm glad to hear that you are working on using ev3dev for teaching! I'm personally quite excited about this area and would be happy to answer any other questions.

For starters, I began work on some intial documentation for the upcoming Stretch release in #411. The page of interest in its preview form is here: http://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/stretch-documentation/ugradi

[2017-10-19 22:02] WasabiFan commented on #416
@JolyDog Did this solve your problem? If so, please close the issue.

[2017-10-19 22:16] Joshua-Jurgensmeier opened #420 "Enhancement: one line import"
In #419 I confirmed that the current build no longer supports a single import statement for all classes.

Agree, or disagree?

[2017-10-23 22:24] WasabiFan opened #422 ""address" argument on LEDs"
I was just looking at the LED code and realized that we define an "address" argument, but it's never actually used in that class — the only potential consumer I can think of is the device class's generic string conversion method. Can we remove it? I don't think there is any meaning for an "address" in the context of LEDs.

[2017-10-24 04:28] ddemidov commented on #422
I wonder if non-system LEDs attached to output ports (as in ev3dev/ev3dev#990), have address attribute. If not, then this is a good idea.

[2017-10-25 13:41] dwalton76 commented on #422
If we remove it from the list of args we just need to set it to something so the `__str__()` doesn't barf

[2017-10-25 13:42] ddemidov commented on #422
Would not overriding `__str__` for the `Led` class work as well?

[2017-10-25 13:43] dwalton76 commented on #422
yep that would work too

[2017-10-25 13:50] #418 closed, assigned to nobody

[2017-10-25 15:06] #414 closed, assigned to dwalton76

[2017-10-28 10:13] ddemidov opened #423 "Screen class not working on ev3dev stretch"
I am getting the following error with the recently released stretch package:
[code]
It seems the same error prevents `openrobertalab` service from working:
[code]

This is on the latest snapshot ([snapshot-ev3dev-stretch-ev3-generic-2017-10-24.img.xz](https://oss.jfrog.org/list/oss-snapshot-local/org/ev3dev/brickstrap/2017-10-24/snapshot-ev3dev-stretch-ev3-generic-2017-10-24.img.xz)). The stretch-

[2017-10-28 10:19] ddemidov commented on #423
@dlech, were there any changes in framebuffer on stretch? For reference, here is what we currently do:
https://github.com/ev3dev/ev3dev-lang-python/blob/02fa6023b6b80cc6105eb951b3dd4c39757756c7/ev3dev/core.py#L3093-L3234

[2017-10-28 15:42] dlech commented on #423
There is now 2bpp support in the driver, so `fix_info.smem_len` is probably twice as big as it was previously.

Could you change

    self.mmap[:] = self._img.tobytes("raw", "1;IR")

to

    b = self._img.tobytes("raw", "1;IR")
    self.mmap[:len(b)] = b

?

[2017-10-28 18:34] ddemidov commented on #423
That works, although I had to invert the image (or rather stop inverting it, by using "1;R" instead of "1;IR").
The following patch works for me:
[code]

I am bit surprised by the result though. `tobytes("raw", "1;R")` should give us raw 1-bit-per-pixel image. Why assigning the result to a 2-bit-per-pixel framebuffer works?

[2017-10-28 18:37] dlech commented on #423
The fbdev device has two modes of operation, 1bpp and 2bpp. Be default, it still operates in 1bpp mode. The memory allocated has to be big enough for both modes, so the 1bpp mode only uses 1/2 of the allocated memory.

[2017-10-28 18:38] ddemidov commented on #423
Ok, that makes sense. I'll create PRs for `stretch-stable` and `develop` then.

[2017-10-28 18:41] dlech commented on #423
I'm wondering about the inversion though. I don't recall switching from `FB_VISUAL_MONO10` to `FB_VISUAL_MONO01` but maybe I did.

[2017-10-28 18:42] ddemidov commented on #423
Do you need more info from me on this? The EV3 is next to me right now.

[2017-10-28 18:42] dlech commented on #423
The driver still says `FB_VISUAL_MONO10`, so I would expect that the inversion is still needed.

https://github.com/ev3dev/lego-linux-drivers/blob/ev3dev-stretch/linux/fbdev/st7586fb.c#L483

[2017-10-28 18:44] ddemidov commented on #423
Well, without the inversion `s.clear()` gives me black screen, and `s.draw.rectangle((10,10,168,118))` gives me a white-on-black rectangle.

[2017-10-28 18:48] dlech commented on #423
https://github.com/ev3dev/ev3dev-lang-python/blob/8e57eeae1bc4193fba1de627b40eee2205366fc7/ev3dev/display.py#L257

says clear should fill with white, not black

[2017-10-28 18:50] ddemidov commented on #423
I believe that is because we had to do inversion.

[2017-10-29 08:51] ddemidov commented on #423
Fixed by #424 (`develop`, aka v2) and #425 (`stretch-stable`, aka v1). Also pushed the updated packages for the stretch-stable version.

[2017-10-29 08:51] #423 closed, assigned to nobody

[2017-11-02 00:15] gregcowell opened #429 "GyroBalancer: separate drive control loop and tuning from balance loop"
@laurensvalk has suggested [here](https://github.com/ev3dev/ev3dev-lang-python-demo/issues/8#issuecomment-340253122) that it would be nice to separate the drive control loop from the balance loop in the GyroBalancer class. I agree.

The balance loop is the most complicated part of the code and requires knowledge of control theory to fully understand. We could leave the balance loop inside the Gyro

[2017-11-03 06:20] YuHanChen04 commented on #415
sorry , i have solved this program , cause I didn't define the number of the port!!

thanks so mush!!

[2017-11-10 14:46] rexlow opened #430 "How to program HiTechnic servo with HiTechnic Servo Controller for TETRIX"
- **ev3dev version:** 4.4.87-22-ev3dev-ev3

I am trying to program a servo so that is it able to position itself to a number of degree. In order to achieve this, I understand that it first has to connected with a servo controller so that data transmission is possible.

This is my setup. As depicted from the image below, DC Controller is connected to `input 2` and Servo Controller is connected to `

[2017-11-10 15:20] dlech commented on #430
Have you tried setting register 0x48? The docs say it has to be set to 0x00 to enable the servos, but in your output, it is 255 (0xff).

http://www.hitechnic.com/blog/wp-content/uploads/HiTechnic-Servo-Controller-Specification.pdf

[2017-11-11 08:13] rexlow commented on #430
@dlech Yes, I did and this is the output.
[code]

Though I am not sure whether the array data I am passing is correct or wrong.

[2017-11-11 16:08] dlech commented on #430
I read the docs a bit more carefully and it says that if you set register 0x48 to 170 (0xaa), then it disables the 10 second timeout that causes 0x48 to revert back to 255.

Also a couple tips...

    # write a single byte
    servo.write_byte_data(0x01, 0x48, 0xaa)

    # read less than 32 bytes
    servo.read_i2c_block_data(0x01, 0x40, 9)

[2017-11-12 13:37] rexlow commented on #430
Eventually, we went through this [guide](http://www.openrtm.org/openrtm/ja/content/tetrix_ev3) thoroughly and successfully made the servo mode!

Though we definitely need to study more about the relationship between the bytes and rotation angle. There are 32 sizes in one register, do we need to modify all of them in order to rotate a specific amount of angle?

Regards,
Rex.

[2017-11-12 19:33] dlech commented on #430
There are not 32 bytes in a register. 32 is just the maximum size of a smbus message and you did not specify a smaller size when reading.

[2017-11-14 13:07] #413 closed, assigned to dwalton76

[2017-11-14 13:08] #372 closed, assigned to WasabiFan

[2017-11-14 13:10] dwalton76 commented on #364
@WasabiFan I think you started on this one correct?  If not I have an UltraSonic sensor now and can take a stab at it.

[2017-11-14 13:11] dwalton76 commented on #429
Sounds good to me, go for it @gregcowell

[2017-11-14 13:12] #416 closed, assigned to nobody

[2017-11-14 13:13] dwalton76 commented on #403
@EricPobot do you have the cycles to take a stab at this one?  I don't know enough music theory to implement this :(

[2017-11-14 13:13] #415 closed, assigned to nobody

[2017-11-14 14:42] WasabiFan commented on #364
@dwalton76 yeah, I started on it but it wasn't too far along; it was pretty much just a new class with one property, I think. If you have the cycles to take it on, go for it! That would be much appreciated. Otherwise the next available breathing room when I might be able to take this on is the first weeks of December. Apologies for dragging it out!

[2017-11-14 17:05] ericpascual commented on #403
@dwalton76 I'll give it a look ASAP (maybe tonight) and keep you updated.
I guess that "volume=100" means "volume at 100%". Right ?

[2017-11-14 23:53] dlech commented on #403
duration is how long the note plays in seconds

[2017-11-15 00:48] dlech commented on #403
It seems to me that in general, python uses seconds (e.g. `time.sleep()`), so that would be my preference. (and tone playback could be changed to match).

[2017-11-15 08:47] ericpascual commented on #403
Agree. Let's align all involved methods to seconds. I'll integrate this in my changes.

[2017-11-15 23:06] WasabiFan commented on #403
@EricPobot open a pull request and we can take a look.

[2017-11-15 23:35] WasabiFan commented on #403
@EricPobot yep; see here: https://help.github.com/articles/creating-a-pull-request/

[2017-11-16 00:02] dlech commented on #403
Part of the reason for adding this additional api is to decouple from the underlying system commands and do things more like the EV3-G software so that it is easier for people who are familiar with the LEGO software to make the transition to python.

[2017-11-16 09:15] ericpascual commented on #403
@dlech Your point makes sense WRT how the LEGO SW presents it.  I'll switch all durations to milliseconds.

However, there are also others delays which are specified in msecs, and which maybe will become a bit tedious to express as seconds, since representing short pauses (e.g. 50ms). How will users feel the obligation to write 0.05 for such quantities ?

I do not have a definite opinion on this p

[2017-11-16 09:18] ericpascual commented on #403
@WasabiFan Thanks for the pointer. I already have an old fork, from the epoch I tried to collaborate a bit. Do you advise me to drop it and create a fresh new fork or can it be safely synced with the current status of the project ?

[2017-11-16 09:38] ddemidov commented on #403
This should be possible with
[code]
After this your local copy should be in sync with this one (the top commit in `git log` should be 923080bae8afd985a462f033728e605308fe860a).

[2017-11-16 10:01] ericpascual commented on #403
@ddemidov Many thanks for the detailed instructions. I'll give it a try tonight.

[2017-11-16 16:40] perldeniel commented on #430
@rexlow  @dlech I sorta have this problem too! Coming from a CS background I do not have any prior knowledge on how to configure motors and servos, so sorry if my question sounds dumb.

@rexlow If I do what you did to set servo degree, as `write_i2c_block_data`, does `[0x30]` means 30 degree? Does `[60, 90]` means servo rotates from 60 degree to 90 degree?

[2017-11-16 18:10] dlech commented on #403
I don't know. So my inclination is to not think about it and make it like EV3-G instead of trying to guess what other people think or spending too much time discussing it.

[2017-11-16 18:39] dlech commented on #430
First, to be clear, I am only talking about hobby-type servo motors here. https://en.wikipedia.org/wiki/Servo_(radio_control)

Actually, you change the duty cycle, not the frequency. These types of motors use a 50Hz signal (one pulse every 20ms) for control. The width of this pulse tells the motor which angle to rotate to. 1.5ms is the "neutral" position. 1.0ms is the minimum rotation and 2.0ms is

[2017-11-16 23:06] WasabiFan commented on #381
Breaking change: Sound-related methods now take time in seconds (#431)

[2017-11-21 02:20] WasabiFan opened #433 "File handles left open on program termination"
Currently, we store handles to the attribute files we open for quick access. This means that we get a bunch of warning spew like this from the tests:

[code]

It would be preferable if we kept track of the handles and closed them explicitly in `__del__` rather than leaving them for the interpreter to (hopefully) clean up. This would normally be pretty easy, but all of our calls to read from attrib

[2017-11-21 13:37] ddemidov commented on #433
I think we discussed this somewhere, and the problem with file handles was that python does not have proper class destructors. For example, see https://stackoverflow.com/questions/35488705/is-relying-on-del-for-cleanup-in-python-unreliable.

We could probably come up with an interface like
[code]
but that would be inconvenient for use if one wants to store a device as a class field. My understandi

[2017-11-21 13:39] ddemidov commented on #433
#109, #96

[2017-11-21 13:43] ddemidov commented on #433
#162 (4a873844cdeff38ebc5d870f8c8bdfedefa2e8e3)

[2017-11-21 14:45] WasabiFan commented on #433
My recollection was that we had a `__del__` implementation which would stop motors on termination, and that had some obvious issues, especially because we were attempting to go through the file file write process. I am guessing that closing file handles wouldn't be problematic, but I'm not sure. My thinking is that closing file handles explicitly is nice to have for sanity, but it doesn't affect p

[2017-11-21 16:38] dlech commented on #433
https://github.com/ev3dev/ev3dev-lang-python/issues/155#issuecomment-209199499

[2017-11-21 16:42] dlech commented on #433
That was the intention, but `__del__` only runs on garbage collection, so it practice, it is rarely, if ever, called since the motor objects stay alive for the entire program. So, it would be "correct" to close any open file handles in `__del__`, but it most likely won't fix your unit test.

[2017-11-21 21:03] tassosblackg commented on #430
I followed the above guide http://www.openrtm.org/openrtm/ja/content/tetrix_ev3
but my servo doesn't rotate at all (I have one servo connected to channel1)
here is my testCode:

[code]

any ideas?

[2017-11-21 21:32] dlech commented on #430
@soylisK

You have set your servo to the neutral position (127), so if it is already there, it won't move. So, it could be that your code works.

I suspect that if you check the return value of `write`, there will be an error though. I think the I2C device node is only usable via IOCTL.

Regardless, I would suggest using the `i2c_smbus_*` functions instead of trying to do low-level I2C calls. http

[2017-11-22 08:23] rexlow commented on #430
Is it possible to reverse voltage polarity (servo direction)? The official specification did not mention about it.

[2017-11-22 16:41] dlech commented on #430
What type of motor and which controller are you using?

[2017-11-22 17:13] rexlow commented on #430
@dlech I am using HS-485HB and HiTechnic Servo Controller for TETRIX.

[2017-11-22 19:29] tassosblackg commented on #430
I have the same components,
I'm still working on it.. and I believe that it's about how we set the buffer[] ={address,value..}?
because I'm facing some difficulties with dc motors too, about how to make them work properly .And I still haven't found something ...For example when we have more (servos or in case of motors we have 2 of them) how we set the buffer[] with appropriate values for each one

[2017-11-22 20:12] dlech commented on #430
Please see my previous [comment](https://github.com/ev3dev/ev3dev-lang-python/issues/430#issuecomment-345017609). Any value above 127 will rotate in one direction and any value less that 127 will rotate in the opposite direction.

[2017-11-22 20:15] dlech commented on #430
@soylisK again, please use the `i2c_smbus_*_data()` functions instead of `write()`.

[2017-11-23 11:52] AnishGDev opened #434 "MoveSteering? MotorPair?"
- **ev3dev version:** 4.4.87-22-ev3dev-ev3

How do I implement a something like the move steering block in the official version of EV3 Mindstorms?

I need to control my robot via a direction ( 0 being straight) and speed.

I have an urgent project due tomorrow. Any help will be GREATLY appreciated.

[2017-11-23 16:57] dwalton76 commented on #434
See the MoveSteering class in the develop branch. We’ve been working on an API that mimics the EVG blocks...this is one of them.

https://github.com/ev3dev/ev3dev-lang-python/blob/develop/ev3dev/motor.py

[2017-11-23 17:08] dwalton76 commented on #403
@EricPobot anything else to do on this one?

[2017-11-23 17:22] ericpascual commented on #403
I don't think so, since it has been implemented by the PR you just merged.
As I mentioned in replies in the PR thread, there are some comments in parts I've not written which would deserve to be reviewed and amended. But this is not very urgent, and can be left as is for the moment.

[2017-11-23 17:48] dwalton76 commented on #392
I need to get back to this...got distracted by Rubik’s cube solving work this past month.

[2017-11-23 18:57] #403 closed, assigned to nobody

[2017-11-24 14:01] rexlow commented on #430
@dlech We finally got everything works consistently. The errors occurred were due to the spoilt controller connector we were using. Changed a new one and now all our code works. Thanks for the thorough explanation!

[2017-11-24 14:01] #430 closed, assigned to nobody

[2017-12-01 10:08] #434 closed, assigned to nobody

[2017-12-05 10:20] ensonic opened #435 "NXT SoundSensor does not work"
- **ev3dev version:** 4.4.47-19-ev3dev-ev3
- **ev3dev-lang-python version:** 1.0.0
btw. please edit the template and tell people to run: apt-cache show python3-ev3dev | grep Version

[code]

I found some old discussion here: https://github.com/ev3dev/ev3dev-lang/issues/59#issuecomment-96771309 - but that code does not work anymore. If there is anything the developer need to do to use these sensors

[2017-12-05 10:33] ddemidov commented on #435
Would this work?
[code]

[2017-12-05 10:39] ensonic commented on #435
Yes, That works! Will add it to the code in the robertalab hal. Thanks a lot.
Just tried
[code]
and that makes it work too. Should we add the code you posted to the nxt-sensor setup.

[2017-12-18 19:51] ensonic commented on #263
Can anyone answer the last question? I'll retry if this is still the case though.

[2017-12-18 20:00] dlech commented on #263
It depends on the motor controller. Some controllers are on I2C or UART or SPI, so all information on the motor command has to be sent at once. `run-direct` may or may not work on these controllers. On EV3, `run_forever()` should not be much more overhead than an extra `seek` and `write`.

[2017-12-30 22:58] Niels1006 opened #437 "Can't install pygame"
Hey.
I tried everything, I installed every possible package i could find on google, but I can't get the brick to install pygame.

Here's the Error for `pip install pygame==1.9.2`: (It throws the same error without this, but I heard this should work better)
[code]

A reddit said, this will work: https://bitbucket.org/pygame/pygame/get/1.9.2.tar.gz

So I unzipped it tried to install it with ` python

[2017-12-30 23:03] WasabiFan commented on #437
Can you please post the output of `ev3dev-sysinfo -m`?

[2017-12-30 23:04] Niels1006 commented on #437
Yeah, I totally forgot it, sorry!
**System info (from `ev3dev-sysinfo`)**
[code]

[2017-12-30 23:10] WasabiFan commented on #437
I'll take a look at this later today. Out of curiosity, _why_ are you trying to install pygame on an EV3? :laughing:

[2017-12-30 23:13] Niels1006 commented on #437
To control it with my ds4 controller ^^. I did this already like one and a half year ago

[2017-12-30 23:35] dlech commented on #437
Don't use `pip`, use the debian package.

    sudo apt update
    sudo apt install python3-pygame

[2017-12-31 00:04] Niels1006 commented on #437
I tried it already, but i got an error with this too. I'll flash the latest ev3dev image now and try it again.

[2017-12-31 00:23] Niels1006 commented on #437
Mhh, seems like the package has another name or I am dumb, I think its the last.
[code]

[2017-12-31 00:31] dlech commented on #437
I guess there isn't a python3 version on jessie

    sudo apt install python-pygame

[2017-12-31 00:56] Niels1006 commented on #437
ev3dev works with python 2.7 too, right?

[2017-12-31 01:03] dlech commented on #437
nope, but there is ev3dev-stretch

[2017-12-31 01:10] WasabiFan commented on #437
The goal here is to install pygame for use with the ev3dev Python library. While @Niels1006 certainly can switch to Stretch (the next version of ev3dev, not the currently recommended version for general use but stable) if they want to, it still seems reasonable to me to try getting pygame installed via `pip` or another means on Jessie.

Alternately, if it's just gamepad input support that you're l

[2017-12-31 01:22] Niels1006 commented on #437
Well, i try another library, but i guess pygame is the fastest 🤔 . But `evdev` should be fast too, so im gonna test it ^^. Thank you for your help btw 💯 .

[2017-12-31 14:15] blueloose opened #438 "Importing additional libraries"
Hey
I wanted to install an additional library to python and it works as long as i run it as:
 `python foo.py`
but if I run it as:
`./foo.py`
it doesn't.
I know i have seen all this posts about running this command:
`sed -i 's/\r//g' <file>`
I also ran the chmod command but it still doesn't work. Do you have any suggestions or is it even possible to add an additional library?
Thank you!

[2017-12-31 15:16] ddemidov commented on #438
What is the output of `./foo.py`?

[2017-12-31 16:14] blueloose commented on #438
The following is the case:
I imported the pybluez library, which works if I run it as python but then the ev3dev library doesn't.
Error message:
` import ev3dev.ev3 as ev3`
`ImportError: No module named ev3dev.ev3`

But if i execute `./foo.py` the following error message occurs:
`from: can't read /var/mail/bluetooth`
`foo.py: line 3: import: command not found`
`foo.py: line 6: syntax error near un

[2017-12-31 17:23] blueloose commented on #438
Im sorry i've wasted your time. The issue was, that I didn't include the following lines in my program:
`#!/usr/bin/env python3`
`# -*- coding: utf-8 -*-`

[2017-12-31 17:23] #438 closed, assigned to nobody

[2018-01-08 00:39] ndward opened #439 "Is run_to_abs_pos() working?"
I'm using the 13 December Stretch image on an ev3. I am trying to make the US sensor scan across 180 degrees, with the motor making 45 steps of 4° each, like a radar. I first tried the script below which uses run_to_rel_pos()   but the end result was that the movement was not precise, despite the use of 'hold' rather than 'brake' which should help the precision. With the large motor, the angle was

[2018-01-08 00:43] WasabiFan commented on #439
How so? What was worse about it?

[2018-01-08 01:49] attojeon commented on #439
How about this?
I've rest the motor's position before call the run_to_abs_pos().
and It works good.

from ev3dev.ev3 import *
from time import sleep

m = LargeMotor('outB')

m.position = 0;
# reset to 0 before call run_to_abs_pos();

m.run_to_abs_pos(position_sp=360, speed_sp=900, stop_action="hold")
sleep(3)
m.run_to_abs_pos(position_sp=0, speed_sp=900, stop_action="hold")
sleep(3)
m.run_to_abs_p

[2018-01-08 12:01] ndward commented on #439
With the script above that uses **run_to_rel_pos()** the motor moves roughly as desired i.e. in 4 degree steps 45 times, but that 180° sweep accumulates a large error, sometimes more than 15%.
With the script above that uses **run_to_abs_pos()** the motor is instructed to move to absolute position 4° then absolute position 8° etc i.e. move in constant 4° steps but in fact it moves first 4° then 8°

[2018-01-08 15:55] ndward commented on #439
Eureka! The solution was to use **position_sp** rather than **position** with **run_to_abs_pos()**, but to keep using **position** elsewhere (just as @attojeon did). With some other adjustments, including stepping back to the start, the script is now:
[code]

A printout of positions for the first sweep shows: 0 6 9 13 17 25 29 .... 180  so there are small errors in position but they do not accumul

[2018-01-08 15:55] #439 closed, assigned to nobody

[2018-01-08 15:57] rhempel commented on #439
Please open a new issue to ensure the document gets updated as you suggested 😀

[2018-01-08 16:11] ndward opened #440 "Error in the documentation for position_sp"
I think there is an error in the documentation for **position_sp** which refers to **counts_per_rot** which should be **count_per_rot**.

[2018-01-08 16:24] ddemidov commented on #439
Fixed the `position_sp` documentation in 7578c1f123f84b4f6cf9553f058b8e64e4ac3e97

[2018-01-08 16:26] ddemidov commented on #440
Should be fixed by 7578c1f123f84b4f6cf9553f058b8e64e4ac3e97

[2018-01-08 16:29] ddemidov opened #441 "Documentation should be updated for the new project layout"
While trying to fix #440, I noticed that the generated documentation is empty: http://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/latest/motors.html. Most likely, the documentation still links to the classes with old file structure.

[2018-01-08 16:29] ddemidov commented on #440
In fact, see #441

[2018-01-08 22:08] WasabiFan commented on #439
@ddemidov what do you think about throwing an error when an unknown property is used? Would there be an issue with checking for the property name on `self`?

[2018-01-09 03:39] ddemidov commented on #439
Don't we already do this since #278?

[2018-01-09 04:01] WasabiFan commented on #439
This is a slightly different problem than I was imagining; it's not that he was using a nonexistent property, it's that he was using a property that exists but isn't of much use in that context. Solving that is a bit more difficult.

[2018-01-09 06:29] ddemidov commented on #439
I guess we could introduce a set of warnings, basically a dict similar to this:
[code]
Then we could use the dict (probably with a helper function) [inside the command functions](https://github.com/ev3dev/ev3dev-lang-python/blob/develop/ev3dev/motor.py#L662).

But, it would still be possible to do
[code]
and not get any warnings, so I am not sure how helpful it would be.

[2018-01-10 12:03] ndward commented on #439
Maybe the distinction between **position** and **position_sp** is not so difficult. Would it be true to say that **position** represents the _actual_ position of the motor and, in the context of run_to_abs_pos(), **postion_sp** represents the _target_ position of the motor, which is not the same thing? What remains unclear to me is what is the _zero_ for **position** - it does not seem to be a fix

[2018-01-10 12:14] ddemidov commented on #439
That is correct, anything with `_sp` (Set Point) is a target.

When you set `position` to zero, you are simply resetting the value of internal counter. Any subsequent measurements will be taken relative to this position.

[2018-01-10 16:43] ndward commented on #439
My question was really, what is the 'zero' position if you DO NOT set position to zero.

[2018-01-10 18:29] rhempel commented on #439
I can answer that! It’s whatever position the motor has when it is powered up - either when it is plugged in or when the EV3 is turned on.

[2018-01-11 16:16] dwalton76 commented on #429
Thank you @gregcowell for working on this!

[2018-01-11 16:16] #429 closed, assigned to gregcowell

[2018-01-11 16:18] dwalton76 commented on #364
@WasabiFan looks like we both got swamped through December :)  I'll take a stab at it

[2018-01-11 16:20] dwalton76 commented on #264
@WasabiFan @ddemidov @dlech we've had this open for 14+ months and none of us has gotten to it, any objections to closing this one?  We can re-open if someone has the urge to work on it.

[2018-01-11 16:21] dwalton76 commented on #359
What did we ever decide on micropython?

[2018-01-11 16:26] dwalton76 commented on #435
@ensonic can you submit a PR for this? I do not have a NXT Sound Sensor to test with.

[2018-01-11 16:42] dlech commented on #359
I quit working on MicroPython because I was getting so much pushback.

[2018-01-11 16:44] dlech commented on #264
I don't see any harm in leaving it open - just tag it as "wishlist" or something like that so people know it is not likely to be implemented.

[2018-01-11 22:43] WasabiFan commented on #359
The decision was to support it with this library -- it's just a matter of configuring the packaging; as of last time I tested it, the core modules were all fully-compatible.

[2018-01-11 22:47] WasabiFan commented on #364
😖 Yeah, it seems that new work always appears to fill the gaps. I _will_ be carving out some time over the next week or so to knock some things off the list.

[2018-01-12 00:11] codeNinjaDev commented on #204
Is there a way to speed this up because I am using this at a timed competition.

[2018-01-12 02:53] gregcowell commented on #429
You're welcome! I really like working on this project.

[2018-01-12 10:20] ensonic commented on #204
@codeNinjaDev you can use a hack like I am using here: https://github.com/OpenRoberta/robertalab-ev3dev/blob/develop/roberta/lab.py#L276

[2018-01-12 13:36] ensonic commented on #435
Given the code:
https://github.com/ev3dev/ev3dev-lang-python/blob/develop/ev3dev/sensor/lego.py#L810
[code]
I am not sure what happens if one does not specify `address`. Do we try to *autodetect* the port? I would do a change like:
[code]
Note that the string is the same we set in the `driver_name` arg.

[2018-01-12 19:08] #441 closed, assigned to nobody

[2018-01-16 21:12] alanwilter commented on #264
Sorry if it sounds I am hijacking this thread, but my idea for simulator right now would be something like this:

- I have a backup, on my Mac, of the SD Card flashed and configured with eve3dev;
- I would like to use this backup file to load in a, say, Virtual Box EV3 brick simulator, and update, install etc. using a likely much faster environment with steady internet connection;
- then flash bac

[2018-01-16 22:49] dlech commented on #264
@alanwilter: It will take you much longer than running things on the EV3, but it is possible. It works like this:

1. on a linux machine (or virtual machine) mount the EV3DEV_ROOTFS partition somewhere
2. mount the EV3DEV_BOOT partition to boot/flash of the rootfs that you just mounted
3. copy `qemu-arm-static` to `usr/bin` in the rootfs
4. poke a few more files to prevent services from trying to

[2018-01-18 17:27] Slidr666 commented on #204
Hi ensonic
am i right the important lines are:
-----------------------------------------------------
[...]
`compiled_code = compile(code, filename, 'exec')
exec(compiled_code, scope)`
[...]
----------------------------------------------------

I´ve tried this using py_compile - package loading my_script.py as filename.
It runs but is as slow as before.
What exactly is the hack?
My current testing

[2018-01-18 19:54] ensonic commented on #204
The hack is to pre-start a python program and then use the:
[code]
to start the program from that process.

[2018-01-18 22:39] Slidr666 commented on #204
thx.  is the actual code inside the variable code or inside filename.
which package delivers the "compile"-function? currently i cant sort it out. sorry if i missed something obvious... i´m just getting started into that stuff.

[2018-01-19 09:04] ensonic commented on #204
The ticket is probably not the right place to discuss. Lets try the chat-room: https://gitter.im/ev3dev/chat

[2018-01-31 00:06] #437 closed, assigned to nobody

[2018-01-31 01:05] dwalton76 commented on #422
Actually, `Device.__str__()` is ok if no address is defined
[code]

[2018-01-31 01:47] dwalton76 commented on #392
I am declaring my Rubik’s cube solver complete so should be able to get back to this and other ev3 related todos

[2018-01-31 13:08] #364 closed, assigned to dwalton76

[2018-01-31 14:14] dwalton76 commented on #435
Turns out I do have a NXT Sound Sensor...will experiment with it some tonight

[2018-01-31 14:57] #422 closed, assigned to dwalton76

[2018-02-01 02:20] #420 closed, assigned to dwalton76

[2018-02-01 02:50] dwalton76 commented on #435
this
[code]

plus running
[code]

results in
[code]

[2018-02-01 02:52] dwalton76 commented on #435
But so does @ddemidov 's suggestion which did work in early December
[code]

[2018-02-08 02:02] Crazydog974 opened #448 "Bluetooth: Android ->Bluetooth -> Ev3Dev"
I can't make it work , send message by bluetooth _Android -> bluetooth -> Ev3dev._

I have this message :
read failed, socket might closed or timeout

I try with "bluetooth terminal".App  https://play.google.com/store/apps/details?id=Qwerty.BluetoothTerminal&hl=fr
and He can't connect too

is it normal ?

robot@ev3dev-alpha:~$ bluetoothctl

my code:

[code]
Please help me :)

[2018-02-14 02:28] Zincfox commented on #264
Hey, I just thought I'd let you guys know that I'm giving this a shot. Unfortunately it's been quite some time since I've used python but what's the worst that could happen? I already made some progress and will make my repo public once I feel like I have something presentable. I **do not** plan to add anything fancy like a position tracker or the ability to use duty-cycle (at least currently). Th

[2018-02-14 14:26] dwalton76 commented on #264
Sounds great to me 👍 Looking forward to trying it out

[2018-03-03 14:49] dwalton76 opened #449 "branch naming updates"
Filing an issue here to bring in the changes discussed in https://github.com/ev3dev/ev3dev-lang-python-demo/issues/37

Proposal of things we should do
- ev3dev-lang-python delete as many stale repositories as we can and see where that leaves us
- ev3dev-lang-python rename develop to stretch
- ev3dev-lang-python can we delete master since we already have a jessie branch?

[2018-03-03 14:56] dwalton76 commented on #449
- @WasabiFan can ev3dev2-namespace be deleted?  It looks like it was merged
- @ddemidov what is stretch-stable...do we need this in addition to a `stretch` branch?
- There are `micropython` and `support-micropython` branches, which of these is the most current and can we delete the other?

I will do this here in a sec assuming I have permissions

I think we can, any objections?

@dlech @rhempel  m

[2018-03-03 14:59] dwalton76 commented on #449
Another one on the list was to make `jessie` the default branch so that we are consistent with other ev3dev repos. I do not have permissions to do so though, @dlech can you make this change?

[2018-03-03 15:02] dwalton76 commented on #449
Hmm I also do not have perms to rename `develop` to `jessie`
[code]

Am following https://multiplestates.wordpress.com/2015/02/05/rename-a-local-and-remote-branch-in-git/

[2018-03-03 16:32] ddemidov commented on #449
It looks like we created `stretch-stable` to provide minimal support for stretch just before the recent major API changes.

[2018-03-03 17:00] dwalton76 commented on #449
Should we chop it? I would be fine with declaring “only new API is supported in stretch”.

[2018-03-03 17:18] dlech commented on #449
I have updated the default branch to `jessie` on GitHub.

[2018-03-03 17:26] ddemidov commented on #449
Yes, let's do this.

[2018-03-03 19:37] dwalton76 commented on #449
I've deleted `stretch-stable`, I'll wait a few hours before I delete `master` in case anyone has objections.

I see there are now `develop` and `stretch` branches, they look identical to me.  @dlech did you make `stretch` today?  If so we should delete `develop`.

[2018-03-03 22:20] dlech commented on #449
I didn't do anything other than change the default branch.

[2018-03-04 02:28] dwalton76 commented on #449
ok they were identical so I deleted `develop`....also deleted `master`. I think we can also delete `ev3dev2-namespace` but will wait to hear from @WasabiFan on that one.

[2018-03-13 11:00] ensonic commented on #448
FYI: here is the bluetooth code (python) that I am using to send messages between two ev3s:
https://github.com/OpenRoberta/robertalab-ev3dev/blob/develop/roberta/ev3.py#L678

I also used this to send messages from linux to ev3, not sure if you find anything here to help with android and java.

[2018-03-18 17:07] kazerko opened #450 "Pixy EV3DEV Problem Python3"
hi, i need help with my code, after 5 hours trying i cant fix it :/

- **ev3dev version:** 4.4.87-22-ev3dev-ev3
- **ev3dev-lang-python version:** 3

**my code**:
[code]

**and this is output:**
[code]

thanks for help

[2018-03-18 19:28] dlech commented on #450
I don't see a `TRACK` mode [here](http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-jessie/sensor_data.html#pixy-lego-modes). Perhaps you need to set the mode to `SIG1`?

[2018-03-18 20:04] kazerko commented on #450
@dlech thanks for reply, but, when i use pixy.mode = 'SIG1' i see this:

[code]

[2018-03-18 21:10] dlech commented on #450
So you are using the mindsensors Pixy cam adapter?

[2018-03-18 21:57] kazerko commented on #450
@dlech yes, pixi with mindstorm adapter connected to EV3 (when i tested it, camera wasnt connected to pc via usb)

can u help me with corect setting for camera and mode?

i need to control robotic arm with 3 motors by pixy cam, but i cant fix this :/

[2018-03-18 22:26] dlech commented on #450
Your code doesn't match the [documentation](http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-jessie/sensor_data.html#ms-pixy-adapter-modes).

I would expect to see something like this...

[code]

[2018-03-18 23:00] kazerko commented on #450
@dlech hm, thanks, i see that i can use only single object with this, but i will need to use two objects in final project

it means that i need to use  I2C Sensors???

can i ask for help in next days please?...if i will need

[2018-03-18 23:47] dlech commented on #450
The [footnote](http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-jessie/sensor_data.html#ms-pixy-adapter-mode0) gives you a hint on what to do.

It looks like there is a broken link in the footnote that is supposed to point to [this page](http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-jessie/i2c.html)

[2018-03-22 17:22] QuirkyCort opened #451 "ev3dev-lang-python-fast"
Hi everyone,

I started https://github.com/QuirkyCort/ev3dev-lang-python-fast which is a high (...or at least higher) performance drop-in replacement for ev3dev-lang-python. The performance comparison was only done on an EV3 running Jessie, so I'm not sure if it's still relevant with Stretch.

It's a clean re-implementation, and not a modification of ev3dev-lang-python, so I'm not entirely sure wh

[2018-03-22 19:54] ddemidov commented on #451
Hi, the performance comparison looks very promising! I think we definitely should try to bring at least some of the changes here.

[2018-03-22 20:42] dlech commented on #451
One thing to watch out for here that `bin_data` is a "raw" value and `valueN` is a "scaled" value. For UART and most I2C sensors, these numbers are the same, but for analog sensors, you will have to do the scaling in python.

Do you mean exactly the same sensor or just the same kind of sensor?

[2018-03-23 02:57] QuirkyCort commented on #451
Same sensor on the same port. Here's a demonstration of the problem...
[code]
ev3dev-lang-python should work correctly, as it sets the mode on every read, but my fast version will give the wrong value as it tracks the mode internally within each instance and only sets it if it thinks that there's a change.

I'm guessing there's not a lot of use cases for creating multiple instances of the same sen

[2018-03-23 16:50] ensonic commented on #451
Wow, this sounds nice indeed. Regarding the scaling, don't we have to do this anyway?
https://github.com/OpenRoberta/robertalab-ev3dev/blob/develop/roberta/ev3.py#L581
[code]

[2018-03-23 17:14] kazerko commented on #450
@dlech ok, i want to set _poll_ms 0_, but i dont know where to write it,
[code]
is this correct?
if yes, which _pixy.mode_ i will use now?

[2018-03-23 22:24] dlech commented on #451
Only if you care about the decimal place being in the "correct" place.

However, the scaling I am referring to are things like [this](https://github.com/ev3dev/lego-linux-drivers/blob/ev3dev-stretch/sensors/nxt_analog_sensor_defs.c#L200) that convert the 0-5V value to the proper unit of  measurement. In the NXT Light sensor example I linked, the `bin_data` value will return the analog voltage of t

[2018-03-23 22:47] dlech commented on #450
Personally, I would not try to use the `Sensor` class for this. Instead I would use direct I2C commands using the `smbus` module.

This is totally untested, but base on the information in ev3dev/ev3dev#445, which uses a different sensor but the same methods.

[code]

[2018-03-24 18:16] kazerko commented on #450
@dlech after test this code (i changed "Port" in line 5 to "Sensor"):

[code]

...sorry i am stupid :@ ...oin brick i have "set mode" at "other-i2c"

[2018-03-24 18:46] dlech commented on #450
What? You figured out that `other-i2c` was correct instead of `i2c-other` and that you can also set the mode on the brick. :smiley:

I was lazy and didn't look at the [documentation](http://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/master/other.html#lego-port). It looks like I messed that up too. It should probably be:

    in1 = LegoPort(address=INPUT_1)

instead of

    in1 = Port(add

[2018-03-24 18:58] kazerko commented on #450
@dlech now, it looks correct, but, its not responding and after ctrl+c cancel it write this:
[code]
...i just wanted print(x1) for test..

[2018-03-24 19:15] dlech commented on #450
What does the whole program look like now?

[2018-03-24 19:16] kazerko commented on #450
[code]

[2018-03-24 19:18] dlech commented on #450
The `while True:` causes an infinite loop, so the program never gets to the `print(x1)` statement at the end. You can delete that line (and change the indent of the later lines) if you just want to read the values once for testing.

[2018-03-24 19:19] dlech commented on #450
or you can indent the `print(x1)` line to print the value many times.

[2018-03-24 19:51] kazerko commented on #450
got it, thanks, but answer is just [0, 0, 0, 0]...
...and i cant cancel program with my touch sensor
[code]

[2018-03-25 13:49] QuirkyCort commented on #450
Your program is stuck in the While True loop with the print() statement, that's why you can't exit the program using the touch sensor.

I don't have a Pixy, but from the serial protocol documentations (http://cmucam.org/projects/cmucam5/wiki/Pixy_Serial_Protocol), it seems that the Pixy streams its data continuously, and don't use registers like a normal i2c device.

There is also a PixyAdapter (h

[2018-03-25 16:29] dlech commented on #450
Yes, it has has already been stated here that this adapter is being used.

In Linux, the address is different from the one stated in the manufacturer's documentation. See http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-jessie/i2c.html for an explanation. 0x01 is the correct address and it has already been shown to be working.

This would explain an output of all zeros.

[2018-04-01 16:23] kazerko commented on #450
hi, im back, time is running so fast and i just fixed canceling with touch sensor, program is answering only this [0, 0, 0, 0] and i dont know how to set correct adress if i want to use 2 objects

i2c is not so easy to understand for me and i need to:
[code]

actual part of code with address setting:
[code]

[2018-04-01 16:47] dlech commented on #450
Did you train your Pixy cam as @QuirkyCort suggested? Also, make sure the USB cable is disconnected from the camera before running your python program.

The I2C commands are just taking the information from the "I2C Registers" section of the PixyCam Adapter users guide.

For example, when we say `num = bus.read_byte_data(I2C_ADDRESS, 0x42)`, that mean read one byte from register 0x42, which is the

[2018-04-01 17:08] kazerko commented on #450
USB is disconnected all time

so, if i want to use coordinates of tracking item, which address a need to use

[2018-04-02 15:51] kazerko commented on #450
i dont know where is problem, i tryed all register codes from here:
[https://www.generationrobots.com/media/PixyAdapter-User-Guide.pdf](url)

answer is all time just [0,0,0,0] ... at 0x10 it is [80, 105, 120, 121]

[code]

[2018-04-02 16:11] QuirkyCort commented on #450
Connection seems fine. If you haven't trained your PixyCam, you should do so. It's not gonna give you any results if you don't train it to recognise the color you want.

You may also want to use PixyMon to test out your PixyCam. You should be able to tell from there if your PixyCam is setup and working correctly.

As a long shot, try sending the command to unlock the tracking buffer. I doubt the l

[2018-04-02 17:36] kazerko commented on #450
@QuirkyCort with PixyMon work cam very good

and without using PC i trained cam like here:
[https://youtu.be/J8sl3nMlYxM?t=1m56s](link)
...(LED on cam responding with correct color)

[2018-04-03 00:17] QuirkyCort commented on #450
Well, your PixyCam is working fine, and you seem to be reading ok from the PixyAdapter (...the values that you got at 0x10 is the device ID). So the problem is probably between the PixyCam and the PixyAdapter.

From the PixyAdapter manual, try...

Configuring PixyCam
- Open the PixyMon viewer and configuration software.
- Select 'Configure' from 'File' Menu.
- Select the 'Interface' tab under the

[2018-04-03 09:19] kazerko commented on #450
@QuirkyCort oh man, thanks, that was the problem! now, i can move on
(data out port was I2C and address 0x54 :/ )

[2018-04-04 20:25] KWSmit opened #452 "PiStorms - Exception 'LED is not connected'"
- **ev3dev version:** 4.9.59-ev3dev-1.6.0-rpi2
- **ev3dev-lang-python version:** 3
- **Hardware:** PiStorms v2 with RPi 3B

When trying to address the LEDs on my PiStorms I retrieve the Exception 'LED is not connected'.

Sample code:
[code]
The exception occurs on the first statement which addresses the LEDs, in this case `ev3.Leds.all_off()`, but also with other methods, like `ev3.Leds.set()` or

[2018-04-08 18:47] simoscream commented on #257
I confirm that this may happen also because of a command called for incorrect device (ex LargeMotor(outB) where OUt B is connected to a small motor.

Thanks :)

[2018-04-12 14:06] dwalton76 commented on #449
@WasabiFan can we delete the `ev3dev2-namespace` branch?  That should be all that is left for this issue.

[2018-04-15 23:25] dlech opened #455 "new display driver in kernel 4.14.x"
I just released a new ev3dev kernel on ev3dev-stretch that updates from 4.9.x to 4.14.x. This comes with a new display driver for the EV3 from the mainline kernel.

The new driver still provides a fbdev device (`/dev/fb0`) however, the memory layout is different. Because of limitations in the mainline kernel, there is no monochome. Instead it uses a 32-bit XRGB pixel format.

This causes an error

[2018-04-15 23:26] dlech commented on #455
In reality, though, the display will now use 2-bit (4 color) grayscale :open_mouth:

[2018-04-16 15:12] ddemidov commented on #455
So it looks like we should add a case for `self.var_info.bits_per_pixel == 32` here with an appropriate encoder:
https://github.com/ev3dev/ev3dev-lang-python/blob/55f57ada176905a1db073423f428bd83dfd6b6ca/ev3dev/core.py#L3314-L3319

[2018-04-16 18:12] ddemidov opened #456 "Importing ev3dev.fonts takes a lot of time"
See https://github.com/ev3dev/ev3dev/issues/1022#issuecomment-381445981

[2018-04-16 18:14] ddemidov commented on #456
We could probably get rid of `pkg_resources` by using `__file__` variable inside `ev3dev.fonts.__init__` to get the path to the fonts directory. Then we could just use `glob.glob()` as a replacement for `package_listdir`, and `os.path.join()` for `package_filename`.

[2018-04-16 18:41] ndward commented on #456
40s just to load some file names. Wow. I tried
[code]
and after 48s (39s adjusted for download etc time) I got
`ImportError: cannot import name 'package_listdir'`

I also tried
[code]
and that completed in about 50s, so no time saved.

I believe the font files we are talking about are at usr\lib\python3\dist-packages\ev3dev\fonts. That folder contains 402 items (1.34MB), of which 200 .pbm files an

[2018-04-20 21:34] ndward commented on #456
Using Stretch, it seems to take about 45s for this command to run
`import ev3dev.fonts as fonts`

@ddemidov says that this command does not import any fonts but does this instead:
[code]
I have added comments above to indicate how long each import seems to take. The only import that takes a long time is
`import pkg_resources #40s`

@ddemidov says

If I'm running import `ev3dev.fonts as fonts` it i

[2018-04-20 21:44] ndward opened #457 "update() not working in updated 14 April 2018 Stretch image"
In https://github.com/ev3dev/ev3dev/issues/1022 I reported that after installing the April 14 2018 EV3 Stretch image and updating it the 'brickd hyperactivity bug' has apparently been solved but two new problems have arisen: the update() command for the EV3 LCD display no longer works and the connection from Visual Studio Code to the EV3 via a USB cable is not stable beyond a maximum of a few hour

[2018-04-21 16:43] kazerko commented on #450
hi, i need to make condition of x2, if it will be increasing:
[code]

and if it will be decreasing:
[code]

but i dont know how its correct syntax for if

[2018-04-22 17:40] ddemidov commented on #457
Duplicate of #455

[2018-04-22 17:40] #457 closed, assigned to nobody

[2018-04-22 18:05] ddemidov commented on #455
3b34f78e4232f05f2304771a89dcb0231d6f5812 might help, but I did not have time to update to the 4.14 kernel and actually test it.

[2018-04-22 18:23] ddemidov commented on #456
#458 should help, but needs testing.

[2018-04-22 19:37] dlech opened #459 "ev3dev-stretch: breaking kernel change: brickpi port prefix change"
In the `ev3dev-2.0.0` kernel release (currently uploading), there has been a change in the brickpi driver that resulted in the prefix being changed from `ttyAMA0` to `serial0-0`.

[2018-04-23 08:45] tasklist82 commented on #434
I want to synchronize the motor.

so I want to use Motor MoveSteering class

I searched but the links including the above links do not work.

How do I use it?

[2018-04-24 23:18] ndward commented on #455
It's not clear to me whether the update() function in the 22 April Stretch image has been fixed. Is there something different I should be doing to be able to update the LCD? Should I expect a fix for this any time soon? Am I right in thinking that all the Stretch images released so far for the EV3 suffer either from the brickd hyperactivity bug or the update() function not working?

[2018-04-25 00:26] dlech commented on #455
given the fact that this issue is still marked as open, I don't see why one would expect that it has been fixed.

in the meantime, if you want an older kernel with fixed brickd, I would suggest using an image older than 14 April and just upgrade the brickd package, but not the kernel (`sudo apt update && sudo apt install brickd`).

[2018-04-25 04:22] ddemidov commented on #455
@ndward, you can help by testing if 3b34f78e4232f05f2304771a89dcb0231d6f5812 works. You can do it by doing something like this in the EV3 command line:
[code]
If you run any script while in `test-display-fix` directory, then this version of ev3dev should be picked up instead of the one installed system-wide.

[2018-04-25 10:35] ndward commented on #455
I followed your instructions, then put this script in the test-display-fix folder (specifically, I used SFTP Net Drive to copy this script from another folder, which caused the copy to no longer be executable, so I then made it executable with chmod). Is it correct that I put the script directly in the test-display-fix folder and not in a subfolder?
[code]
When I ran that script (right-click + Run

[2018-04-25 10:41] ddemidov commented on #455
The main module is now named `ev3dev2` I think. Can you change the line
[code]
to
[code]
?

[2018-04-25 10:47] ddemidov commented on #455
Also, the `Screen` class is now called `Display`. There was some big restructuring recently in the `stretch` branch.

[2018-04-25 12:00] bonmotwang commented on #324
I am still getting the error
Traceback (most recent call last):
  File "led_test.py", line 21, in <module>
    Leds.set(Leds.LEFT, brightness_pct=0.5, trigger='timer')
  File "/usr/lib/python3/dist-packages/ev3dev/ev3.py", line 90, in set
    setattr(led, k, kwargs[k])
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 2516, in trigger
    raise Exception('"{}" attribute has wrong permis

[2018-04-25 12:31] ndward commented on #455
When I ran this script
[code]
I got
Starting: brickrun --directory=/home/robot/test-display-fix /home/robot/test-display-fix/lcdtestshort.py
[code]
Apart from Screen() becoming Display(), are there many other changes that need to be made in scripts? Is there a list of necessary changes somewhere?

[2018-04-25 12:44] jabrena commented on #455
This is an important point, not only for Python library and users related. We should announce and track all changes to synchronize the changes or at least try. For Java, I will have to see how to solve the Display issue too, and it is complex. :(

[2018-04-25 12:59] ddemidov commented on #455
@ndward, thanks for testing! I've pushed a fix that should address the problem. You can get it by doing `git pull` from inside `test-display-fix` directory. Can you try if that works?

[2018-04-25 13:00] ddemidov commented on #455
The branch is yet to be released (this is a development branch). When that happens, I guess there will be a list of changes.

[2018-04-25 13:18] ndward commented on #455
Same simple script now gives:
[code]

[2018-04-25 13:25] ndward commented on #455
I added a line to draw text:
[code]

The script completed after 1m8s but no text was drawn.

[2018-04-25 13:35] ddemidov commented on #455
@dlech, does this look correct to you?

https://github.com/ev3dev/ev3dev-lang-python/blob/de3029b9502ff3254c3553a2131d046995367219/ev3dev2/display.py#L269-L277

The only idea I have is to try and switch the byte order: now it is `0RGB`, the other options to try are `RGB0` or `BGR0`.

[2018-04-25 14:57] ndward commented on #455
Thanks, @dlech for the suggestion as to how to obtain an older kernel with fixed brickd. It seems to work. For the first time I feel I can use VS Code with EV3 without having to worry about the brickd bug and while being able to run all the standard commands without problems, except that the load average still seems high. This capture was made while the EV3 was idle:
![upgradebrickd](https://user-

[2018-04-25 15:33] dlech commented on #324
Try putting a delay between setting the trigger to 'timer' and setting the delay_* attributes. Udev needs time to properly set the permissions of those attributes.

[code]

[2018-04-25 15:50] dlech commented on #455
Hmm... I think I would add a special case for EV3 int `Display.__init__()`. If platform == EV3 and self.var_info.bits_per_pixel != 1 then create an 8-bit grayscale (PIL type 'L') image.

Then, for the conversion function, take the 'L' image one byte at a time and expand it to a 32 bit value, making R, G and B each having the same value.

[code]

[2018-04-25 17:03] ndward commented on #455
I noticed when I did a screen capture with the latest version that the image was not monochrome - the highlight in Brickman was blue (and attractive).

Two suggestions for the screen capture:

- the captured image is tiny on a PC screen - it would be nice to have the option of capturing a double-sized image (double size in both dimensions). I know the image can be zoomed or saved and resized exter

[2018-04-26 16:20] ensonic commented on #456
@ndward how did you measure the import times? tool or stopwatch?

[2018-04-26 17:53] ndward commented on #456
Stopwatch!

On 26 April 2018 at 18:20, Stefan Sauer <notifications@github.com> wrote:

[2018-04-30 06:34] ddemidov opened #461 "Sound.speak("text").wait() terminating before finished"
See https://github.com/ev3dev/ev3dev/issues/1081

The problem is that `Sound.speak()` returns `espeak` instead of `play` here:

https://github.com/ev3dev/ev3dev-lang-python/blob/55f57ada176905a1db073423f428bd83dfd6b6ca/ev3dev/core.py#L3440-L3448

[2018-04-30 06:43] ddemidov commented on #461
21a5af4 fixes the problem in the `jessie` branch. I am not sure though if this will ever get released, since `stretch` is now our main target. And the problem is not present in stretch anyway.

If you have to work in `jessie` branch, you can clone a local copy to your home directory:
[code]
and add
[code]
to your `.bashrc`.

[2018-04-30 06:43] #461 closed, assigned to nobody

[2018-04-30 07:25] ddemidov commented on #456
Fixed by #458

[2018-04-30 07:25] #456 closed, assigned to nobody

[2018-04-30 08:13] ddemidov commented on #455
#462 is tested and works on stretch.

[2018-04-30 12:49] kazerko commented on #450
@QuirkyCort @dlech  hi, my code is finally done, but i can't run it from brick without USB connection
error here:
[https://imgur.com/lRc8Z9O](https://imgur.com/lRc8Z9O)

do i need some optimization?

[2018-04-30 16:12] dlech commented on #450
I don't see what this has to do with USB. The picture you posted says that there is a syntax error in your code.

[2018-04-30 22:10] obo opened #463 "Can't draw on LCD screen"
I'm trying to draw the smiley-frowney demo mentioned in #194 on the LCD screen of my EV3.

- **ev3dev version:** 4.14.35-ev3dev-2.0.0-ev3
- **ev3dev-lang-python version:** (don't know how to get, I'm rather new to python)

The demo code I used is this:
[code]

I can run this from ssh using this trick:
[code]

The LCD goes blank, then quickly shows a tiny error message and I get Brickman again.

Wh

[2018-04-30 22:19] kazerko commented on #450
@dlech but its work correct when i run it via MobaXterm with "python3 get.py"
and when i want run it in brick in file browser i see that error

[2018-04-30 22:25] dlech commented on #450
Make sure your program starts with `#!/usr/bin/env python3`

[2018-05-02 09:43] adesito opened #464 "Polarity inversed problem - lost attribute value"
- **ev3dev version: 4.4.87-22-ev3dev-ev3
- **ev3dev-lang-python version:** Python 3.4.

Hi I'm programming Lego Mindstorm robo arm H25 integrated with a python rest API server. I created a RoboArm Class that initialize the roboarm (motors and sensors) and start up the api rest server.

I've a problem initializing polarity attribute in lift_motor (that is LargeMotor object).  This is the code inclu

[2018-05-02 10:30] adesito commented on #464
My problem sorry I've a reset in other part of the code :( I'm sorry for that

Regards

[2018-05-02 10:30] #464 closed, assigned to nobody

[2018-05-02 18:58] KWSmit opened #465 "PiStorms - Error displaying"
- **ev3dev version:** snapshots 2018-04-14 and 2018-04-22

I tried to use the development snapshots of 2018-04-12 and 2018-04-22 on my PiStorms v2. After booting the display is a mess: Brickman is not showed correctly, see attached image. I believe it's also rotaded 90 degrees counterclockwise.
Development snapshot of 2017-12-13 works fine. I believe the display driver has changed since then, coul

[2018-05-03 08:04] KWSmit commented on #465
Because it's not a Python thing, I closed this issue and opened a new one in issue tracker of ev3dev (#1086)

[2018-05-03 08:04] #465 closed, assigned to nobody

[2018-05-03 20:54] obo commented on #463
Just tested also your photo-booth:
https://github.com/dlech/ev3dev-photo-booth

The picture is taken and stored in the file but nothing appears on the LCD, not even the Smile! string.

The only error message I get is this:

[code]

[2018-05-05 15:33] dlech commented on #463
Duplicate of #455

Better "trick":

    brickrun ./draw-smiley-frowney.py

upgrade your packages

    # make sure EV3 is connected to Internet
    sudo apt update
    sudo apt upgrade

[2018-05-05 16:06] dlech opened #466 "branch confusion"
1. There appears to be commits for ev3dev-stretch in the `jessie` branch
2. What is the purpose of the `ev3dev2-namespace` branch? It seems that the `stretch` branch contains the `ev3dev2` namespace already.
3. There is no branch for the 1.x releases (tags).

[2018-05-05 16:08] dlech commented on #466
Re: item 3, the reason I am asking about this is because I am going to go ahead do a v1.2.0 release that fixes the kernel breakage in ev3dev-stretch since it doesn't appear that 2.x is ready for release yet.

[2018-05-05 16:16] dlech commented on #463
Should be fixed in v1.2.0

    dpkg -s python3-ev3dev | grep Version

[2018-05-05 16:18] dlech commented on #463
Also, you can now use grayscale :smile:

[code]

![image](https://user-images.githubusercontent.com/963645/39665214-f8fb4540-5055-11e8-8703-d113f818c925.png)

[2018-05-05 16:18] dlech commented on #459
Fix released in v1.2.0

[2018-05-05 16:18] dlech commented on #455
Fix released in v1.2.0

[2018-05-05 16:19] dlech commented on #452
This is because you are importing `ev3dev.ev3`, which is the LEGO MINDSTORMS EV3 brick.

Starting with v1.2.0, you can now import `ev3dev.pistorms` instead of `ev3dev.ev3` and it should work.

[2018-05-05 16:43] dlech commented on #463
Also:

    python3 -c 'import ev3dev.version; print(ev3dev.version.__version__)'

[2018-05-05 18:35] dwalton76 commented on #466
Item 1: can you point me at some of them?

Item 2: I am pretty sure ev3dev2-namespace can be deleted but I was waiting for confirmation from @wasabifan, see #449.

[2018-05-05 18:59] dlech commented on #466
* https://github.com/ev3dev/ev3dev-lang-python/commit/57e1991ace2d9011d073cb28f042c57473de03ff
* https://github.com/ev3dev/ev3dev-lang-python/commit/078b98a24b9c8fdc2b49dba86279df14df8e8769

[2018-05-06 09:35] dwalton76 commented on #466
I don’t have a good answer...looks like we made a mistake :(

[2018-05-06 12:28] KWSmit commented on #452
When I do this I get an ImportError `No module named 'ev3dev.pistorms'` (using the same version of ev3dev as stated above: 4.9.59-ev3dev-1.6.0-rpi2). That's why I used `ev3dev.ev3` because everything seemed to work this way (except the Leds). Also tried `ev3dev.PiStorms` but same result.

[2018-05-06 13:35] dlech commented on #466
So how should we fix it?

[2018-05-06 13:40] dlech commented on #452
It works for me. Please upgrade your packages or use the most recent snapshot image.

    sudo apt update
    sudo apt upgrade

[2018-05-06 16:54] kazerko commented on #450
@dlech  my last, "bonus" problem is how to get motors to default position on the end of the program
you know, rotating with the motors and on the end it will return to position where it started

this is my actualy code:
[code]

...i tried this [solution](https://bricks.stackexchange.com/questions/2973/how-to-remember-initial-position-of-a-robot-and-return-to-it) but i cant use run_position_limited

[2018-05-06 20:50] KWSmit commented on #452
Yes, upgrading packages did the trick. Now working with `4.14.39-ev3dev-2.0.1-rpi2` and it works fine, both using module `ev3dev.pistorms` and using leds. Also display on PiStorms screen works great with this version (kernel issue #1086, already closed). Thanks a lot David!

[2018-05-06 20:50] #452 closed, assigned to nobody

[2018-05-09 22:22] obo commented on #463
Yes, works with:

    python3 -c 'import ev3dev.version; print(ev3dev.version.__version__)'
    1.2.0

(At the first attempt of brickrun, the screen remained blank, but the second and subsequent attempts worked well.)

Wonderful grayscale!

[2018-05-09 22:22] #463 closed, assigned to nobody

[2018-05-10 20:49] dlech commented on #463
Please open a new issue at https://github.com/ev3dev/ev3dev/issues if this continues to be a problem.

[2018-05-17 18:56] thFury opened #467 "Where is MoveSteering?"
I have implemented my own but it's doing a very bad job. I saw that on 2017 you added the "MoveSteering" in core.py, although it's not there anymore. Where is it? Was it removed?

[2018-05-18 14:37] #467 closed, assigned to nobody

[2018-05-18 14:38] thFury commented on #467
nvm found it in ev3dev2

[2018-05-18 18:13] thFury opened #468 "Motors not stopping at the same time?"
4.4.87-22-ev3dev-ev3
I have no idea what version of ev3dev-lang-python I'm using (if there's a specific command to find out tell me).

I'd update but I never got the internet working, it only shows me the 'connected' status with both DHCP and windows defaults.

The issue is that I tell the motors to stop: the first one stops, the second has a bit of delay, making my straight program useless.. Is t

[2018-05-19 18:30] KWSmit opened #469 "ev3dev-lang-python always uses /dev/fb0 unless the FRAMEBUFFER environment variable is set"
- **ev3dev version:** 4.14.39-ev3dev-2.0.1-rpi2
- **ev3dev-lang-python version:** 1.2.0

There is a bug in ev3dev-lang-python: it always uses `/dev/fb0` unless the `FRAMEBUFFER` environment variable is set. There is a method `FrameBuffer.get_fb_for_console()` that should actually be used internally.

[2018-05-20 03:52] WasabiFan commented on #449
Whoops, sorry; I guess I missed this notification. Yes, all changes from that branch were merged; I just deleted the branch.

[2018-05-20 03:58] WasabiFan commented on #466
I've been out of the loop; it looks like the only problematic changes in those two commits are the updates to the LED and button strings, is that correct? Assuming this wasn't already done, does anyone see a reason not to revert those two particular parts of those changes in a new commit? Also, why hasn't anyone encountered an issue with that yet (or have they, and I'm just oblivious)?

[2018-05-20 08:02] ddemidov commented on #466
:+1:

Probably because the changes to jessie were made after the package was released?

[2018-05-23 16:33] #449 closed, assigned to dwalton76

[2018-05-25 16:56] raphabenoi opened #471 "BrickPi3 + RaspberryPi model B+ Python programming"
Hi there,

I read all the resources I could find but am still not really smarter. But I am sure you can help me out!

I am currently at the beginnings of a very ambitious project and I struggle to find the right way to program my BrickPis.

I want to build a car manufacturing supply chain with an assembly unit. My model will have 2 suppliers (vertical warehouses), one assembly unit and a Lego Powe

[2018-05-30 14:36] APersonH opened #472 "Problems using the 'Hi Technic Color Sensor'"
ev3dev version: 4.4.87-22-ev3dev-ev3

Hi, I'm having trouble using the 'Hi Technic Color Sensor'. When I try the read it's output, I get this:
[code]

My program looks like this:
[code]
I have already read the thread [here](https://github.com/ev3dev/ev3dev-lang-python/issues/333,) but nothing there helped me out

[2018-05-30 16:45] dlech commented on #472
`value` is a method. The line `data = c.value` assigns `data` to the method itself instead of calling the method. Try this instead: `data = c.value(0)`.

[2018-06-10 04:20] WasabiFan opened #474 "Accept SpeedInteger classes in motor groups"
`MotoveSteering` and friends, as well as (probably) `MotorSet`, don't accept the new `SpeedInteger` classes right now. Adding that should be as simple as calling the percentage conversion method before using the arguments.

[2018-06-10 23:45] WasabiFan opened #475 "Reconfigure RTD to show individual stretch/jessie versions"
At the moment I can't figure out how to create a new "version" for stretch, and the Jessie version is erroring because of that missing submodule revision.

[2018-06-11 03:44] WasabiFan opened #476 "Update to new Stretch port names"
As mentioned in https://github.com/ev3dev/ev3dev-lang-python/issues/339, motor port names have changed in Stretch. We're going to need to update the library and test infrastructure.

[2018-06-13 17:58] pepijndevos opened #478 "High-level abstractions like Lejos"
If you have a look at the [Lejos API](http://www.lejos.org/ev3/docs/), you'll see a bunch of `lejos.hardware` packages that provide very similar functionality to the ev3dev API. But there  are also a lot of `lejos.robotics` packages that provide higher-level tools for common tasks such as localisation, mapping, and pathfinding, based on a common wheeled chassis interface.

I'm aware that this libr

[2018-06-27 04:23] WasabiFan opened #479 "Should SpeedInteger actually be floating-point?"
We have these new `SpeedInteger` classes. But... as it turns out, it might make more sense to have them be `SpeedFloat`s (or, more likely, a better name like `SpeedMeasure` or simply `Speed`). My thinking is: given that we're converting from whatever input units are provided to native units (eventually), we should minimize intermediate truncations to enable the granularity that ticks-per-second pr

[2018-07-12 03:47] WasabiFan commented on #440
It looks like this was fixed; closing.

[2018-07-12 03:47] #440 closed, assigned to nobody

[2018-07-12 03:48] WasabiFan commented on #472
@APersonH Were you able to resolve your issue with the information @dlech provided? If so, please close this issue.

[2018-07-12 04:04] WasabiFan commented on #468
It looks like we missed responding to this issue. Sorry about that! For future readers:

The slight delay is likely a result of the fact that the EV3's processor is quite slow, and the method of stopping one motor then the other has a significant amount of incurred overhead between the two low-level driver calls. This methodology will leave enough time between when the driver acts on the first req

[2018-07-12 04:04] #468 closed, assigned to nobody

[2018-07-12 04:06] WasabiFan commented on #468
I'm closing this because it isn't an active bug or feature request for tracking purposes; we have other issues and pull requests tracking the work to get Stretch support cleaned up and published so that the nice options are available to everyone and easy to use.

[2018-07-12 08:27] APersonH commented on #472
Yes, it worked, thank you

[2018-07-12 14:20] #472 closed, assigned to nobody

[2018-07-19 16:01] dlech opened #484 "why delete debian/x.y.z tags?"
I am wondering why @ddemidov deleted all of the debian/x.y.z tags just now. These are tags where debian packages were built from, so they were useful if we ever needed to rebuild those debian packages.

[2018-07-19 16:03] dlech opened #485 "python-ev3dev2 on PyPi"
I would like to propose that we create a new "project" on PyPi for releasing the 2.x version of ev3dev-lang-python. This way it makes it easy for people to have parallel installs of the 1.x version and the 2.x version the same way we are doing so for the debian package.

[2018-07-19 16:04] ddemidov commented on #484
I did `push --tags` and saw that it pushed some new tags aside from 1.2.0. I deleted those. Do you want me to push them again?

[2018-07-19 16:04] WasabiFan commented on #485
Agreed. That's also a good opportunity to update the package metadata. I'll look into it tonight.

[2018-07-19 16:09] dlech commented on #484
Ah, they are probably from my repo when I was doing debian package releases for @rhempel. It would not hurt to have them in this repo as well just for historical purposes.

[2018-07-19 16:10] ddemidov commented on #484
I've just repushed the tags.

[2018-07-19 16:10] #484 closed, assigned to nobody

[2018-07-20 01:36] WasabiFan commented on #485
@dlech Did you do the creation/configuration on the PyPi side already or should we do that now?

[2018-07-20 01:39] dlech commented on #485
I haven't done anything.

[2018-07-20 01:49] WasabiFan commented on #485
That's not true; you updated setup.py with the new name proposed here, so it seemed reasonable to think that you may have done the other half of that change.

[2018-07-29 22:59] WasabiFan commented on #409
I'm not sure if this was fixed in Jessie but it is in the upcoming Stretch release to I'm calling this finished.

[2018-07-29 22:59] #409 closed, assigned to WasabiFan

[2018-07-29 23:06] WasabiFan commented on #475
I've mostly gotten this figured out now, in that there are `ev3dev-jessie`, `ev3dev-stretch-1.x` and `ev3dev-stretch` versions. Currently, it doesn't seem that tags automatically show up in the version selector, so as we release them from here forward I'll activate them on RTD.

[2018-07-29 23:06] WasabiFan commented on #466
I believe this has been fixed; please reopen if it's still an issue.

[2018-07-29 23:06] #466 closed, assigned to nobody

[2018-07-29 23:08] WasabiFan commented on #435
@ensonic What's the status here -- can this be closed?

[2018-07-29 23:59] WasabiFan commented on #485
I updated the final few references to the old package name and did a release to the PyPI test instance (https://test.pypi.org/project/python-ev3dev2/) to confirm everything works; once we tag a commit the CI server should handle the rest. Then @ddemidov will have to add us to the new project because there's no way to create or manage a project from the website until you push the initial version 😆

[2018-07-30 00:04] WasabiFan opened #492 "Micropython support"
It looks like we don't have an issue for this yet.

This is my highest priority after releasing the initial v2.0; I've already done a bit of work to get this up-and-running but not all the core modules are ready and tested yet. I'm putting it in the preemptive v2.1 milestone to track it; the main thing I still don't know is how packaging has to work.

[2018-08-01 04:40] WasabiFan commented on #485
Aaaand it's live! Debian and PyPi packages have been published for `2.0.0-beta1`.

https://pypi.org/project/python-ev3dev2/

Last step: @ddemidov is now the sole owner of the new v2 project (because the CI server is Denis) so he'll need to add others again.

[2018-08-01 04:42] ddemidov commented on #485
I am not the sole owner anymore

[2018-08-01 04:44] WasabiFan commented on #475
The v2 beta has been published and I activated the tag for that release for historical reference.

[2018-08-01 04:44] #475 closed, assigned to nobody

[2018-08-01 04:46] WasabiFan commented on #459
Released in the v2 beta as well. Closing.

[2018-08-01 04:46] #459 closed, assigned to nobody

[2018-08-01 04:51] WasabiFan commented on #485
Great! I think we're all set then. Let me know if anyone spots issues -- this is a beta so we can package up fixes and release quickly. Docs are up, Debian package is up, PyPi package is up, and I have https://github.com/ev3dev/docker-library/pull/3 open for installing the new package by default.

[2018-08-01 04:51] #485 closed, assigned to nobody

[2018-08-01 04:52] WasabiFan commented on #485
Thanks to everyone helping get this release ready and out! It took something like 8 months but we've done it 😆

[2018-08-01 04:57] WasabiFan commented on #399
With the `2.0.0-beta1` release, this is now a thing that exists. It's available here:

https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/ev3dev-stretch/upgrading-to-stretch.html

If you don't have the V2 library installed already, you can do so yourself:

[code]

[2018-08-01 04:57] #399 closed, assigned to WasabiFan

[2018-08-01 04:58] WasabiFan commented on #377
`2.0.0-beta1` has been released to the Debian package server and PyPi.

[2018-08-01 04:58] #377 closed, assigned to nobody

[2018-08-01 05:00] WasabiFan commented on #474
Released in `2.0.0-beta1`.

[2018-08-01 05:00] #474 closed, assigned to nobody

[2018-08-06 00:57] dwalton76 commented on #392
Got distracted by life for a while....will pick this back up and finish it off

[2018-08-06 01:01] dwalton76 commented on #479
Makes sense to me

[2018-08-06 01:03] dwalton76 commented on #235
It has been almost 2 years and I haven't even started on this one.  I am going to close it and we can re-open if someone wants to work on it.

[2018-08-06 01:04] dwalton76 commented on #381
@WasabiFan did we have anything left to do for the new API?

[2018-08-06 01:13] WasabiFan commented on #381
AFAIK, the only place where we haven't done a true EV3-G mapping is for LEDs, and in that case I think our API is the better form anyway for Python code. So I don't believe that there are any outstanding tasks for enabling the new base API surfaces. That being said, we do have issues open for other API sets which we'd like to implement.

[2018-08-06 01:15] WasabiFan commented on #381
Over the past week or two I've tagged things which I think are next on the to-do list with a `2.1` milestone (I just took a guess at a version number which seemed reasonable, it can be renamed) so we can get a sense of what would be immediately helpful.

[2018-08-08 12:36] slendidev opened #494 "Cannot update library"
I have the old ev3dev-jessie library and cannot update to the new ev3dev-stretch library due to connection problems. I can send files to it over ssh. Can I forcly install it without apt(not working) and pip(takes way too long)?

[2018-08-08 13:28] dlech commented on #494
You need to re-flash your microSD card to install ev3dev-stretch.

[2018-08-08 13:29] slendidev commented on #494
Yesterday I downloaded and flashed the newest version from the website

[2018-08-08 13:32] dlech commented on #494
From here?

https://oss.jfrog.org/list/oss-snapshot-local/org/ev3dev/brickstrap/2018-08-06/

[2018-08-08 13:38] slendidev commented on #494
Let me quickly try that... Also, out of curiosity, what do you use to flash? I use Etcher

[2018-08-08 13:40] dlech commented on #494
:+1: Etcher

[2018-08-08 13:43] slendidev commented on #494
I will update you when the batteries are fully charged and then I flash it on an SD card

[2018-08-08 13:46] xslendix commented on #494
Also, is an I'm file, do I exctract it or simply put the whole thing in Etcher?

[2018-08-08 14:32] slendidev commented on #494
It worked! Yeeey! Thanks for the help! 🎉🎉🎉🎉

[2018-08-08 14:32] #494 closed, assigned to nobody

[2018-08-12 15:23] Firebrand opened #495 "Sensor lag"

[2018-08-12 17:23] dlech commented on #495
https://github.com/ev3dev/ev3dev/issues/1150

[2018-08-12 18:39] #495 closed, assigned to nobody

[2018-08-13 15:34] DigitalRookie opened #496 "importing all the files"
hi i am trying to create a wiimote powered robot and a remote(the one that comes with it). i have tried everything such as installing pip via a Ubuntu app and also trying to use the environmental variables in my computer but i have  no clue how to install modules such as ev3dev.ev3, pyev3 and cwiid.

please can you help and reply!

[2018-08-13 15:41] DigitalRookie commented on #496
also whenever i try pip install cwiid which i have been told to do by PyPI it always comes up saying

Collecting cwiid
  Using cached https://files.pythonhosted.org/packages/fa/e8/d0f03c60bbdc583a7fa37a126e9b20055fb3752861820c25bd212dc62756/cwiid-3.0.0.tar.gz
Building wheels for collected packages: cwiid
  Running setup.py bdist_wheel for cwiid ... error
  Complete output from command /usr/bin/pyt

[2018-08-13 15:53] dlech commented on #496
We recommend always installing python packages using the debian package system rather than pip.

Try this:

    sudo apt update
    sudo apt install python-cwiid

However, note that the ev3dev python library is python**3** only and the cwiiid library is python**2** only, so you won't be able to use both at the same time.

Instead, I think you can use the evdev library to get raw input events from

[2018-08-14 13:43] DigitalRookie commented on #496
Ok, cheers but do you also need to get the updated module because i am using the more up to date version  ev3dev2 or something like that. also apparently i need a module called pyev3 but do i need to just use sudo apt install but with pyev3 instead. which python is pyev3 designed for. i think i found a way can the new ev3dev take both of the new software. i have got two types of python i have pyth

[2018-08-14 13:44] DigitalRookie commented on #496
also which terminal should i write the commands into because i have got a Ubuntu app and also a command line which i am not good with.  which one should i use

[2018-08-14 13:48] DigitalRookie commented on #496
whats the command to get pyev3 and ev3dev.ev3

[2018-08-14 13:56] DigitalRookie commented on #496
do i need to get ev3dev2 because i have tired to get it via sudo and pip and neither have worked

[2018-08-14 14:28] dlech commented on #496
I am not familiar with "pyev3". The ev3dev2 python3 library comes pre-installed on the ev3dev-stretch 2018-08-06 image. Documentation for evdev library is [here](https://python-evdev.readthedocs.io/en/latest/) and there is an (older) example of using evdev with a PS3 controller [here](https://www.ev3dev.org/docs/tutorials/using-ps3-sixaxis/).

[2018-08-14 14:28] dlech commented on #496
evdev is also pre-installed.

[2018-08-15 09:53] DigitalRookie commented on #496
its pre installed on what
do you mean ev3dev2
On Tue, 14 Aug 2018 3:29 pm David Lechner, <notifications@github.com> wrote:

[2018-08-15 10:08] DigitalRookie commented on #496
would it be ok if i used a debian app to get it

On Mon, 13 Aug 2018 4:53 pm David Lechner, <notifications@github.com> wrote:

[2018-08-15 10:13] DigitalRookie commented on #496
ok can you recommend to me how to control the remote that comes with the
ev3 and how to code it via python

On Mon, 13 Aug 2018 4:53 pm David Lechner, <notifications@github.com> wrote:

[2018-08-15 10:15] DigitalRookie commented on #496
i have got python 27 and python 37 can you tell me which is python 3 and
which is python 2

On Mon, 13 Aug 2018 4:53 pm David Lechner, <notifications@github.com> wrote:

[2018-08-15 10:50] DigitalRookie commented on #496
i went into a python lang ev3dev stretch file and found a motor program but as soon as i ran it. it came up saying unable to import ev3dev2 and
[ev3dev-lang-python-ev3dev-stretch.zip](https://github.com/ev3dev/ev3dev-lang-python/files/2290016/ev3dev-lang-python-ev3dev-stretch.zip)

[2018-08-15 10:51] DigitalRookie commented on #496
^^^^^^^that is what code i have used and found

[2018-08-15 11:09] DigitalRookie commented on #496
also whenever i try to run python27 with cwiid it says no module named cwiid

[2018-08-17 16:22] Uldiniad opened #498 "IR sensor doesn't respond to toggling off the "beacon" button"
- **ev3dev version:** 4.14.58-ev3dev-2.2.1-ev3
- **ev3dev-lang-python version:** python3-ev3dev2

Code: https://gist.github.com/Uldiniad/2608aa8e4a152fe443b151f0d6c5e08b
Output:
[code]

[2018-08-17 16:22] Uldiniad commented on #498
@WasabiFan opened as requested

[2018-08-17 17:08] WasabiFan commented on #498
What's the behavior you are seeing (physically with the motors)? It seems to me from the log that it does what you expect -- the hand motor starts when you press the button on the remote and stops when the touch sensor is pressed. Which part of that isn't working?

[2018-08-17 17:12] Uldiniad commented on #498
The hand motor doesn't always start when beacon is pressed. As described in the second anomaly, if started and stopped, it will not start again until I execute the first anomaly (which is that I have to run a large motor with any other button and enters without permission nor call the `move(state)` in auto_home which is only assigned to beacon

[2018-08-17 17:20] WasabiFan commented on #498
OK, I see what you're saying (I think); the beacon stops firing events after the first or second usage. I'll take a look later today and see if I can repro.

[2018-08-17 17:22] Uldiniad commented on #498
yes, that's correct, and instead the other buttons on the same channel fire that event which then allows beacon to fire its event again... 🤷‍♂️

[2018-08-19 03:14] WasabiFan commented on #498
I just pulled out my IR sensor and remote to try this out, When I press one of the up/down buttons, the light that indicates it's sending a signal lights up for a bit then turns off. But when I press the button in the top-center (which I believe is the one you are referring to here), it turns on _and doesn't turn off_. So, it seems that the built-in behavior of the remote is that the top-center bu

[2018-08-19 03:56] WasabiFan commented on #479
@dwalton76 What were the motivations for implementing the `SpeedInteger` family so they were directly inherited from `int` rather than being their own class with a single field? I'm motivated to switch it to the latter for two reasons:

- The inheritance from a system type makes things like stringification [weird](https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/ev3dev2/motor.py#L8

[2018-08-19 13:34] dwalton76 commented on #498
yep that button toggles the IR beacon on/off

[2018-08-19 13:36] dwalton76 commented on #479
I think it was just “well we are adding to the behavior from int so let’s inherit from that”. I don’t have any objections to changing it.

[2018-08-20 02:09] Uldiniad commented on #498
@WasabiFan indeed. as dwalton said it is the intended behaviour of the beacon button. problem is that toggling it off and back on again does not run the medium_motor again unless you click the other up/down buttons

[2018-08-20 07:37] WasabiFan commented on #498
Ok, I had assumed you were just mis-understanding the behavior of the beacon 😆

This turned out to be a bit of a Schrödinger's cat situation, but after a bit of head-scratching at 20-past-midnight I've localized the problem: a peculiar interaction between setting the mode of the sensor rapidly and the driver responding to updates.

@dlech:

If I have an IR sensor plugged in and do the following (w

[2018-08-20 20:52] dlech commented on #498
Looks like I observed the same thing way back when: http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/sensor_data.html#lego-ev3-ir-mode3-value0

This is intentional on the part of the driver. Some (very few) modes (e.g. the oneshot ultrasonic sensor mode `US-SI-CM`) won't update the value return unless the mode is set.

Are there any error messages in `dmesg`? I seem to vaguely

[2018-08-20 21:03] WasabiFan commented on #498
I am not sure if you answered the question better than I expected or if I didn't ask what I thought I was asking; it should have instead been:

---

There were some buffer overrun errors earlier in the log (I don't think they were related) but none after plugging in the IR sensor. I can do a more thorough check with a reboot later today.

[2018-08-20 21:18] dlech commented on #498
I think the delay after toggling the beacon button off is a feature of the sensor. If the value gets stuck on and won't toggle back off, then that sounds like a hardware bug.

[2018-08-20 21:37] WasabiFan commented on #498
OK... so it sounds like we need to work around this by not setting the mode every time. Perhaps this is a good time to revisit the policy of always setting the mode before reading (which results in what I believe is a significant perf hit).

[2018-08-29 13:37] Lenascha opened #499 "Motors are inconsistant"
I have been working on a little Robot thats supposed to have ADAS. The program itself is not the problem though. For it to work the turns that the robot does as well as the distance it drives have to be the same each time it moves. However thats not the case.
Has anyone else had this problem before?
if I just tell the motors to run to a certain position and I run that program 3 times it covers a d

[2018-08-29 14:28] WasabiFan commented on #499
We can't help you unless you do what the issue template asks. You need to tell us the software versions you're using and give us a sample of your code.

[code]

[2018-08-31 20:44] #479 closed, assigned to nobody

[2018-08-31 21:00] WasabiFan opened #501 "Use native implementation of grey-to-RGB conversion for display update"
Continuation of https://github.com/ev3dev/ev3dev-lang-python/pull/497.

[This change](https://github.com/WasabiFan/Pillow/commit/3d86ef522dec12b0fdcc76a2a605fa3e41fb870e) should do it for the EV3; IIRC, other platforms will need their own solution to handle the extra bit used for the green channel.

The things that blocked me from opening a PR for that change originally were A) needing to test on

[2018-09-02 17:12] DigitalRookie commented on #496
@dlech OK i am using vscode and in python2.7 cwiid does now work but in vscode it does not work. and this cwiid file is still not working because it can't find the libraries/modules. here is what @G33kDude has done (this is the person who created it). can you give me the up to date version of how this code would be written out.

import time

import cwiid
import pyev3

def clamp(value, lower, upper

[2018-09-03 20:48] dwalton76 commented on #433
What if we close them in `__del__` and have the test cases call `gc.collect()`?

[2018-09-03 20:58] #448 closed, assigned to nobody

[2018-09-03 21:01] dwalton76 commented on #471
I would start here https://sites.google.com/site/ev3python/learn_ev3_python lots of good lessons to try out

[2018-09-03 21:01] #471 closed, assigned to nobody

[2018-09-03 22:33] WasabiFan commented on #498
While I'm ruminating on a proper fix, here's a workaround for anyone hitting the same issue:

[code]

Modify the imports in your script to remove the `InfraredSensor` import and add the two above, then paste in that new class. It should be a drop-in replacement.

[2018-09-04 05:00] dlech commented on #433
Even if you manually run the garbage collector, there is no guarantee that `__del__` will be called. It could only happen if there are no references to the object remaining. If you want to actually close all file handles, then you should implement a `close()` method that does so.

[2018-09-06 20:37] KWSmit opened #503 "Keyword argument brake in Motor.on() and Motor.off()"
- **ev3dev version:** 4.14.59-ev3dev-2.2.2-rpi2
- **ev3dev-lang-python version:** python3-ev3dev 1.2.0

Methods `Motor.on()` and `Motor.off()` do have optional keyword argument `brake`. Default value is `True`. But when `brake=True` the motor won't stop with stop_action 'brake' but with stop_action 'hold'. That's a bit confusing (or a bug?).

In `ev3dev-lang-python/ev3dev2/motor.py` lines 890-894

[2018-09-06 20:54] WasabiFan commented on #503
It's called "brake" because A) that's the common word people will _expect_ and B) that's the term EV3-G uses. If we expected people to frequently use the underlying `brake` mode I think this would be an issue, but in general `hold` is what people will be using. That being said, we could rename it if there's enough support for it.

[2018-09-06 20:59] KWSmit commented on #503
Ok, fair enough.

[2018-09-07 00:18] WasabiFan commented on #503
Someone else expressed the same confusion to me recently, so you're not the only one to ask. What do others think? If we are going to rename it, we have to do it now.

[2018-09-07 10:43] ndward opened #504 "python-ev3dev v2 won't allow negative angles for motors"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii  python3-ev3dev                 1.2.0                    all                     Python language bindings for ev3dev
ii  python3-ev3dev2               2.0.0~beta1        all                      Python language bindings for ev3dev

I have been exploring EV3 Python v2 in depth over two weeks and have sent dozens of comments to

[2018-09-07 11:08] ndward opened #505 "python-ev3dev v2 program freezes if go to current position"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

If the script instructs the motor to go to a position that it is already in then this freezes the program! For example, this will freeze the program (i.e. the program will not terminate):
[code]

[2018-09-07 12:48] ndward opened #506 "python3-ev3dev v2 play_tone() problems"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

I have two problems with the new function **play_tone()**, part of python-ev3dev v2.
Firstly, it's very similar to the v1 function **tone()** except that **tone()** needs a time in milliseconds w

[2018-09-07 13:21] ndward opened #507 "python3-ev3dev v2 angles of zero work badly with on_for_*()"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

This is a separate issue to the problem of **negative angles** not being handled correctly by the new python3-ev3dev v2 motor functions that I reported in issue #504.

It seems to me that if angl

[2018-09-07 14:27] ndward opened #508 "python3-ev3dev v2 speed vs speed_pct"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

Documentation for the new v2 motor commands is at https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/motors.html

As I understand it, the new 'on' commands for **single motors** use '**speed_

[2018-09-07 15:18] ndward opened #509 "Confusing documentation for python3-ev3dev v2"
The 13th principle of the Zen of Python: **There should be one -- and preferably only one -- obvious way to do it**.

Reminder: documentation for python3-ev3dev v2  can be found at https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/index.html .

As I understand it, python3-ev3dev v2 contains all the same functions as python3-ev3dev v1 plus a number of new functions, most of which rare improved

[2018-09-08 02:44] WasabiFan commented on #508
As mentioned via email, we have removed all `speed_pct` names. Anything that had that name in the past will now be called `speed`.

https://github.com/ev3dev/ev3dev-lang-python-demo/pull/40 Will handle the demo program updates.

[2018-09-08 02:44] #508 closed, assigned to nobody

[2018-09-08 02:54] WasabiFan commented on #504
@ddemidov @dwalton76 I think it makes sense to remove that assertion; what are your thoughts? I believe the logic to allow negative speeds _and/or_ negative distances is already implemented.

[2018-09-08 10:20] dwalton76 commented on #504
I think I put this is because it was possible to enter a speed/angle combo that resulted in the motor never moving. Maybe replace it with a smarter assert that would allow negative angles but still catch the “will never move” scenario?

[2018-09-08 17:00] ndward commented on #504
I made a separate issue (#507 ) for the case of the motor(s) being instructed to turn through zero degrees or to turn with zero speed. In that issue I argued that it can be perfectly reasonable for this to happen - it does not necessarily imply an error. The example that I give is a robot whose speed is repeatedly set equal to the ambient light intensity - that will cause the speed argument to be

[2018-09-08 20:02] matskew opened #510 "gyro.reset() error - needs bytes-like object not int"
- **ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
- **ev3dev-lang-python version:
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                      Version           Architecture      Description
+++-=========================-=================-=================

[2018-09-08 20:23] matskew commented on #507
motor.py's wait(self, cond, timeout=None) method polls the motor waiting for a change. It assumes that when it is called the motor is running, and it is waiting for a change to either 'stalled' or 'not running'. Unfortunately if you ask the motor to move zero, then it never was running in the first place. Thus the polling will block forever.

You can narrow the race condition by moving the poll to

[2018-09-08 20:26] matskew commented on #505
I put this comment in one of your other issues, but the point still stands:

motor.py's wait(self, cond, timeout=None) method polls the motor waiting for a change. It assumes that when it is called the motor is running, and it is waiting for a change to either 'stalled' or 'not running'. Unfortunately if you ask the motor to move zero, then it never was running in the first place. Thus the polling

[2018-09-08 20:44] matskew commented on #510
Let me say that my suggestion fixes the problem of "GyroSensor.reset() throws an exception." However, successfully writing that 0x11 into the UART doesn't seem to reset the angle read off of the gyro. It doesn't seem to do anything at all, really.

The old hack of changing the mode of the gyro (e.g. changing it to MODE_GYRO_RATE and then back to MODE_GYRO_ANG) to reset the current angle to zero st

[2018-09-08 20:57] dlech commented on #510
What is the date stamp on your gyro sensor? e.g. "22N5"

[2018-09-08 21:07] matskew commented on #510
My lego gyro sensor is O5N8 as best I can tell. I purchased it new from lego in August 2018.

[2018-09-08 22:30] WasabiFan commented on #510
@dlech where'd we get this technique for resetting the sensor? I don't see a mention in the docs (I might be missing something) and the relevant issue seems to suggest just resetting the mode: https://github.com/ev3dev/ev3dev/issues/402

[2018-09-08 22:34] dlech commented on #510
It comes from the official LEGO programming software. https://github.com/ev3dev/ev3dev-lang-python/issues/362

[2018-09-08 22:57] ndward opened #511 "New site to promote python3-ev3dev v2"
I've been working on a new site devoted to EV3dev Python v2 and the VS Code workflow. From today I've made it accessible to anyone with this link: https://sites.google.com/site/ev3devpython/ but search engines should not be able to find it yet so you are the only people who know of its existence.
It's a copy of my older v1 site at https://sites.google.com/site/ev3python which has been extensively

[2018-09-09 02:01] WasabiFan commented on #511
Version 2 of this library, and ev3dev-stretch as a whole, are currently considered a "beta". That means that it should be entirely usable and is expected to work well, but we may still change things that would cause code which works now to not work after an upgrade. So my suggestion would be to wait at least until we release the next beta release of this library, which will be probably in the next

[2018-09-09 02:13] WasabiFan commented on #509
@ddemidov @dwalton76 What are your thoughts on this? I generally agree that _most people_ will and should use the new `on_*` methods rather than the manual `run_*` variations, and further I expect that practically no-one will be directly poking the driver with `speed_sp`, `command`, etc. They're there because that was originally the primary way you could use the API surface, but really don't need

[2018-09-09 07:07] ddemidov commented on #509
How about just creating a subsection in the `Motor` docs, named 'Low level API' and containing native driver commands? This way we keep our current API and let people know what is functions are designed to be used by the user.

[2018-09-09 07:36] WasabiFan commented on #509
I like the idea, but I'm not sure how to do it with the `autoclass` directive that we use. Do you have any idea? My recollection is that it's quite unconfigurable.

[2018-09-09 07:48] WasabiFan commented on #509
We might be able to hack something together using http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#event-autodoc-skip-member

[2018-09-09 08:06] ddemidov commented on #509
The following code in motors.rst
[code]

Gives me something like:
![motor](https://user-images.githubusercontent.com/270503/45262486-57cff600-b420-11e8-8f40-af5de367bbb5.png)

This is more work than just using `:members:`, but gives more control over contents.

[2018-09-09 08:17] WasabiFan opened #512 "Implement way to read motor speed in various SpeedValue units"
Right now, we have a `speed` property which returns the value in native units. We should implement a way of consuming that value in other units; off the top of my head it would probably be best to either A) add properties like `speed_rpm` which return appropriate values or B) add static methods like `from_native_units` to each speed class (as well as some public way to get a number out) so you can

[2018-09-09 08:25] ddemidov commented on #512
Just brainstorming: with an overloaded `__index__` method we could do something like `motor.speed['RPM']` or `motor.speed['DPS']`. Another (but very similar) option is providing a method taking the units as a string: `motor.speed('RPM')`, `motor.speed('DPS')`, `motor.speed('native')`. The latter could be the default, so that `motor.speed()` returns native units.

Another option: if we make `motor.

[2018-09-09 08:57] WasabiFan commented on #509
Yeah, that seems reasonable; we'll just have to be careful that we always add new things to the docs.

[2018-09-11 02:48] WasabiFan opened #515 "Blocking motor calls return when motor state becomes "stalled""
Currently, we use `wait_until_not_moving` to determine when to return from a blocking motor call. From its docstring:

In other words, if I request to move the motor for ten rotations and then part way through its motion the motor stalls, the call returns then while the motor is still trying to complete the movement. Additionally, there doesn't seem to be any way that the caller can tell whether t

[2018-09-11 04:20] ddemidov commented on #515
You could in principle check `motor.state` immediately upon return from the function. We can make it clear in the documentation that the function may spuriously return (when the motor stalls temporarily), similar to how it's done in [C++ documentation for `std::condition_variable::wait`](https://en.cppreference.com/w/cpp/thread/condition_variable/wait):

[2018-09-11 04:57] WasabiFan commented on #515
I think, if we want to support the "block and then check state" pattern, we should look into returning a flag from these blocking functions indicating whether the motor completed its movement or not (based on why we returned). Checking the `state` afterward seems like a recipe for race conditions. I believe this would require some additional data from `wait_until_not_moving`.

Some other options:

[2018-09-12 11:10] ndward opened #517 "New gyro angle and rate properties not working?"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

Having run some scripts that use the gyro sensor my impression is that the new properties **angle** and **rate** do not work (or else I am not using them correctly). Here is a script I used to te

[2018-09-12 15:46] dlech commented on #517
To be sure that this is not a gyro drift problem, make sure the robot is completely at rest when starting the program. The slightest movement can cause the sensor reading to act as you have described. Normally, switching modes is enough to "reset" the sensor, but sometimes, the sensor can just get in a bad state and you have to unplug it and plug it back in to get it to behave normally again.

[2018-09-12 16:27] ndward commented on #517
The gyro was definitely at rest each time the program was started, and I don't think drift could explain the huge difference between the combined and separate readings noted above.

Talking about starting the program reminds me of another question: **angle** is relative to what? The documentation says **angle**: The number of degrees that the sensor has been rotated since it was put into this mode

[2018-09-12 16:44] dlech commented on #517
Ah, I see what is going on now. When you read each value individually, the sensor switches modes, which resets the sensor each time you read the property. If you want to read both values without the angle resetting to 0, the only way to do it to use the `rate_and_angle` property.

The angle is relative to the position of the robot when you turned it on. Unless you switch modes on the sensor (which

[2018-09-12 18:11] ndward commented on #517
I modified the script like this so that with option = 1 the only mode that is used is **angle**
[code]

That gave these results:
Angle: 0
Angle: 0
Angle: 0
Angle: 19
Angle: 3
Angle: 1
Angle: 1
Angle: 0
Angle: -2
Angle: 0
Angle: 2
Angle: -3
Angle: 5
Angle: -1
Angle: 3
Angle: -9
Angle: 0

While these readings were being taken the robot turned about 540° but the readings don't show this at all (unlik

[2018-09-12 18:32] ndward opened #518 "Infrared sensor 'proximity' property"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

In EV3-G the IR sensor has two distinct proximity modes, one for _objects_ and one for the _beacon_. This image shows to two modes (we notice that in each mode the proximity icon is present).
![p

[2018-09-12 19:37] WasabiFan commented on #517
Was the sensor mounted in the correct direction, so that the rotating arrows align with the way the robot is spinning?

[2018-09-12 19:59] dlech commented on #517
I wonder if https://github.com/ev3dev/ev3dev-lang-python/pull/502 will fix the problem. I think that since each call to the `angle` property currently sets the mode, that could be resetting the angle reading back to 0.

[2018-09-12 20:31] WasabiFan commented on #517
@dlech I'm thinking the same thing. I plan to track down a gyro sensor do some testing on that later today if someone doesn't get to it first.

[2018-09-12 21:50] ndward commented on #517
Yes, the sensor was correctly mounted.

[2018-09-12 23:52] #506 closed, assigned to WasabiFan

[2018-09-12 23:53] #498 closed, assigned to nobody

[2018-09-13 00:00] WasabiFan commented on #517
I couldn't find a gyro sensor so I won't be able to test this right now. I am guessing that #502 will fix the issue here, so unless someone else tests it first I'll leave this until we release those changes so that @ndward can try it out.

[2018-09-13 05:19] Uldiniad commented on #498
thanks @WasabiFan much appreciated

[2018-09-13 05:23] WasabiFan commented on #498
Yeah, thanks for doing the initial investigation. FWIW until we release the package with this change the workaround above is still the best way to go.

[2018-09-14 08:48] WasabiFan commented on #518
@dlech could you help us understand the situation regarding IR proximity? Only one "proximity" mode appears to be available... So what is the other EV3-G block doing? Perhaps is `IR-SEEK` the only one which tracks the remote and `IR-PROX` the object distance estimate?

[2018-09-14 12:16] ndward commented on #518
I note that in the IR sensor documentation there is, in addition to **proximity**, also a **distance()** function: _distance(channel=1) Returns distance (0, 100) to the beacon on the given channel. Returns None when beacon is not found._

I'm guessing that this **distance()** function corresponds to **beacon proximity** in EV3-G and that Python's **proximity** property is for _object_ proximity, n

[2018-09-14 14:17] dlech opened #519 "broken link"
The link to "Check out the InfraredSensor documentation for more info." [here](https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/upgrading-to-stretch.html#reorganization-of-remotecontrol-beaconseeker-and-infraredsensor) is broken.

https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/docs/sensors#infrared-sensor

[2018-09-14 14:34] dlech commented on #518
I believe @ndward's guesses are correct.

[this](https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/ev3dev-stretch/sensors.html?highlight=infrared#ev3dev2.sensor.lego.InfraredSensor.proximity) is wrong (in spite of being mostly right):

The distance measurement has nothing to do with the remote. The `proximity` property is the same as this block:

![selection_015](https://user-images.git

[2018-09-14 14:58] ndward commented on #518
I'm glad that an error in the documentation has been identified but I'd just like to give a reminder that I have suggested that there may be two other problems:

- spurious, excessively high **proximity** readings, even when there is a significant delay between readings
- a significant deterioration in the accuracy of the readings when the delay between readings is short

These observations are va

[2018-09-14 22:41] ndward opened #520 "Problems with new beacon functions"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

My tests suggest that all the following functions fail when the physical distance between the IR sensor and the IR beacon is less than about 35cm: **distance()**, **heading()**, **heading_and_dis

[2018-09-14 23:48] WasabiFan commented on #520
https://github.com/ev3dev/ev3dev-lang-python/issues/498

---

I am pretty sure this will all be fixed by the changes from #498.

[2018-09-15 01:28] WasabiFan opened #521 "Add debian packaging for micropython"
@dlech I can't figure out what needs to be added so that the library is installed into the correct location for Micropython as well. I am guessing the logic for python3 packaging is implicit here:

https://github.com/ev3dev/ev3dev-lang-python/blob/be77ea3bf4f4ac219ec03d5da4452fece9729746/debian/rules#L8

But I'm not sure what the equivalent would be for micropython. Could you give me some pointers

[2018-09-15 01:37] #519 closed, assigned to nobody

[2018-09-15 15:44] dlech commented on #521
Have a look at this: https://github.com/ev3dev/micropython-lib/blob/ev3dev-stretch/debian/rules

[2018-09-15 15:47] dlech commented on #521
debhelper knows about python, so basically it does everything for you automatically. It doesn't know anything about micropython, so you have to do everything manually in the `debian/rules` file. And you will need to add the package that provides `mpy-cross` to the build depends in `debian/control`.

[2018-09-16 16:25] ndward commented on #518
There was confusion about whether the **proximity** property represents _object_ proximity or _beacon_ proximity. It turns out it's the former, and the **distance** property corresponds to the latter. It seems to me that ongoing confusion could be avoided if the properties were to be renamed **object_proximity** and **beacon_proximity**. This would also bring the names in line with EV3-G which ref

[2018-09-16 22:38] WasabiFan commented on #518
As with other similar issues (e.g. #520), this should be resolved once we release the next version of the library. I will do so once we finish the fixes for motor issues which you reported.

What are the names that EV3-G uses for "object" distance? I'd be fine with changing the names to be the same as EV3-G.

[2018-09-17 16:41] ndward commented on #509
Another good example of confusing and superfluous documentation: https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/sensors.html#ev3dev2.sensor.lego.UltrasonicSensor.distance_centimeters_continuous
Ultrasonic **distance_centimeters_continuous** and **distance_inches_continuous** have notes that they should not be used because there are already properties that do exactly the same (and which hav

[2018-09-18 23:29] coffeedood opened #525 "How to get a motor to run on a Brickpi3 with ev3dev with Python3?"
- **ev3dev version:** Stretch Beta raspberry pi model 2/3
- **ev3dev-lang-python version:** INSERT ALL VERSIONS GIVEN BY `dpkg-query -l python3-ev3dev*` HERE

I have been trying to figure out how to get a Brickpi3 to work with ev3dev.  I notice when I first turn it on the yellow LED is not blinking at all but is just solid yellow (is it not supposed to blink when you run ev3dev?).  I have cloned t