[2018-09-19 01:45] WasabiFan commented on #525
With recent ev3dev-stretch images, you shouldn't need to install any extra software or clone additional repos. Without seeing your code I can't tell what exactly is wrong, but it seems to be something with port names. Please see our README for a _getting started_ guide: https://github.com/ev3dev/ev3dev-lang-python#usage

As shown there, running a motor should look like:

[code]

[2018-09-19 13:41] ndward commented on #518
In EV3-G the IR sensor block has a **measure>proximity** mode with a '**proximity**' parameter that gives the proximity of _objects_, and a **measure>beacon** mode with a '**proximity**' parameter that gives the proximity of the _beacon_. I think **object_proximity** and **beacon_proximity** are the best names for the corresponding EV3 python properties, though that implies that **heading_and_dist

[2018-09-19 22:29] ndward opened #526 "Slow EV3 screen update in EV3 Python v2"
ev3dev version: 4.14.61-ev3dev-2.2.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta1 all Python language bindings for ev3dev

This script seems to show that **it takes more than 3s for the screen to update in EV3 Python v2**:
[code]

Result:
3.3111462593078613
6.4367356300354
9.531918287277222
12.596878051757812
15.7024

[2018-09-19 23:12] WasabiFan commented on #526
We have implemented a fix which will be available with the next release. https://github.com/ev3dev/ev3dev-lang-python/pull/497

[2018-09-20 08:42] coffeedood commented on #525
thank you so much.  It seems crazy but yeah I was working a long time trying to figure out something that simple.  I guess now I am trying to get stuff like this to work with two Brickpi3's stacked on top of eachother.  Do you know what the python code would be for multiple brickpi3's stacked on top of eachother to run a motor on the 2nd one?

[2018-09-20 15:15] dlech commented on #525
You need to configure the multiple BrickPi3s in `config.txt`

https://github.com/ev3dev/docker-library/blob/master/ev3dev-stretch/layers/rpi-common/boot/flash/config.txt#L27

Additional ports need to use `'spi0.1:ME'` instead of `OUTPUT_A`. The last letter (`E` in this case) is the name of the port where the first BrickPi3 is `A`, `B`, `C` or `D`, the second is `E`, `F`, `G`, or `H` and so on.

[2018-09-20 22:29] coffeedood commented on #525
Hello, so I think I'm close to getting the 2nd brickpi3 to work.  But yeah I am a little confused by your statement above.
Additional ports need to use 'spi0.1:ME' instead of OUTPUT_A. The last letter (E in this case) is the name of the port where the first BrickPi3 is A, B, C or D, the second is E, F, G, or H and so on."
so how do you "use 'spi0.1:ME' instead of OUTPUT_A"?
I typed this into pytho

[2018-09-21 01:47] Atzingen commented on #204
hello @ensonic how do you "compile" your python script ? Are you using regular python3.6 or Cython ?

[2018-09-21 02:02] dlech commented on #525
Delete one and type the other in its place. Like this:

    m = LargeMotor('spi0.1:ME')

[2018-09-21 02:05] Atzingen commented on #204
Can you elaborate more on how do to do this ?

[2018-09-21 02:44] WasabiFan opened #527 "Add port name constants for stacked BrickPi's"
Mentioned here: https://github.com/ev3dev/ev3dev-lang-python/issues/525

It seems it would be easy enough to add those. I believe the limit is 4 stacked BrickPi's at once.

[2018-09-21 08:48] coffeedood commented on #525
sweet!  Thanks again!  Yeah I will probably have more questions soon!

[2018-09-23 22:31] #504 closed, assigned to nobody

[2018-09-23 22:31] #505 closed, assigned to WasabiFan

[2018-09-23 22:31] #507 closed, assigned to WasabiFan

[2018-09-23 22:40] WasabiFan opened #528 "Add documentation for Micropython usage"
Now that the core functionality works with Micropython, we should write some docs for it.

Topics:
- What's supported and what isn't
- "getting started" (really, just using the new shebang)

[2018-09-23 22:48] #492 closed, assigned to nobody

[2018-09-24 19:17] WasabiFan commented on #526
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:17] #526 closed, assigned to nobody

[2018-09-24 19:18] WasabiFan commented on #520
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:18] #520 closed, assigned to nobody

[2018-09-24 19:19] WasabiFan commented on #517
Fix released in `2.0.0~beta2`. To upgrade:

[code]

@ndward Can you confirm that this is resolved?

[2018-09-24 19:20] WasabiFan commented on #508
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:21] WasabiFan commented on #506
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:21] WasabiFan commented on #507
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:21] WasabiFan commented on #505
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:22] WasabiFan commented on #504
Fix released in `2.0.0~beta2`. To upgrade:

[code]

[2018-09-24 19:22] WasabiFan commented on #498
Fix released in `2.0.0~beta2`. To upgrade:

[code]

The workaround posted above can be removed from user code.

[2018-10-05 13:26] ndward commented on #511
I've just redirected the domain name **ev3python.com** to point to the new site which is devoted to version 2 of EV3dev Python. The old site devoted to version 1 can still be accessed at **v1.ev3python.com**.

[2018-10-05 13:30] ndward opened #531 "rate_and_angle() should be renamed angle_and_rate()"
4.14.61-ev3dev-2.2.2-ev3
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d
ii  python3-ev3dev 2.0.0~beta2  all          Python language bindings for ev3d

Gyro: rate_and_angle() reports angle and rate, in that order. The function should, IMHO, be renamed angle_and_rate()

[2018-10-05 13:32] ndward opened #532 "play() and play_file() are almost identical. Do we need both?"
4.14.61-ev3dev-2.2.2-ev3
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d
ii  python3-ev3dev 2.0.0~beta2  all          Python language bindings for ev3d

play() and play_file() are apparently identical except that one can set the volume with play_file(). Do we need both functions? Can one be suppressed? Is it clear which one should be used (it's not clear to me).

[2018-10-05 13:38] ndward opened #533 "Incorrect documentation for rectangle()"
4.14.61-ev3dev-2.2.2-ev3
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d
ii  python3-ev3dev 2.0.0~beta2  all          Python language bindings for ev3d

At this location:
https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/other.html#ev3dev2.display.Display.rectangle
the description

rectangle(clear_screen=True, **x=10, y=10, width=80, height=40**, fill_color='bla

[2018-10-05 13:45] ndward opened #534 "wait_until_angle_changed_by(delta) is not direction-sensitive"
4.14.61-ev3dev-2.2.2-ev3
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d
ii  python3-ev3dev 2.0.0~beta2  all          Python language bindings for ev3d

https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/sensors.html#ev3dev2.sensor.lego.GyroSensor.wait_until_angle_changed_by

wait_until_angle_changed_by(delta): Wait until angle has changed by specified amount.

I

[2018-10-15 22:22] coffeedood opened #535 "How to use sensors in Python?"
I'm wondering what you use for sensors for example is it "spi0.1:S1"?  I mostly want to try to have a sensor on Input S1 on the 1st brickpi and have it turn the motor on spi0.1:ME.  What should I use to control the Ev3 TouchSensor on S1?

[2018-10-15 23:48] WasabiFan commented on #535
Please see the examples in our README. We have constants for the various port names so you just have to use the named constants.

[code]

[2018-10-19 05:52] coffeedood commented on #535
hmmm I still haven't been able to get sensors to work.  Here is a giant list of attempts to get it working.  the touch sensor is plugged into S2 and it generally comes up with the same error each time.
This is what my python script looks like before I try to run it.

[code]

the error generally says
[code]
any suggestions?

[2018-10-19 16:35] dlech commented on #535
BrickPis cannot automatically detect sensors. You must create a port object for each port, then select the proper mode for the port. Some modes also require that you set the `set_device` property to the appropriate sensor. There is more discussion about this in #280.

[2018-10-26 00:23] scprotz commented on #204
Python3 still runs slow and I tried the 'exec' hack (but it doesn't seem to help).

I also tried to manually compile my .py files to .pyc using python3 -m compileall .

It ran with no errors but no .pyc files were created.  I have the feeling that the interim bytecode version isn't stored and thus making it very slow to run the programs each time.

Can anyone with more knowledge about this please

[2018-10-26 00:36] scprotz commented on #204
Ok. So I can answer my own question - the .pyc is in the __pycache__ folder.

I actually ran the pyc file:  python3 filename.pyc

I have a program that does a simple turn with the large motors.  The .py file timed in at:
real	0m34.313s
user	0m8.730s
sys	0m1.240s

The .pyc version:

real	0m36.046s
user	0m9.010s
sys	0m1.240s

I did a subsequent run and it took 15 seconds.  The first 11 seconds elaps

[2018-10-26 13:14] ensonic commented on #204
@Atzingen compile is a python module - https://docs.python.org/3/library/py_compile.html

[2018-10-26 15:06] dwalton76 commented on #392
I think I have most of the code/math worked out in my MoveDifferential class but I am hitting a snag with trying to accurately rotate a large motor at an exact speed for an exact distance.  Opened https://github.com/ev3dev/ev3dev/issues/1186 to investigate.

PS
Apologies for being AWOL the past 6 months :(

[2018-10-26 15:14] dwalton76 commented on #511
@ndward thank you for doing this! :) Will take a look at it this weekend.

One thing to clarify on the site is "version 2 of ev3dev-lang-python" vs "version 2 of python".
` In October 2018 another huge improvement was made with the introduction of a new Python library (version 2)`

We are only using python version 3 now but the line above might confuse folks.

[2018-10-26 20:29] ndward commented on #511
I've changed a few references from 'Python' to 'EV3 Python' or 'EV3dev Python' to reduce the risk of confusion. I thank you in advance for pointing out errors on my site - I'm sure you will find many!

[2018-10-26 23:26] dwalton76 commented on #531
Looking at #362 the EVG block we were following uses angle_and_rate() so yeah seems like a logical change.

[2018-10-26 23:29] dwalton76 commented on #534
The code is using the abs() of the delta so the direction does not matter.

[2018-10-26 23:32] dwalton76 commented on #532
Seems like we can combine them. #358 has the EV3-G blocks for sound.

[2018-10-26 23:33] dwalton76 commented on #527
Cool I did not know you could stack them :)

[2018-10-26 23:46] dwalton76 commented on #515
The current behavior is pretty critical for Mindcuber, that bot often has to do motor turns that result in stalls.

Option 2 above is doable today via a wait_while(“running”) call.

[2018-10-26 23:54] dwalton76 commented on #503
What if in _set_brake we made the arg being passed “coast” and if that is false we set the stop action to HOLD? Seems like that would be a little less confusing

[2018-10-26 23:55] #499 closed, assigned to nobody

[2018-10-27 00:02] dwalton76 commented on #478
It does seem that some of higher level classes in motor could also belong in their own files...wheeledbot.py or something like that?  What do others think?

[2018-10-27 00:05] dwalton76 commented on #478
@pepijndevos you should grab #347

[2018-10-27 00:08] dwalton76 commented on #435
It had been 3 months of idle am closing this one. Please reopen if it is still an issue.

[2018-10-27 00:08] #435 closed, assigned to ensonic

[2018-10-27 13:38] Will2004 opened #539 "Finding the ev3dev libary and cwiid"
hi i am wondering how i can control my robot via  a wiimote is there any code that you can send to me about how to do this

I am also wondering on how to fix the error no module named ev3dev.motor or ev3dev.sensor because it is not working. i know how to get my projects onto the robot but the hard thing is that when i run them on the robot they go straight back to the project selector screen. i di

[2018-10-27 13:39] Will2004 commented on #496
(this is still me)

[2018-10-27 19:45] WasabiFan commented on #539
Please answer all of the questions in the issue template. In particular, we need to know the versions of the software you are using.

[code]

[2018-10-27 19:51] WasabiFan commented on #478
I like the ideas here; we'd need to break it down into actionable features though (preferably in separate issues). The holonomic drive one is good.

[2018-10-27 19:52] WasabiFan commented on #503
You're suggesting we could rename the `brake` parameter to `coast` (the inverse) in our public APIs? I like the change but I'm worried it might be too disruptive.

[2018-10-27 19:54] coffeedood commented on #280
I still keep getting this error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 3062, in mode
    self._mode = self.set_attr_string(self._mode, 'mode', value)
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 229, in set_attr_string
    return self._set_attribute(attribute, name, value)
  File "/usr/

[2018-10-27 19:57] WasabiFan commented on #534
@dwalton76 I think Nigel is suggesting that it would be useful to make it direction-sensitive. It seems reasonable to me that we could add an argument which skipped the `abs` call to enable that scenario.

[2018-10-27 20:34] dwalton76 commented on #503
One thing odd with how we have done this is you can only specify 2 of the 3 possible settings. We could do something where if the arg passed in is one of the 3 possible stop_actions we set it, else we verify that the arg passed is a bool and act the way we do today. If the arg is not a valid stop_action and not a bool we raise an exception. Brainstorming...

[2018-10-27 20:39] dwalton76 commented on #478
We have a “control” directory which contains some code that kinda falls into this high level category.

Seems like first steps would be to move the following out of motor.py
- MoveTank
- MoveJoystick
- MoveDifferential (once it lands)

and into control/wheeledrobot.py? Not crazy about the filename since this code also works for tracked robots.

[2018-10-27 20:43] dwalton76 commented on #478
I am going to try to find some time to work on #235 that one also falls under this category

[2018-10-27 21:23] WasabiFan commented on #478
I'm not super excited about moving things around (because it's a breaking change) but that may be warranted here. If we do so, I'd suggest calling it `ev3dev2.drive`.

[2018-10-28 01:23] #531 closed, assigned to dwalton76

[2018-10-28 02:58] dwalton76 opened #540 "MotorSet.stop() vs MoveTank.off()"
Having both is confusing, we should probably combine them and have the winner live in MotorSet.  Maybe we had off() on MoveTank to match with the EV3-G block?

[2018-10-28 03:10] dwalton76 opened #541 "DistanceValue classes"
I am a big fan of the way the SpeedValue classes have turned out, I think we should do the same for distances.  Potential classes

- DistanceValue
- DistanceMilliMeters
- DistanceCentiMeters
- DistanceMeters
- DistanceInches
- DistanceFeet

[2018-10-28 03:26] dwalton76 opened #542 "move MoveXYZ classes out of motor.py into drive.py"
There was some discussion about this in #478

We now have several classes in motor.py that are dealing with driving two wheeled robots:
- MoveTank
- MoveJoystick
- MoveSteering
- MoveDifferential

These could all be moved to a drive.py file to provide some cleaner organization of code. Do we also need to move the Speed classes?

While we are at it we should look into combining some of these classe

[2018-10-28 04:56] WasabiFan commented on #541
I think this makes sense. What use cases do we have? Right now it would be the differential drive class?

[2018-10-28 10:02] Will2004 commented on #539
where is the issue template. i know how to do python but i am new to github

[2018-10-28 10:06] Will2004 commented on #539
how do i figure out which version i am using

[2018-10-28 10:35] Will2004 commented on #539
what i want to do is try to control my robot via a wiimote, but i am having some problems.
1. I the Cwiid module cannot be found
2. When I run my code in visual studio it cannot find the ev3dev module
3. I think the code might be out of date so can you try and update it for me:

[code]

[2018-10-28 13:04] dwalton76 commented on #541
Yep MoveDifferential could use this, right now all distances have to be in mm. Odometry (not implemented yet) would be another one.

DistanceStuds would be another handy class.

[2018-10-28 13:10] ddemidov commented on #541
May be at this point it is worth looking at something like https://pint.readthedocs.io.

[2018-10-28 21:44] WasabiFan commented on #542
On the topic of combining classes...

I see two main problems with the architecture of our drive classes as it stands now.

1. It's hard/unnatural to compose actions of multiple different drive styles. If one drive action is more natural as a tank operation and the next one is better as steering, I must create two drive objects and switch between them. Similarly for the new differential drive clas

[2018-10-28 21:47] WasabiFan commented on #539
It says in my comment. The commands are listed there.

"pyev3" is the name of someone else's Python library; this GitHub repository doesn't have anything to do with the "pyev3" module. You'll have to ask the author of this code for help.

[2018-10-29 10:05] Will2004 commented on #539
ok thanks for that can you and try and help me with this then:
this contains the ev3dev2 module and thats it but visual studio cannot find it:

[code]

[2018-10-30 12:47] dwalton76 opened #543 "brickpi3 and medium motors"
-- dlech in https://github.com/ev3dev/ev3dev/issues/1059

The work-around is to use the LargeMotor class for the medium motor.  One potential problem is if the user's program relies on max_speed since that value is different for medium vs large motors.

If the user does try to use the MediumMotor class we will fail to set the driver (see the intro in https://github.com/ev3dev/ev3dev/issues/1059).

[2018-10-30 13:30] dwalton76 opened #544 "Motors and zero speed, degrees, rotations, etc"
The Motor, MoveTank, etc classes are not consistent in how they are handling requests to move at speed 0, degrees 0, etc.  Some raise an exception, some use asserts, some log a warning and call set_brake(), etc.  We need to decide how we want to handle these scenarios and make them all consistent.

Motor.on_for_rotations
- raises ValueError is speed or rotations is None

Motor.on_for_degrees
- rai

[2018-10-30 13:33] dwalton76 opened #545 "SpeedValue sanity checks only happen in to_native_units()"
Today the SpeedValue child classes perform a sanity check when to_native_units is called.  We should use a setter method so that we sanity check the value when the user tries to assign it.

[2018-10-30 14:35] dwalton76 commented on #542
[code]

Trying to wrap my head around this....with_steering(25) would create an instance of MoveSteering (each time it is called) and then that object would call for_seconds().  Creating that many objects would feel weird.  What if the user wanted to create some variable in their MoveSteering object, it would then disappear :(

Thinking outloud here....types of driving robots:
- tank
- holonomic
-

[2018-10-30 17:51] WasabiFan commented on #544
I think the points here apply: https://github.com/ev3dev/ev3dev-lang-python/pull/523#discussion_r217879269

My vote is to follow that behavior: if speed is zero, the call no-ops (no error, no warning; it may or may not command the motor, depending on how the driver handles it).

Values like radius and steering are separate and exceptions should be thrown if they are invalid.

[2018-10-30 17:53] WasabiFan commented on #545
Are there supported cases right now where you set the property on an existing `SpeedValue`? If not we might just be able to move the check into the constructor.

[2018-10-30 17:59] WasabiFan commented on #542
I think it would make more sense to restructure the MoveSteering code out of its current form. That being said, the first call in the chain would need to create some new operation object to represent the call.

I don't think the user would ever interact with a MoveSteering object; this is an alternative API structure which I'm suggesting in an attempt to solve issues with the Move* classes.

What

[2018-10-30 20:17] dwalton76 commented on #545
We support multiplication of SpeedValue by an int or float (once MoveDifferential goes in).  Even without that there isn't anything in place to prevent the user for setting the main speed variable in each child class, to something that would fail in to_native_units().

[2018-10-30 20:30] dwalton76 commented on #544
That works for me.  Just to clarify how I am interpreting this:
- speed, degrees, rotations and seconds should not have any sanity checks applied, just set them and let the driver do as instructed the best it can.
- invalid steering or invalid radius should raise an Exception. Any others?

[2018-10-30 20:32] dwalton76 commented on #542
This might be one of those topics where it would be faster to do a video call one evening and figure out what (if anything) we want to change.

[2018-10-30 21:04] WasabiFan commented on #544
I think one thing to add is that our code should step in if the driver behavior is bad. In the case of moving no distance, the motor drivers did not handle it well, which spawned https://github.com/ev3dev/ev3dev/issues/1170 and https://github.com/ev3dev/ev3dev/issues/1173. So, if sending a zero freezes your code, we need to handle it; if it just immediately returns we're OK.

[2018-10-30 22:00] dwalton76 commented on #544
ok for the ones that fall into this category how do we want to handle them?
- silently return?
- log a warning and return?
- log a warning, call set_brake() and return?
- raise ValueError with an explanation that zero is not acceptable for this particular parameter due to the driver

My vote would be for raising ValueError since we are doing that in other related scenarios. Do we want a more speci

[2018-10-30 22:33] WasabiFan commented on #544
It depends on what it is. I'd say we should wait until we have a case where the motor drivers don't handle it correctly and then make a decision for that case.

[2018-10-31 12:06] dwalton76 commented on #543
Running
[code]

Testing with:
[code]

If you try to use the MediumMotor class the brickpi thinks that it is not connected
[code]

With this patch
[code]

We give a better description of what the issue is
[code]

[2018-10-31 12:48] dwalton76 commented on #543
In the review for #536 @WasabiFan had the idea to have MediumMotor use the LargeMotor driver if running on brickpi(3).  I tried it and it works...that seems much better than raising an exception here.

One downside though is max_speed, it is always going to be reported as the max_speed of a LargeMotor (1020).  We are going to need to make max_speed writeable, today we raise an exception
[code]

[2018-10-31 12:58] dwalton76 commented on #543
Looking at the max_speed issue some more...there are other attributes that could differ based on motor type and be reported incorrectly if using a brickpi
- commands
- count_per_rot
- count_per_m
- PID constants?
- max_speed
- state
- stop_actions

I can't think of a good clean way to handle this...my gut says there aren't enough ev3dev brickpi users out there to justify really hacking up the code

[2018-10-31 13:23] dwalton76 commented on #543
@dlech any ideas on a better way to handle this?

[2018-10-31 13:27] #525 closed, assigned to nobody

[2018-10-31 16:19] dlech commented on #543
Can you use `set_device` on the output port to tell it there is a medium motor attached?

[2018-10-31 16:59] Will2004 commented on #539
i don't know how to do fix the issue above ^^^^^^^

[2018-10-31 17:17] WasabiFan commented on #543
Yeah, what I want to know is whether you can set the driver manually to be the normal medium motor driver.

[2018-10-31 18:17] dwalton76 opened #547 "wait_until_not_moving should consider "running holding" as "not moving""
Details are in https://github.com/ev3dev/ev3dev/issues/1188 but in a nutshell when the motor has finished moving if the brake is being applied the state should be ``running holding``.  This is the case with brickpi3 but not EV3 (the EV3 behavior is the one that is incorrect).

``wait_until_not_moving`` needs to return if the state is ``running holding``

[2018-10-31 19:00] dwalton76 commented on #543
Trying this:
[code]

It barfs on ``set_device``
[code]
Not 100% clear on if I did exactly what you were asking for.

[2018-10-31 19:33] dlech commented on #543
Yeah, that's it. FWIW, If it actually worked, you would need a delay after `set_device` but it looks like it isn't implemented in the kernel driver. I kind of though that would be the case.

[2018-10-31 19:59] WasabiFan commented on #543
It looks like it isn't possible to use the medium motor driver on BrickPi I'd say it's fine to throw an error in our constructor.

[2018-10-31 20:04] dwalton76 commented on #543
If anyone wants to weigh in over at dexter industries on getting them to support this in the future:
https://forum.dexterindustries.com/t/brickpi3-firmware-an-medium-motors/5463/2

[2018-10-31 20:15] dlech commented on #543
I don't see any reason why this couldn't be implemented in the ev3dev driver using the existing BrickPi3 firmware (other than lack of time to do the work needed).

[2018-10-31 20:35] dwalton76 commented on #539
I can't help you much with visual studio...I have never used it. If you do not use visual studio are you able to run the code above on your ev3?

[2018-11-01 13:51] dwalton76 commented on #544
For Motor, MoveTank and MoveSteering I commented out all of our safety checks and tested every permutation of 0 or negative settings for speed, rotation, degrees and seconds.  The ONLY scenario I found that causes a driver to barf is if you tell a motor to run for a negative amount of time.   The traceback in that scenario is
[code]

So ``Motor.on_for_seconds`` and ``MoveTank.on_for_seconds`` shou

[2018-11-01 14:05] dwalton76 opened #554 "api_tests fail to run on EV3"
What is the workflow to run api_tests.py? I always get

[code]

[2018-11-01 14:48] ddemidov commented on #554
This is how Travis does it:

https://github.com/ev3dev/ev3dev-lang-python/blob/ae97053ee8ba5be0c219c9865500c065e930517d/.travis.yml#L18-L20

[2018-11-01 16:14] Will2004 commented on #539
so what should I use instead

[2018-11-01 16:15] Will2004 commented on #539
i have seen pUTTY SHH before but I am not very sure how it works and have never managed to get any projects onto it, but I will have a look

[2018-11-01 17:18] WasabiFan commented on #554
You should just be able to run the file with python3. Make sure you have submodules cloned and that they are up-to-date.

[2018-11-01 17:30] Will2004 commented on #539
I have looked at this issue here and i have added in the user/bin line that was needed but now it is saying.
/usr/bin/env: 'python3\r': No such file or directory.

I do not really understand what this means
|                                                                 |
V                                                               V

If you encounter an error such as /usr/bin/env: 'python3\r

[2018-11-01 19:14] coffeedood opened #555 "still can't connect sensors to my brickpi with ev3dev."
it always seems to return with Exception: LegoPort(serial0-0:S1) is not connected.  Any help?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 3062, in mode
    self._mode = self.set_attr_string(self._mode, 'mode', value)
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 229, in set_attr_string
    ret

[2018-11-01 19:58] dlech commented on #555
Are you using BrickPi or BrickPi3?

[2018-11-01 20:25] coffeedood commented on #555
brickpi3

[2018-11-01 20:28] dlech commented on #555
So this needs to be

    import ev3dev.brickpi3 as ev3

[2018-11-01 22:19] coffeedood commented on #555
still getting the same error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 3062, in mode
    self._mode = self.set_attr_string(self._mode, 'mode', value)
  File "/usr/lib/python3/dist-packages/ev3dev/core.py", line 229, in set_attr_string
    return self._set_attribute(attribute, name, value)
  File "/usr/lib

[2018-11-01 22:34] dlech commented on #555
not quite the same

Did you enable the BrickPi3 in `config.txt`? Does the yellow light on the BrickPi3 flash or is it on steady? Are there any messages about `brickpi3` in the output of the `dmesg` command?

[2018-11-01 23:04] coffeedood commented on #555
I believe I enabled the BrickPi3 in the config.txt.  The yellow light flashes slowly.  This is what I get when I type in dmesg.

[code]

[2018-11-01 23:32] dlech commented on #555
Sounds like it is not enabled. The light should not be flashing and you should see something like

[code]

[2018-11-02 10:39] dwalton76 commented on #554
On a ubuntu machine I can run them, I did
[code]

but the exact same steps on an EV3 or pi3+brickpi3 gives me the ``ev3dev2.DeviceNotFound: LargeMotor`` traceback.

[2018-11-02 13:14] dwalton76 commented on #554
I see what is happening....``ev3dev2/_platform/fake.py`` is not being used if you run the tests from a device that is running ev3dev.

[2018-11-02 13:43] dwalton76 commented on #540
per the motor block screenshots in #353 we want to keep ``off()`` and drop ``stop()``

[2018-11-02 13:47] dwalton76 commented on #539
I means you have a carriage return at the end of the line (windows tends to do this).  Try using this site to remove them:
https://www.miniwebtool.com/remove-line-breaks/

[2018-11-03 10:27] Will2004 commented on #539
still did not work I did this
![screenshot 4](https://user-images.githubusercontent.com/44525367/47951013-d34ab100-df52-11e8-931e-17a1ec2eeedd.png)

and it also did this as well
![screenshot 5](https://user-images.githubusercontent.com/44525367/47951022-fc6b4180-df52-11e8-9852-8fdb092969f3.png)

[2018-11-03 13:05] dwalton76 commented on #539
Google “dos2unix” that is a tool that will remove them for sure

[2018-11-03 15:39] dlech commented on #539
This is at the bottom right-hand corner of the VS code window (in the blue bar between "UTF-8" and and "Python" in the screenshot above). Click "CRLF" and then select "LF" in the box that pops up at the top of the screen. There is no need for external tools.

[2018-11-04 10:58] Will2004 commented on #539
ok i have done that but and the error is gone but the problem now is (sorry):
![screenshot 15](https://user-images.githubusercontent.com/44525367/47963192-859c7a00-e020-11e8-83c6-ac6ce0bb1234.png)

[2018-11-04 10:58] Will2004 commented on #539
it cannot import the ev3dev2 module

[2018-11-04 11:02] Will2004 commented on #539
I have also tried ssh and that came up with an error from that

[2018-11-04 11:02] Will2004 commented on #539
![image](https://user-images.githubusercontent.com/44525367/47963253-2be87f80-e021-11e8-9607-220aef598eab.png)

[2018-11-04 16:38] Will2004 commented on #539
![screenshot 17](https://user-images.githubusercontent.com/44525367/47966973-f9a24680-e04f-11e8-9d1f-d7d61c33db95.png)

i have tired it in python 3 and it still gives off the same error of not being able to find the ev3dev  module

[2018-11-04 19:47] dlech commented on #539
Have you seen this? https://github.com/ev3dev/vscode-hello-python

[2018-11-04 23:13] WasabiFan commented on #554
Ah, I see; you were running it on the EV3. I misunderstood the original post. Is there a use case for running the tests directly on the EV3?

[2018-11-04 23:18] dwalton76 commented on #554
I do all of my dev on either a brickpi or ev3 so for me I would use this all the time.

[2018-11-04 23:25] WasabiFan commented on #554
Ah, I get it. That sounds good to me then.

[2018-11-04 23:36] WasabiFan commented on #544
The way it surfaced for me was that I was doing testing with `steering=50` and one motor would sometimes run way longer than it should, often in the wrong direction. It took a few hours to figure out that it wasn't in our code 😆

[2018-11-05 11:17] Will2004 commented on #539
yes i have

[2018-11-05 11:17] Will2004 commented on #539
and that works

[2018-11-05 11:36] Will2004 commented on #539
do you mean this one here:
![screenshot 18](https://user-images.githubusercontent.com/44525367/47996020-12ae0480-e0ef-11e8-9ced-f8dc110695a6.png)

[2018-11-05 11:37] Will2004 commented on #539
![screenshot 19](https://user-images.githubusercontent.com/44525367/47996057-29ecf200-e0ef-11e8-9750-aa062c5729e3.png)

[2018-11-05 11:37] Will2004 commented on #539
thats what it does when it is running

[2018-11-05 11:46] Will2004 commented on #539
also still that hello.py script does not use the ev3dev2 libary

[2018-11-05 15:46] dlech commented on #539
True. However, the important part is that `hello.py` ran on the EV3 as seen in https://github.com/ev3dev/ev3dev-lang-python/issues/539#issuecomment-435844812 where it says ``Starting: brickrun...`. The `ev3dev2` module is installed on the EV3. However, when you ran the program you wrote, you ran it on your computer and not on the EV3. The `ev3dev2` module is most likely not installed on your compu

[2018-11-05 19:52] Will2004 commented on #539
I have done that and it just goes back to the screen showing which script you want to run and never ends up running the program

[2018-11-06 20:14] omartin2010 opened #558 "blocking issue on motor runs on ev3dev2 (maybe ev3dev too)"
- **ev3dev version:** 4.14.71-ev3dev-2.3.0-rpi2
- **ev3dev-lang-python version:**
[code]

So running m.on_for_degrees(-30, 90, block=True) works on the Lego brick (returning control when position is reached) and the same command on the Dexter brick doesn't return control. The code for repro is :

[code]
This will be stuck forever on the dexter (polling issue?) but not on the lego brick. We can rep

[2018-11-06 20:59] WasabiFan commented on #558
@dwalton76 Do you have a BrickPi you can test this on?

[2018-11-06 22:03] omartin2010 commented on #558
adding @lynn-orell

[2018-11-06 23:01] dwalton76 commented on #558
This should get fixed via #548

[2018-11-06 23:05] WasabiFan commented on #558
Ah, I had forgotten about that one; thanks for staying on top of it! I just edited the PR description to link back with `fixes`.

[2018-11-07 11:04] #547 closed, assigned to dwalton76

[2018-11-07 11:04] #558 closed, assigned to nobody

[2018-11-07 11:07] #541 closed, assigned to dwalton76

[2018-11-07 11:14] #433 closed, assigned to dwalton76

[2018-11-07 11:14] #554 closed, assigned to dwalton76

[2018-11-07 11:16] #544 closed, assigned to dwalton76

[2018-11-07 11:16] #543 closed, assigned to dwalton76

[2018-11-07 11:38] dwalton76 opened #559 "docs: split up others.rst"
This file is getting pretty big...think about how to split this up

[2018-11-07 11:42] #392 closed, assigned to dwalton76

[2018-11-07 11:45] #532 closed, assigned to dwalton76

[2018-11-07 11:59] dwalton76 commented on #235
Now that MoveDifferential and DistanceValue classes are in, work can begin on odometry. @WasabiFan @ddemidov thoughts on what the API for this should look like?  I think most changes we make will need to be in the MoveDifferential class as that is the only place we know the wheel dimensions and spacing needed to do the calculations.

It could be as simple as passing a ``use_gyro_for_accuracy`` boo

[2018-11-07 12:00] dwalton76 commented on #235
One big use case for this could be First Lego League.

[2018-11-07 17:55] Will2004 commented on #539
So I don't know what to do about that ⬆️

[2018-11-07 22:51] WasabiFan commented on #235
I think that makes sense. The main things you want to do which are odometry-backed are going straight and doing a circular turn.

[2018-11-08 10:10] #533 closed, assigned to dwalton76

[2018-11-08 10:10] #534 closed, assigned to dwalton76

[2018-11-09 16:57] Will2004 commented on #539
hello...

[2018-11-10 06:46] dwalton76 commented on #545
Once I started implementing this I quickly realized you can only do the sanity checks if you know what motor you are sanity checking against. The motor obj is not stored as part of the class it is passed in to to_native_units(). Am going to close this one.

[2018-11-10 06:46] #545 closed, assigned to dwalton76

[2018-11-10 06:48] dwalton76 commented on #539
If you ssh to the ev3 can you run your program?

[2018-11-10 06:49] dwalton76 commented on #540
Hmm the Motor class has both as well but the EV3-G block only has off(). I think we have had stop() for a long time so I don’t think we could drop it without causing significant pain.

[2018-11-10 06:51] dwalton76 commented on #535
coffeedood did David’s suggestion help?

[2018-11-10 06:51] dwalton76 commented on #515
Any objections to closing this one?

[2018-11-10 06:54] dwalton76 commented on #455
Can we close this one?

[2018-11-10 06:56] #450 closed, assigned to nobody

[2018-11-10 06:58] dwalton76 commented on #359
Now that we support micropython does that kill the need to pre-compile modules? Also wouldn’t the speed boost from a pre-compiled module only be a benefit the first time you load it?

[2018-11-10 07:00] dwalton76 commented on #384
Any objections to closing this one? We have pretty good stretch support now.

[2018-11-10 07:03] dwalton76 commented on #385
Is LEGO’s protocol for EV3 to EV3 communication documented somewhere?

[2018-11-10 07:14] WasabiFan commented on #384
Yeah, I think we're good to close this.

[2018-11-10 07:14] #384 closed, assigned to ddemidov

[2018-11-10 09:06] coffeedood commented on #535
I think the brickpi3 recognizes the touch sensor but I can't seem to get python programs to run with them.  I am trying to get a python program to run that would run the motor when you push the touch sensor.  This is the program I'm running but it doesn't seem to work.  Any suggestions?

import ev3dev.brickpi3 as ev3

p = ev3.LegoPort(ev3.INPUT_1)
p.mode = "nxt-analog"
p.set_device = "lego-nxt-tou

[2018-11-10 20:06] Will2004 commented on #539
How do you do that again I think I have done it before but I can't remember

[2018-11-10 21:40] coffeedood opened #561 "Push button to run motors?"
- **ev3dev version:** PASTE THE OUTPUT OF `uname -r` HERE
- **ev3dev-lang-python version:** INSERT ALL VERSIONS GIVEN BY `dpkg-query -l python3-ev3dev*` HERE

when I run this program it doesnt quite do what I want.  I mostly just want it to run the motor when I push the touch sensor.  This is the program I'm running.

[code]

When I run the program it just turns the motor but when I unplug the tou

[2018-11-10 23:44] dlech commented on #385
There is an SDK with docs on the official MINDSTORMS website.

[2018-11-10 23:47] dlech commented on #535
In your original comment, you say you have an EV3 Touch sensor, but in your code you are configuring the BrickPi3 for an NXT Touch sensor. These are two different devices.

[2018-11-11 03:21] WasabiFan commented on #455
I think so. https://github.com/ev3dev/ev3dev-lang-python/issues/501 covers the remaining work.

[2018-11-11 03:21] #455 closed, assigned to nobody

[2018-11-11 03:23] WasabiFan commented on #359
I think the original discussion here was around Micropython, the packaging for which is covered by https://github.com/ev3dev/ev3dev-lang-python/issues/521. I'm calling this a dupe.

[2018-11-11 03:23] #359 closed, assigned to nobody

[2018-11-11 14:03] dwalton76 commented on #561
It seems like it would run as long as you are holding down the touch sensor. Add a “break” after the run_forever() call so that you drop out of that while True loop.

[2018-11-12 06:46] WasabiFan commented on #515
I can't say I like the current functionality, but I don't see a pressing reason to change it nor is there a clear change to be made. So I figure this can be closed and we can re-open if it becomes an issue.

[2018-11-12 06:46] #515 closed, assigned to nobody

[2018-11-13 21:51] #365 closed, assigned to dwalton76

[2018-11-13 21:56] #540 closed, assigned to dwalton76

[2018-11-14 12:45] dwalton76 opened #565 "brickpi/brickpi3 should be allowed to use Motor class"
We recently started raising an Exception if someone uses a motor class other than ``LargeMotor`` on brickpi or brickpi3.  This needs a tweak to allow the use of the parent ``Motor`` class on brickpi/brickpi3.

[2018-11-14 12:53] dwalton76 commented on #252
The docs have changed a lot in two years...is there still work to do on this one?

[2018-11-14 18:07] WasabiFan commented on #252
The FAQ page still exists and has the same problem.

[2018-11-17 19:21] mistrjirka opened #568 "Gyro sensor bug"
- **ev3dev version: 4.14.80-ev3dev-2.3.1-ev3
- **ev3dev-lang-python version: ii  python3-ev3dev                    1.2.0                 all                   Python language bindings for ev3dev

Hi.
When I'm trying to get value from gyro sensor in mode GYRO-ANG. This error sometimes occurs when the sensor is in backwards motion.

traceback:
Traceback (most recent call last):
  File "/usr/lib/pyth

[2018-11-19 20:35] mistrjirka commented on #568
Yeah I don't know how to do pull request (sorry I'm an idiot), so here is what fixed my problems and it is real s***t.
all changes are in __init__.py in the folder /ev3dev2
replace function on the line 286 with this:

[code]
and add this function to the head of the script
[code]

PS: this is not fix of the bug this is only walk-around, it may case wrong values from the sensors.

[2018-11-19 22:48] WasabiFan commented on #568
What was the bad value returned? Could you add a `print(s)` in the `except` so we can see?

[2018-11-20 06:10] mistrjirka commented on #568
I thought it was something like "0/n". I will look at it after school.

[2018-11-21 13:26] dwalton76 commented on #385
Found it here:
https://education.lego.com/en-us/support/mindstorms-ev3/developer-kits

[lego mindstorms ev3 communication developer kit-f691e7ad1e0c28a4cfb0835993d76ae3.pdf](https://github.com/ev3dev/ev3dev-lang-python/files/2604343/lego.mindstorms.ev3.communication.developer.kit-f691e7ad1e0c28a4cfb0835993d76ae3.pdf)

[2018-11-21 13:51] dwalton76 commented on #385
A ton of awesome info (and code snippets) here on the UDP/TCP port numbers involved with setting up a socket with the EV3 to send the packets described in the pdf above:
http://ev3directcommands.blogspot.com/2016/01/no-title-specified-page-table-border_94.html

Read some more...this person appears to have implemented most (maybe all) of the protocol and they did it in python and it is open source!

[2018-11-22 22:20] WasabiFan opened #569 "Add documentation on input/output port constants"
See https://github.com/ev3dev/ev3dev-lang-python/pull/562#issuecomment-441060483

[2018-11-23 15:21] dwalton76 commented on #385
I updated the title to "EV3-to-EV3 protocol: client support for daisy-chaining" so that we can use this issue to track controlling an EV3 via the EV3-to-EV3 protocol.  A huge amount of this code is already written in the https://github.com/ChristophGaukel/ev3-python3 repo.

We need to give some thought on what we want the API for this to look like. One option might be something like:
- create a La

[2018-11-23 15:26] dwalton76 opened #570 "EV3-to-EV3 protocol: server support for daisy-chaining"
This issue is to track implementing an "EV3 protocol" server that would run on ev3dev.  This would allow an EV3 (running the stock LEGO OS) to control an ev3dev device via the EV3 protocol.

See issue #385 for more details on the protocol itself.

[2018-11-23 15:27] dwalton76 commented on #385
@WasabiFan @ddemidov thoughts on what the API for this should look like?

[2018-11-23 15:37] dwalton76 commented on #561
@coffeedood did you get this one figured out?

[2018-11-23 15:48] dwalton76 commented on #568
Am testing with this
[code]

And am rotating the bot around...everything appears to be working.

[2018-11-24 08:56] WasabiFan commented on #385
Note on the existing library: We have to be careful with it, as it's GPL-licensed... if we want to use that code I believe (?) we can at least sub-license that portion as GPL without it infecting the rest of our stuff, but I'm not a lawyer and haven't looked it up.

---

In general, I think either approach could work depending on how much implementation and maintenance effort they would turn out t

[2018-11-24 16:40] dwalton76 commented on #385
I hear you on scope creep...we have the potential to create something that is pain to maintain.  Thinking outloud on some of the various scenarios here:

| No.  |  protocol        | notes |
| ------------- |:-------------:| -----:|
| (1) | ev3dev-to-ev3lego client |  Could say "use the  ChristophGaukel" repo. How useful will this be though? Are ev3dev users really still running the EV3 software on

[2018-11-24 17:09] dlech commented on #385
FYI, iOS to ev3dev via Bluetooth is not currently possible for technical reasons (and possibly legal reasons). See https://github.com/ev3dev/ev3dev/issues/500.

[2018-11-24 23:43] coffeedood commented on #561
I still have not figured this out yet.  I've tried two different methods And both haven't worked.  It seems like it recognizes the touch sensor but the python script isn't working.  Any advice.

[2018-11-24 23:43] WasabiFan commented on #385
Personally, I don't particularly care about scenario (2). If you want to use the official LEGO control software, use the official LEGO OS too.

Regarding (1) or (3), I think we should pick one and support it -- either an ev3dev device controlling another ev3dev device or an ev3dev device controlling a stock EV3. The latter is attractive to me as it requires minimal configuration; personally, I fin

[2018-11-25 01:25] dwalton76 commented on #561
What is the exact behavior you are seeing and can you post your latest code?

For next steps I would start putting in print() statements to help figure out what is happening

[2018-11-25 15:19] Dilbert76 commented on #204
Hi all... is there a solution or workaround to this issue? I'was planning to use ev3dev in our next WRO competition... unfortunately I can confirm the above observations. Any program, no matter how small it is, will wait for more than 10s before it starts executing. This is a no go for a competition. Why is this happening and what can we do about it?

[2018-11-25 18:31] dwalton76 commented on #204
@Dilbert76 we support micropython now...give that a try it should start much faster.

[2018-11-25 18:51] dwalton76 commented on #385
For me (2) would only be interesting if I could use my ipad to control ev3dev and that sounds like a no-go :(

For (1) vs (3) to me (3) is more interesting mainly because I can't come up with a scenario where people are going to use ev3dev on one device and EV3 software on another.

ev3dev setup hurdles...my guess is among usb, bluetooth and wifi that wifi is the most commonly used so maybe we bra

[2018-11-25 19:36] Dilbert76 commented on #204
Hi @dwalton76 , great hint. However I'm failing importing ev3dev or (preferred) ev3dev2. Apparently micropython uses a different path than python3, hence micropython cannot find the ev3dev libraries. I guess there's a trick how to make EV3 motors and sensors work with micropython but I can't find it.
Please advise...

[2018-11-25 21:25] WasabiFan commented on #204
We have not actually released proper micropython support yet; the code changes are there but packaging isn't. If you'd like to, it is possible to manually copy the library files where they need to go, but my suggestion is to wait until we have a release with the correct packaging.

[2018-11-26 03:07] WasabiFan commented on #385
I would only install ev3dev on the other devices if necessary. As the user, if I want to have my code run on one device and then have it propagate control commands to the others, why would I care what software is running on the other devices as long as it works? The default OS requires no work to setup, whereas ev3dev does.

Nonetheless, it doesn't seem technically workable to implement support fo

[2018-11-26 03:36] dlech commented on #385
What is the advantage of implementing something new vs. using RPyC for ev3dev-to-ev3dev or the existing python mentioned above library for ev3dev-to-official?

[2018-11-26 03:51] WasabiFan commented on #385
RPyC is worth testing -- I've never used it before so I don't know how easy it is to work with or, more importantly, how efficient it is.

I think the existing library is still freely available for anyone who'd like to use it. The interface is completely different from ours, but I don't see a reason it wouldn't work. Personally, my goal with officially-supported daisy chaining would be to provide

[2018-11-26 07:53] Dilbert76 commented on #204
Thanks for the quick follow up! Will try manual copy for now. Any estimates when it‘s going to be included in the final packaging? I assume you‘re referring to the integration of ev3dev2, not to the older ev3dev... correct?

Von meinem iPhone gesendet.

[2018-11-26 07:57] WasabiFan commented on #204
Yes, this will only apply to the ev3dev2 module. It'll be whenever I get some time to set up the packaging — hopefully this week/weekend now that I got my packaging VM in a functional state again.

[2018-11-26 15:49] dwalton76 commented on #511
@ndward can I mention your new site in this thread?
https://www.eurobricks.com/forum/index.php?/forums/topic/168586-ev3dev-venturing-into-the-world-of-ev3dev-and-python/&page=2

[2018-11-26 20:43] ndward commented on #511
Of course! 😀

On Mon, 26 Nov 2018 at 16:49, Daniel Walton <notifications@github.com>
wrote:

[2018-11-27 09:37] mistrjirka commented on #568
It doesn't show that error every time I move it, it almost only happens when I try to move it backwards. I maybe find an issue in my code. I reset the sensor and immediately I try to get values from it. Is that a problem?

[2018-11-27 14:28] Dilbert76 commented on #204
Hi Kaelin,

short update… micropython works like a charme. There’s a notable performance improvement (3-4 more loops)… especially compared to native EV3-G software.

However one thing still causes some headaches… initialisation of Sensors and Motors still takes too much time to make ev3dev2 + python3 usable in competitions (such as WRO).
With Python3 my sample script needs 6s before the interestin

[2018-11-27 16:22] dwalton76 commented on #204
David figured out a way to overclock the CPU, that might be worth trying:
https://lechnology.com/2018/06/overclocking-lego-mindstorms-ev3-part-2/

Another option would be to use one single program in the competition so that you only have to pay that 2s penalty once at the very beginning.  You could then use a menu to tell your program which chunk of code to execute next.

[2018-11-27 20:16] WasabiFan commented on #568
It's certainly possible that reading immediately after resetting the sensor causes it to not behave well. What's the use case that requires that? Could you add a short delay after the reset?

[2018-11-29 08:01] Dilbert76 commented on #204
Good hint… thanks…. worth a try :-)

I’ve continued to “play” a bit with micropython… can’t get Buttons to work because the import of ev3dev2.button throws an exception.
Do we know which classes are going to supported along with micropython?

[2018-11-29 08:27] WasabiFan commented on #204
Currently only motors and sensors are supported, sadly 😢. Documentation will come along with proper micropython packaging (I'm working on this right now). If button support is important to you, please open an issue about it at https://github.com/ev3dev/ev3dev-lang-python so we can track it. (or, if you're feeling particularly motivated, see if you can make it work yourself and submit a pull reques

[2018-11-29 10:12] Dilbert76 opened #571 "Micropython support for ev3dev2 Button class"
I'd like to propose to add ev3dev2.Button support for Micropython.

Buttons are often used by WRO or FLL teams to calibrate motors. Furthermore WRO Regular rules allow to start a program beforehand and start the actual run by pushing the center button on the EV3 brick. This trick would allow WRO teams to initialise/construct all motor and sensor objects (which still takes several seconds) before t

[2018-12-01 14:18] mistrjirka commented on #568
It was used for direction correction when turning. I reset the sensor every time I turned, because sometimes I was getting value overflow error on the sensor value.

[2018-12-02 00:16] WasabiFan commented on #521
@dlech a few questions about the micropython-lib `rules` file and how it applies here:
- Why does the `mpy_files` list include things like READMEs? As far as I can tell, it seems like the files that don't end with `.mpy` will match the `%` rule and therefore be passed to the `dh` command... but I don't understand what that's supposed to do.
- Presuming I want the Micropython files in our existing

[2018-12-02 02:34] dlech commented on #521
The READMEs aren't supposed to be there. They probably just got overlooked since there are so many files.

Actually, they are only used as prerequisites. The .mpy files don't exist, so using them as a prerequisite causes them to be create via the `%.mpy: %.py` rule, but any other files already exist, so no action is taken on these files (other than installing them later in the `override_dh_auto_in

[2018-12-07 13:07] ndward opened #608 "Problems with on_to_position()"
Previously I had the impression that if on_to_position() is used to instruct a motor to turn to a position where it happens to already be located then this will freeze the program. I think that's been fixed, but I still have had lots of problems with the on_to_position() function, which often causes my scripts to freeze for other reasons. This is true for both the medium motor and the large motor

[2018-12-07 17:23] dlech commented on #608
cc: @ev3dev/python

There is always the risk we might have broken something without knowing it, so we make snapshot images that can be tested by the more serious users (like you) to catch any problems before we push them out to the more casual users. If there is a serious usability issue discovered in the image we offer on the main downloads page, then we will look at fast-tracking the latest snap

[2018-12-07 21:04] WasabiFan commented on #608
@ndward what's the actual issue you're seeing? Is there a problem if you don't unplug the motor? And when exactly are you unplugging it?

[2018-12-08 12:29] ndward commented on #608
I give the results of nine consecutive runs. In the first 4 runs the medium motor was never disconnected and the program froze for 3 of the four runs. Then I switched to a large motor. For the first four runs with the large motor I never disconnected it and the program froze in two of those four runs. Then I disconnected and reconnected the large motor, between the fourth and fifth runs with the l

[2018-12-13 07:22] magicalpear commented on #496
Or compile cwiid for python3
https://github.com/azzra/python3-wiimote

After compiling python3-wiimote, I am able to use cwiid module in python 3 and use the ev3dev2 in the same code

Compilation may require to install many packages. Connection to wii control may fail sometime (during the "press 1+2" period). And sometimes Bluetooth device not showing up until next reboot (ev3dev driver issue).

[2018-12-13 07:38] magicalpear commented on #539
This is how I made the example project work in python 3
https://www.ev3dev.org/projects/2014/12/13/Wiimote-Controlled-Rover/

Compile cwiid for python3
https://github.com/azzra/python3-wiimote

After compiling python3-wiimote, I am able to use cwiid module in python 3 and use the ev3dev2 in the same code

Compilation may require to install many packages. Connection to wii control may fail sometime

[2018-12-14 06:52] WasabiFan commented on #608
I'm unsure of why that would be. I can test this once I am back near my EV3 mid next week.

I don't expect the motor position to be zeroed when a script starts. The position will generally be zero when a new motor is plugged in or when the whole system restarts, but as far as I know there's nothing in our library's `Motor` that would do such a thing. (We do, however, reset motors on initialization

[2018-12-15 01:36] WasabiFan commented on #565
I think this was fixed in #566

[2018-12-15 01:36] #565 closed, assigned to dwalton76

[2018-12-15 11:21] ndward commented on #608
I've never unplugged a motor while a script was running. The phenomenon I'm talking about (non-zero position values at launch e.g. 92984, possibly random?) occurs when I disconnect and reconnect a motor before launching the script. Otherwise, without disconnecting, the script always seems to launch with position equal to zero.

[2018-12-17 01:28] scprotz opened #575 "MoveJoystick super() bug"
Using the MoveJoystick function with a Logitech F710 and evdev.  Set everything up and created a separate thread to update MoveJoystick function from motor.py.

The MoveJoystick function has a small bug.  It tries to call MoveTank.off(), but MoveTank.off() is not a static method and so throws an error.  it should be super.off() since MoveTank is parent to MoveJoystick.

In 2.0.0b it is line 1957 o

[2018-12-17 02:28] WasabiFan commented on #575
Thanks for reporting! Yes, this looks like a bug we introduced when changing how `off` works.

[2018-12-19 08:36] #575 closed, assigned to WasabiFan

[2018-12-19 08:37] WasabiFan commented on #561
Is there an issue that still needs to be fixed here or can this be closed?

[2018-12-19 08:38] WasabiFan commented on #555
Is there still an issue to be fixed here or can this be closed?

[2018-12-19 08:53] WasabiFan commented on #535
Is there still an issue to be fixed here or can this be closed?

[2018-12-19 09:04] WasabiFan commented on #527
Fixed by #562 and #572

[2018-12-19 09:04] #527 closed, assigned to dwalton76

[2018-12-19 09:22] WasabiFan commented on #451
Thanks for letting us know about this. I'm going to close the issue to keep our issue tracker clearer as I don't believe there are any actionable changes mentioned here.

[2018-12-19 09:22] #451 closed, assigned to nobody

[2018-12-19 09:23] WasabiFan commented on #419
Closing due to inactivity and no actionable changes. Please reopen with new details if needed.

[2018-12-19 09:23] #419 closed, assigned to nobody

[2018-12-19 09:24] WasabiFan commented on #381
Closing as I believe this has been addressed. Please reopen if needed.

[2018-12-19 09:24] #381 closed, assigned to nobody

[2018-12-19 09:26] WasabiFan commented on #287
It looks like this was mostly resolved so I'm going to close the issue. Please reopen or submit a PR if there is a change that's still needed.

[2018-12-19 23:25] WasabiFan commented on #571
@dlech On the technical side, do you have any suggestions on the best way to do this? The button module uses `fcntl` which should be fairly easy to replace with the micropython equivalent, but I expect `evdev` (for device discovery and events) to be less doable. Is there a logical way that you see?

[2018-12-20 02:20] WasabiFan opened #583 "Race condition in "wait()" causes call to block infinitely"
- **ev3dev version:**

**System info (from `ev3dev-sysinfo`)**
[code]
- **ev3dev-lang-python version:** current `ev3dev-stretch` branch

From https://github.com/ev3dev/ev3dev/issues/1200.

When running a series of small movements where the motor will almost immediately reach the target, we sometimes hit a case where our wait logic gets stuck. This is improved by the re-ordering we did recently of

[2018-12-20 02:22] WasabiFan commented on #608
I can reproduce the freezing issue. It will be _less bad_ in the upcoming "beta 3" release of the Python library, but not 100% resolved. I opened https://github.com/ev3dev/ev3dev-lang-python/issues/583 to track this.

As for the position zeroing, I can't reproduce what you are seeing. Additionally, you should  always be zeroing the position anyway if you need it to be zero.

[2018-12-20 18:45] dickric opened #584 "ev3dev Buttons wait_for_bump"
Hello,

how can I use the Objekt "wait_for_bump" in the Button Class.
I become the following Errormessage.

Wait for Bump
Traceback (most recent call last):
File "test.py", line 22, in
btnb.wait_for_bump(left, 500)
File "/usr/lib/python3/dist-packages/ev3dev2/button.py", line 203, in wait_for_bump
if self.wait_for_pressed(buttons, timeout_ms):
File "/usr/lib/python3/dist-packages/ev3dev2/button.py

[2018-12-21 17:51] dlech commented on #571
If `micropython-lib` has something compatible with the standard `struct` module, we could probably skip using the existing python `evdev` package and roll our own simplified version.

See <https://github.com/dlech/micropython-ev3dev/blob/ev3dev-stetch/src/uev3dev/button.py>. This isn't compatible with standard python, but it could possibly be adapted.

[2018-12-21 18:00] dlech commented on #583
Off topic: `None if timeout is None else timeout` is no different than just `timeout`.

On topic: a timeout could always be passed to `poll()` even when the `timeout` argument is `None` to force checking the state again.

[2018-12-23 20:03] #559 closed, assigned to nobody

[2018-12-23 20:07] #518 closed, assigned to WasabiFan

[2018-12-25 22:23] #521 closed, assigned to nobody

[2018-12-28 11:08] w1ref1re opened #586 "Connecting nxt ultrasonic sensor with a hitechnic sensor multiplexer does not work"
ev3dev version:
 4.14.80-ev3dev-2.3.1-ev3

ev3dev-lang-python version:
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d
ii  python3-ev3dev 2.0.0~beta2  all          Python language bindings for ev3d

I am trying to connect a lego nxt ultrasonic sensor to my ev3 through an hitechnic sensor multiplexer.
I read that i have to manually set the device with  "set_device = "

[2018-12-28 17:41] dlech commented on #586
This mux itself also show up as a sensor. You can use the generic `Sensor` class for this. If I recall, you have to put the mux in `RUN` mode before you can read any values. The `DETECT` mode can be a bit temperamental, but it should be able to be used to detect the LEGO NXT Ultrasonic sensor. Also, the `UltrasonicSensor` class is probably just for the EV3 Ultrasonic sensor, not the NXT one, so yo

[2018-12-28 20:06] w1ref1re commented on #586
I declared the mux as a sensor, but if I tried to use the Ultrasonic sensor I got an
`ev3dev2.DeviceNotFound: Sensor(in2:i2c8:mux1) is not connected` error.

Here is the code:

`smux = Sensor(address="in2:i2c8")`
`smux.command = "HALT"`
`smux.command = "DETECT"`

`us = Sensor(address="in2:i2c8:mux1")`

[2018-12-28 20:18] dlech commented on #586
Check the Device Browser on the EV3 to make sure you are using the correct `address`.

You should also check the state of `smux` to make sure it is actually running. And you will probably need a delay before creating the ultrasonic sensor device to allow the kernel some time to create the device node.

[2018-12-28 20:44] w1ref1re commented on #586
The sensor is not shown up in the Device Browser, not even the as `nxt-analog` like the empty ports.
And when I check the values of `smux`I get:
`value(0) = 2`
`value(1) = 2`
So it has the Run State `Run` but the Status`halted`??

If I run `dmesg | tail` there are the lines
`[ 1277.145774] ht-nxt-smux-i2c-sensor: probe of ev3-ports:in2:i2c8:mux1:lego-nxt-us failed with error -12
[ 1277.146681] leg

[2018-12-28 21:08] dlech commented on #586
Good thinking to check `dmesg`. `-12` means `ENOMEM`. Looking at the driver code, it looks like we have a serious mistake. We are forgetting to allocate some memory for the sensor modes.

I've started https://github.com/ev3dev/ev3dev/issues/1210 to track the issue since this isn't a python problem. Further comments should be made there.

[2018-12-28 21:08] #586 closed, assigned to nobody

[2018-12-29 17:38] ndward commented on #584
I also continue to have problems with wait_for_bump, wait_for_pressed and wait_for_released. For example this script (launched from VS Code):
[code]
gives this error:
Traceback (most recent call last):
  File "/home/robot/park/wait_for_bump.py", line 13, in <module>
    btn.wait_for_bump('left')
  File "/usr/lib/python3/dist-packages/ev3dev2/button.py", line 203, in wait_for_bump
    if self.wait_

[2018-12-30 02:54] happyFox1982 opened #587 "Mention this loop ,Sometimes codes in it excuted , sometimes not (use Python)"
- **ev3dev version:** PASTE THE OUTPUT OF `uname -r` HERE
- ****ev3dev-lang-python version:  jessie**

**Now put my codes Here**

        import pdb
        import ev3dev.ev3 as ev3
        import time

        print('I am ready!')

        l = ev3.LargeMotor('outA')
        r = ev3.LargeMotor('outD')
        ts = ev3.TouchSensor()

        while ts.is_pressed==False :
                 if ts.is_pr

[2018-12-30 03:34] #587 closed, assigned to nobody

[2018-12-30 12:27] happyFox1982 commented on #561
try this code, and find the differences:

         import ev3dev.ev3 as ev3
         import time

         print('I am ready!')

          l = ev3.LargeMotor('outA')
          r = ev3.LargeMotor('outD')
          ts = ev3.TouchSensor()

           while ts.is_pressed==False :
            continue

           ev3.Sound.speak('I shall run!').wait()

           l.run_timed(time_sp=3000, speed_sp=700)

[2018-12-31 16:55] #569 closed, assigned to nobody

[2018-12-31 16:56] #561 closed, assigned to nobody

[2018-12-31 16:57] #535 closed, assigned to nobody

[2018-12-31 16:57] #555 closed, assigned to nobody

[2019-01-09 02:31] strichter commented on #583
This issue greatly limits the utility of the new library at this point, since any quick action will cause a deadlock.

I think the solution will be to pass the state upon original checking to the poll itself and instead of relying on the attribute access later on. I would add a line before 868 saying `state = self.state` and then pass `state` into the polling somehow. (I have not worked with this

[2019-01-09 02:53] WasabiFan commented on #583
How often are you running into it, and with what version of this library?

The `poll` function is a wrapper around the Linux syscall of the same name, which just blocks until events are raised for the provided file descriptor then returns that event info. So the problem is that we are missing events... `poll` doesn't actually interact with the contents of the file, and therefore couldn't know whet

[2019-01-09 03:01] strichter commented on #583
@WasabiFan If I increase the speed of my printer enough, I can reproduce it consistently. I am running on beta2 right now.

BTW, I looked more into how everything works and the fact that everything is done via simple I/O communication is super cool. I am getting more excited by the minute.

[2019-01-09 03:23] strichter commented on #583
Okay, here is another thought: You start polling in a thread before you check for the early exit. Once the check is complete you join the thread or kill it if the early exit condition is true.

BTW, I would not mind your idea about always polling with a timeout and only bail if the overall timeout is reached. I think the perf degredation would be minimal unless you have reason to believe that read

[2019-01-09 07:04] ddemidov commented on #583
Would something like this work?
[code]

[2019-01-09 14:20] strichter commented on #583
@ddemidov This is exactly what I tried last night and my image printed completely (a 4 hour run where it used to hang within less than 30 secs). I had just hard-coded poll_tm to 10ms. It is also the solution that @WasabiFan suggested with the caveat that it has a small performance degradation.

In general I am a proponent for getting things to work *right* before getting things to *fast*. So +1 on

[2019-01-09 18:04] ddemidov commented on #583
We could also add third parameter with a reasonable default, e.g. `poll_tm=50`, so that users could modify it when necessary:
[code]

[2019-01-09 19:45] WasabiFan commented on #583
This seems reasonable to me. It would be nice to get some experimental data on how much slower this is — and, more importantly IMHO, how much less consistent it is.

Other note — this code has changed a bit since beta2. The check used to be after the poll call. So the existing unreleased (as of now) code in this repo is better than what has been released.

[2019-01-09 20:00] WasabiFan opened #588 "Release planning for v2.0.0-beta3"
We've been sitting on unreleased code for a long time, so I'd like to try to get another release out.

The associated milestone is [here](https://github.com/ev3dev/ev3dev-lang-python/milestone/6).

I think micropython support for buttons should be pushed back, as there isn't an obvious solution to that and I will need to do some more investigation. We should certainly have some basic docs for Micr

[2019-01-09 23:34] strichter commented on #583
@WasabiFan Given that `select` is a core, C implemented module, I assume that the overhead is minimal. If we really care about consistent performance, we need to make sure that Python does not switch to another thread while not polling. I think it switches threads every 10 byte calls or so. I wonder whether there is a way to say, do not switch while doing this work, then we could ensure that the b

[2019-01-09 23:36] strichter commented on #583
@WasabiFan Do you have suggestions on how to test performance and consistency? (I am new here, so I do not know my way around everything yet.)

BTW, do you guys have a simulator for this library? That way you could test behavior without using the hardware. I am thinking simulating literally the hardware files.

[2019-01-11 08:29] coffeedood opened #589 "How to work it with a Brickpi+?"
- **ev3dev version:** PASTE THE OUTPUT OF `uname -r` ev3dev stretch for brickpi+
- **ev3dev-lang-python version:** INSERT ALL VERSIONS GIVEN BY `dpkg-query -l python3-ev3dev*` HERE

.  I guess I'm just not sure what python script I need to run for Brickpi+ it seems like none of the scripts that work for my brickpi3 work on the brickpi+.  Any suggestions?

robot@ev3dev:~$ python3
Python 3.5.3 (defa

[2019-01-11 08:34] #589 closed, assigned to nobody

[2019-01-16 07:22] WasabiFan commented on #588
I haven't gotten any objections here... I didn't finish my end-to-end testing over the weekend but I'll probably publish the release when I finish that up.

[2019-01-18 14:59] dlech commented on #588
"Release early and release often" :smile:

[2019-01-28 04:29] danioyuan opened #591 "LargeMotor(OUTPUT_A) cannot find motor"
[code]

Just had ev3dev + VC Code set up today. Able to run hello.py from https://github.com/ev3dev/vscode-hello-python successfully.

Now I'm just following the example here to run the following code:
[code]

The following error appears even I can see the motor on Input A on ev3 brick interface. I also tried to plug in all 4 inputs with large motors.

The error says:
[code]

There is also a minor

[2019-01-28 04:37] dlech commented on #591
You have to run the program on the EV3, you can't run it on your computer.

If you start a new project, make sure to copy the `.vscode` folder from https://github.com/ev3dev/vscode-hello-python or manually configure `launch.json`.

[2019-01-28 05:14] dlech commented on #588
I would like to make a new snapshot image soon. Anything I can do to help get this release out?

[2019-01-28 05:50] danioyuan commented on #591
Thanks!

How do I know it is running on the ev3 or not? I didn't create a new
project. I made a new file under the same directory as hello.py, and then
right clicked the program and clicked "download and run". So I feel it was
running on ev3, isn't it?

On Sun, Jan 27, 2019, 8:37 PM David Lechner <notifications@github.com wrote:

[2019-01-28 16:11] dlech commented on #591
I could tell by the path name in the error message `/Library/Frameworks/Python.framework/...`. It looks like you are using a Mac.

If you right-clicked something and it said, "download and run", it is not part of the ev3dev VS Code extension.

If you just added a file to the vscode-hello-python project, then you should be able to use the "Download and Run Current File" option in the debugger panel

[2019-01-28 16:45] danioyuan commented on #591
It worked!

Sorry I was typing on my phone yesterday. What I clicked after right click
was "Run Python file in terminal", not "download and run". No wonder it
didn't work.

Is clicking "download and run current file" the only way? Are breakpoints
possible for programs running on EV3?

Thanks a lot for your help.

Best,

Yuan

On Mon, Jan 28, 2019, 8:11 AM David Lechner <notifications@github.com wr

[2019-01-28 17:19] dlech commented on #591
Remote debugging is theoretically possible, but I had trouble getting it to work on the EV3 in the past. I haven't tried the latest version though. PTVSD is pre-installed in ev3dev. You can read more about how it is supposed to work in the docs for Microsoft's Python extension for VS Code.

[2019-01-28 23:25] WasabiFan commented on #588
Oof, I took on some new responsibilities recently and haven't even sat down at my desk in a week :grimacing: I need to just sit down and get the release out the door.

[2019-02-02 04:38] dlech opened #592 "VS Code Extension"
I made a new VS Code extension for ev3dev-lang-python

https://marketplace.visualstudio.com/items?itemName=ev3dev.ev3dev-lang-python

Basically, it helps you set up a new project folder and helps you get stuff installed to make code completion work.

[2019-02-02 05:14] WasabiFan commented on #588
I'm working on this now and will publish the new release tonight.

[2019-02-02 05:18] WasabiFan commented on #592
Nice! That's quite exciting; I'll have to try it out 😁

[2019-02-02 10:24] WasabiFan commented on #588
@dlech I ran into an error while trying to publish the new release (via the release script) and I'm not sure what exactly it is saying. Do you have any suggestions?

[code]

[2019-02-02 16:58] dlech commented on #588
Are you using the `./debian/release.sh` script? (I suspect not since I see an armel build that is not supposed to be there).

Are you using the broken dput version from Ubuntu 18.04?

[2019-02-02 18:44] WasabiFan commented on #588
Yes. If there are additional build products it's because I have manually built them previously. Here I just ran `release.sh`.

In theory I downgraded it then `hold`ed it but I can check to make sure something didn't go wrong.

[2019-02-02 19:03] dlech commented on #588
https://bugs.launchpad.net/ubuntu/+source/dput/+bug/1762567

Maybe need to adjust the `~/.dput.cf` file?

[2019-02-03 04:23] WasabiFan commented on #588
Package has been uploaded and deployed to PyPi. Let me know if any issues are found.

[2019-02-03 04:23] #588 closed, assigned to nobody

[2019-02-05 16:02] dlech commented on #592
Well, I need to take this down temporarily (for reasons). Sorry for the inconvenience.

[2019-02-05 16:02] #592 closed, assigned to nobody

[2019-02-08 16:27] lisjump opened #617 "Move demos to a more prominent place on the website"
### What are you trying to do?
As per a gitter conversation, it would be lovely if the demos: https://github.com/ev3dev/ev3dev-lang-python-demo could be moved to a more prominent place on the website.  I was unaware of them until I started writing my own.

### What did you expect to happen?

### What actually happened?

### What hardware and software are you using (including version numbers)?

[2019-02-11 22:58] WasabiFan opened #593 "MoveDifferential missing from docs"

[2019-02-12 17:31] lisjump opened #594 "ev3dev2.sound.Sound.play_song converts notes to uppercase and breaks flats"
- **ev3dev version:** 4.14.80-ev3dev-2.3.1-ev3
- **ev3dev-lang-python version:** ii  python3-ev3dev 1.2.0

#!/usr/bin/env python3

from ev3dev2.sound import *

sound = Sound()
sound.play_song((
      ('Db4', 'e3'),
    ))

will produce an error:

Traceback (most recent call last):
  File "./soundtest.py", line 7, in <module>
    ('Db4', 'e3'),
  File "/usr/lib/python3/dist-packages/ev3dev2/sound.p

[2019-02-12 20:40] WasabiFan commented on #594
It looks like this is about the main ev3dev-lang-python library, not the demo repo. Please reopen this issue at https://github.com/ev3dev/ev3dev-lang-python/issues.

[2019-02-12 20:42] lisjump commented on #594
Oops!  I thought the open list looked pretty small!  Sorry!

[2019-02-12 21:16] dlech commented on #594
GitHub lets you transfer issues now. So this issue is in the right place now.

[2019-02-12 21:21] WasabiFan commented on #594
Oh, cool! I didn't know that. Thanks!

[2019-02-14 03:07] lisjump opened #595 "Add rest notes to sound.Sound.play_song()"
It would be nice if sound.Sound.play_song() had rest notes as a possibility.  My student was looking through all sorts of music he wanted to make his robot play and to quote him, "All music has rests, well at least all good music."

It can be solved by breaking apart songs on the rest notes and adding a delay, but that is rather messy.

[2019-02-14 16:43] lisjump commented on #542
I was looking through issues, just to see what was being worked on.  I've done a pile of work to fix the steering how I like it for my kids and will paste it below as an idea.  Your MoveDifferential is and it's ability to turn in an arc is the thing I haven't included yet because I just found out about it.  I'm happy to combine some of this into a drive.py that includes the drive stuff above and h

[2019-02-15 03:34] PrabhathTangella opened #596 "Using HiTechnic Sensor in Ev3-dev"
I haven't been able to use HiTechnic compass sensor in ev3dev-stretch. When I run the code it keeps saying that it is not connected.
#!/usr/bin/env python3
from ev3dev2.motor import *
from ev3dev2.sensor import *
import time
c = Sensor(adress=INPUT_1, name_pattern='ht-nxt-compass')
num = c.mode()

[2019-02-15 05:53] WasabiFan commented on #596
Can you post the output of `ev3dev-sysinfo -m`?

Also, the output of `cat /sys/class/lego-sensor/*/driver_name`.

[2019-02-15 05:55] WasabiFan commented on #596
Actually, should that be "driver_name" rather than "name_pattern" in your code?

[2019-02-15 21:48] PrabhathTangella commented on #596
I will try this but I think the device is connected to the brick because when I go to the device browser I can see the device and read values.

[2019-02-16 00:32] PrabhathTangella commented on #596
ht-nxt-compass: This is the output of the cat command.

**System info (from `ev3dev-sysinfo`)**
[code]
 : This is the output of the system information command.

[2019-02-16 00:47] WasabiFan commented on #596
Can you try replacing `name_pattern` with `driver_name` in your code?

[2019-02-16 01:09] PrabhathTangella commented on #596
I did it still doesn't connect. I think it isn't connecting because the compass sensor is an I2C sensor

[2019-02-16 01:13] PrabhathTangella commented on #596
from ev3dev2.sensor import *
c = Sensor(address=INPUT_1, driver_name='ht-nxt-compass')
debug_print(c.address)
value = c.value
debug_print(value)

ev3-ports:in1:i2c1
<bound method Sensor.value of Sensor(ev3-ports:in1)>

With driver name it worked but I couldn't read values out of the sensor.

[2019-02-16 08:46] xo1b opened #597 "UltrasonicSensor - measurement continuously"
- **ev3dev version: 4.14.96-ev3dev-2.3.2-ev3
- **ev3dev-lang-python version:  python3-ev3dev 1.2.0

i'm fairly new to programming and robotics and struggling with the following. i'm using the Lego Mindstorms EV3 brick and setup the ev3dev2 environment. i would like to program the robot in the way, that it gets the constantly the distance from the ultrasonic sensor and stops when it falls under som

[2019-02-17 06:23] WasabiFan commented on #597
You're close! The main issue is that you only actually try to read the sensor once. `us.distance_centimeters` _is_ the preferred way of doing it, but you have to read the distance repeatedly to get new values. In Python, once you've set a variable like `dist=us.distance_centimeters`, `dist` won't change unless you set it again.

My suggestion would be to do it like this:
- Start the motors. You ca

[2019-02-17 08:12] WasabiFan commented on #596
`value` is a function; you must call it. https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/sensors.html#base-sensor

[2019-02-18 16:44] xo1b commented on #597
Thank you!! Your comment put me on the right path and I found a working solution, now I got an obstacle avoiding robot :)

[2019-02-18 17:19] lazenbyace opened #598 "ev3dev-2.3.1"
- **ev3dev version:** PASTE THE OUTPUT OF `uname -r` HERE
- **ev3dev-lang-python version:** INSERT ALL VERSIONS GIVEN BY `dpkg-query -l python3-ev3dev*` HERE

[2019-02-18 17:24] lazenbyace commented on #598
running version ev3dev-2.3.1 brickman v0.10.0
Using stretch image & VS Code

I have followed all of the tutorials that I could find, but I am still getting the ModuleNotFoundError when trying to import ev3dev2 such as:

from ev3dev2.motor import MoveTank, OUTPUT_B, OUTPUT_C

results in Unable to import 'ev3dev2.motor'

Please advise. I've installed python 3. I've installed ev3dev2. I've created a

[2019-02-18 19:53] dlech commented on #598
Can you please give the exact steps to reproduce the problem?

[2019-02-18 20:21] lazenbyace commented on #598
Thanks for responding.

Our steps were first to follow videos 1-3 released by Nigel Ward for EV3 Python. This involved flashing the stretch image onto an SD card, installing VS Code, connecting to the brick, etc. - basically following steps from https://www.ev3dev.org/downloads/.

The last few steps in video 3 download VSCODE-HELLO-PYTHON-MASTER folder. Following his videos, we modified the .json

[2019-02-18 21:15] dlech commented on #598
This sounds like `.vscode/launch.json` is not setup correctly.

You probably have something like this for `hello.py`.

[code]

So you need to add a new entry for `motordemo.py`.

[code]

[2019-02-18 22:45] lazenbyace commented on #598
I actually have it set up to run the relative program and it is trying to run it because I get the error on each import statement.

[code]

[2019-02-20 01:33] Atzingen commented on #204
Hello @WasabiFan and @Dilbert76 . I', having the same problem of slow import on regular python3. Can you guys help in with the micropython and library instalation on the ev3dev brick ?
Thanks alot

[2019-02-20 02:05] WasabiFan commented on #204
Try `sudo apt install micropython-ev3dev2`. I haven't gotten official instructions written yet but that should be the main thing you need to do.

[2019-03-10 10:59] Jawaisch opened #599 "BrickPi: DeviceNotFound at every first start of the program"
========== ev3dev-sysinfo ==========
Image file:         ev3dev-stretch-rpi2-generic-2018-11-13
Kernel version:     4.14.94-ev3dev-2.3.2-rpi2
Brickman:           0.10.0
BogoMIPS:           38.40
Bluetooth:
Board:              board0
BOARD_INFO_HW_REV=A02082
BOARD_INFO_MODEL=Raspberry Pi 3 Model B Rev 1.2
BOARD_INFO_TYPE=main
Board:              board1
BOARD_INFO_FW_VER=1.4.6
BOARD_INFO_HW_REV=3.2.

[2019-03-10 16:33] dlech commented on #599
Try adding a short delay after the last `set_device`.

    import time

    ...

    time.delay(0.5)

It takes some time for the device to be configured in the background. But after you run the program once, the device is already configured.

[2019-03-10 18:25] Jawaisch commented on #599
That works.
Thanks for that and for all the great work you're doing here!

But I have one more question.
Any idea why the function
`wait_until_not_moving()`
doesn't work on my BrickPi? They never returns, no matter how hard I hold the Motor.

[2019-03-19 21:44] fractal13 opened #600 "Display.text_pixel and Display.text_grid laggy with non-default font."
- **ev3dev version:** 4.14.80-ev3dev-2.3.1-ev3
- **ev3dev-lang-python version:** 1.2.0, 2.0.0~beta2

When drawing text to the display, each Display.text_*() call with a font string specified takes nearly 0.5 seconds to execute.  This is problematic for programs that want to use the screen for status updates, while time sensitive actions are happening, such as driving while watching for a color sen

[2019-03-20 04:08] WasabiFan commented on #600
Thanks for reporting! We'd definitely be interested in such a change (at least, for the v2.0 series). If there's an API change that would make this better we can consider it; the v2.0 is still labelled as beta but the next release probably won't be, so if we're going to make breaking changes we should do it now. Alternately, is this a reasonable place for some caching logic? Perhaps a table of rec

[2019-03-20 04:38] ddemidov commented on #600
I think it would be enough to add check for `isinstance(font, str)` here:

https://github.com/ev3dev/ev3dev-lang-python/blob/e9a1598802e24d6c353b5416fd0588005f9421dc/ev3dev2/display.py#L383-L387

and only use `fonts.load()` if that is the case. Something like:
[code]
Then users could pass preloaded fonts into the function.

[2019-03-20 17:12] fractal13 commented on #600
I like this strategy.  I created a pull request with the change implemented.  I tested it with a font string and with a preloaded font and obtained the expected behavior.

[2019-03-20 20:17] #600 closed, assigned to nobody

[2019-03-21 16:09] ndward opened #602 "Bad link in Stretch documentation"
These sections
https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/display.html#ev3dev2.display.Display.text_pixels
and
https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/display.html#ev3dev2.display.Display.text_grid
include bad links to
http://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/ev3dev-stretch/other.html#bitmap-fonts

[2019-03-21 19:09] WasabiFan commented on #602
ReadTheDocs hadn't triggered a rebuild after #601 was merged... I just did it manually and it looks like the links are OK now.

[2019-03-21 19:09] #602 closed, assigned to nobody

[2019-03-21 19:26] fractal13 commented on #204
My timing tests show about 3-4 seconds for python3 to start, and an additional 8-9 seconds for the following imports:

import ev3dev2.sensor.lego
import ev3dev2.display
import ev3dev2.fonts
import ev3dev2.motor

[2019-03-23 22:08] ndward opened #603 "Long delay before remote control starts working?"
4.14.96-ev3dev-2.3.2-ev3
ii  python3-ev3dev 1.2.0        all          Python language bindings for ev3d

When I try to remote control the EV3 by running the following script:
[code]

there is a long delay (more than 30s) between the completion of the download of the project folder from VS Code and the EV3 starting to respond to the remote. There is the same delay if the code is launched from Brick

[2019-03-24 02:29] dwalton76 opened #605 "Revert commit for #548"
Originally the brickpi3 would set the motor state to ``running holding`` when applying the brake but the motor was not moving.  Only the brickpi3 and pistorms behaved this way but we commited a fix to account for it here (it was for issue #548 )
https://github.com/ev3dev/ev3dev-lang-python/commit/95ccb36053db5099dab9a47f9b7cf3b5d7f4e3ea

David changed the brickpi3 behavior to be consistent with ot

[2019-03-24 02:36] dwalton76 commented on #599
@Jawaisch can you `cat` the file with the state of the motor when it is in this condtion so we can see what the motor state is at the time.

[2019-03-24 02:37] #597 closed, assigned to nobody

[2019-03-24 02:39] dwalton76 commented on #595
The only musical instrument I can play is a radio so you are speaking greek to me :) Would your student be interested in submitting a pull requests to add the rests to the Sound class?

[2019-03-24 02:41] lisjump commented on #595
No, but I may be once I finish a current, time-sensitive project.

On Sat, Mar 23, 2019 at 9:39 PM Daniel Walton <notifications@github.com>
wrote:

[2019-03-24 02:46] #591 closed, assigned to nobody

[2019-03-24 02:52] dwalton76 commented on #568
@mistrjirka are you still seeing this issue with the gyro?

[2019-03-24 02:55] dwalton76 commented on #583
@strichter no simulator :( It has been discussed in the past ( #264 ) but no one has had the cycles/motivation to write one.

[2019-03-24 03:01] dwalton76 commented on #583
Couldn't we set ``poll_tm`` to zero after the first pass through the loop?  We only need to cover the scenario where the event already happened but we missed it so after we have checked for that once we should be able to go back to the normal polling method where we block until the state changes.

[2019-03-24 03:05] #496 closed, assigned to nobody

[2019-03-24 03:37] dwalton76 commented on #584
@dickric can you post your ``test.py`` code?  ``wait_for_bump`` on an EV3 is working for me.

[2019-03-24 03:38] dwalton76 commented on #584
@ndward are you still seeing this?  If so what if you remove ``VS Code`` from the picture?  I am able to run your script on an EV3, it works as expected.

[2019-03-24 04:51] dwalton76 commented on #469
The only reference I can find to ``FrameBuffer.get_fb_for_console()`` is in dlech's ev3dev-photo-booth repo:
https://github.com/dlech/ev3dev-photo-booth/blob/master/ev3dev-photo-booth.py

but this is three years old, I'm not sure how his class compares with our current ``FbMem`` and ``Display`` classes.

[2019-03-24 04:57] #594 closed, assigned to dwalton76

[2019-03-24 05:01] #605 closed, assigned to dwalton76

[2019-03-24 10:04] Will2004 commented on #496
That is the problem!  When I run any code containing ev3dev2 it just comes up saying unable to import ev3dev2 and when I try to run the code on the robot it just waits the screen goes for about one fifth of a second and then goes back to the screen I was at before that.

[2019-03-24 14:12] WasabiFan commented on #583
I don't have any data to back this up, but my guess is that it's possible to miss events every time we enter `poll`. If that's true, we always need to be checking whether our last call missed something.

[2019-03-24 16:59] ndward commented on #584
I'm no longer having this problem (launching from VS Code). I'm using kernel 4.14.96-ev3dev-2.3.2-ev3. Thanks to whoever fixed it.

[2019-03-24 19:14] #584 closed, assigned to nobody

[2019-03-25 07:29] WasabiFan commented on #603
Add a `print` statement immediately after the last `import` line. When do you see the print output?

[2019-03-25 11:39] dwalton76 commented on #603
I do not use VS code but just running your code above on an EV3 I see a 12s delay.  Added
[code]

output
[code]

If you remove VS Code from the equation do you still see the long delay?

[2019-03-25 20:12] #510 closed, assigned to WasabiFan

[2019-03-28 16:42] #357 closed, assigned to dwalton76

[2019-03-28 16:42] #324 closed

[2019-03-30 03:18] WasabiFan commented on #501
Do we have interest in pursuing this? I never actually got to testing it on the EV3 but I can if the perf boost is beneficial.

[2019-04-01 09:56] cho934 commented on #264
It would be very interesting to update the ev3dev by taking the sd card inside a virtual machine, because it's very very long !

[2019-04-01 23:38] anzy0621 commented on #194
How do I input some coordinate values into the lego ev3 brick so that the robot and return to the x, y position that was provided as an input to it

[2019-04-01 23:39] anzy0621 opened #612 "How do I input some coordinate values into the lego ev3 brick so that the robot and return to the x, y position that was provided as an input to it"
How do I input some coordinate values into the lego ev3 brick so that the robot and return to the x, y position that was provided as an input to it

_Originally posted by @anzy0621 in https://github.com/ev3dev/ev3dev-lang-python/issues/194#issuecomment-478786646_

[2019-04-01 23:46] WasabiFan commented on #612
Could you clarify what you're trying to do? Which coordinates are you referring to?

[2019-04-02 00:01] anzy0621 commented on #612
So if I have the lego robot starting at one starting point and it is following a prescribed path to reach its destination point. The condition is that if the bot goes out of the prescribed path then it is said to be lost and it has to take in (read) position values( probably x y coordinates of the starting point) to return back to the initial position. Is there a way we can input any value to the

[2019-04-02 00:20] davehocking opened #613 "Unsupported platform 'None'"
- **ev3dev version:** 4.14.80-ev3dev-2.3.1-rpi2
- **ev3dev-lang-python version:** python3-ev3dev : 1.2.0 / python3-ev3dev2 : 2.0.0~beta2

Hi there, I was working well on an EV3 Brick and decided it was time to move to BrickPi.
I'm struggling to get my code to run, it seems to know it's not on an EV3 Brick, but I don't know if I've missed something where I need to declare the EV3Dev Hardware type..

[2019-04-02 00:55] dlech commented on #613
can you share your code? have you searched other issues about brickpi? did you edit config.txt?

[2019-04-02 08:51] davehocking commented on #613
Hi, apologies for my poor first post - It was 1am in the morning and I wasn't thinking properly.
I had reviewed the troubleshooting steps but hadn't seen [the notes here](http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/brickpi3.html) about editing the config file.

Thanks,
Dave

[2019-04-02 14:46] dlech commented on #613
no worries 😄
Did editing config.txt fix your problem?

[2019-04-04 06:30] davehocking commented on #613
Thanks, yeah, it did. I had a couple of extra niggles with the ports not being auto-sensing, but I was able to work out what was needed to get things working. It's currently needing me to echo to /sys/proc, I've seen some examples where it's done in Python but I didn't get any joy when I tried - likely to be my issue as this is my "learning python" experience (coming from PoSH). Worth creating a n

[2019-04-04 10:50] dlech commented on #613
Hmm... I guess I must answer the same question on chat more than on GitHub - I thought it would be easy to find an issue with a complete example, but I guess not! #599 should give you a hint on how to do it in Python though.

[2019-04-06 18:28] dwalton76 opened #614 "SPIKE discussion"
There are some specs available [here](https://drive.google.com/drive/folders/1CcX-nbceaZFQSuIDWMvgbBWgY8UD6VrC?fbclid=IwAR08rlaG149erZIwVsYHOfjejEfoIx0KyvrYCXw-QOPkwuO2VrsUZqnnoEk).  Highlights from the docs on the hub:

• The Hub is powered by a 100MHz M4 320 KB RAM 1M FLASH processor
• 32 MB of memory for programs, sound, and content
• Embedded MicroPython operating system
• Provides an open pla

[2019-04-06 18:44] dwalton76 commented on #614
The board in the video at https://micropython.org/ is only 166Mhz but looks pretty snappy in the video.

[2019-04-06 21:47] dwalton76 commented on #235
Doing some research on this...the ev3dev project that was the source of inspiration for the EV3-G implementation was https://www.ev3dev.org/projects/2016/08/07/Mapping/

This chunk of code reads the motor positions periodically and sends those (plus the timestamp) to some other program via a UDP socket
https://github.com/bmegli/ev3dev-mapping-modules/blob/master/ev3odometry/main.cpp

Not sure yet

[2019-04-06 21:55] dwalton76 commented on #235
Great source here:
http://seattlerobotics.org/encoder/200610/Article3/IMU%20Odometry,%20by%20David%20Anderson.htm

[2019-04-07 12:58] dwalton76 commented on #612
We do not have a way to do this today but I should be able to add this as part of the Odometry #235 work.  I have the code done that tracks the robots (x, y) position in mm.  It should not be too difficult to add a basic `goto_x_y()` method to calculate how far to turn in place and then how far to go in a straight line.  That all assumes there is nothing blocking our path though...is this going to

[2019-04-07 22:05] WasabiFan commented on #235
:+1: I've developed odometry systems in the past, so I have a pretty good idea of what goes into this. For encoder-only tracking, it's really just doing the kinematics math. If you have an IMU, you'd typically throw that into the mix via a Kalman filter (probably just constant-velocity in our case, I doubt introducing acceleration would matter much). But initially, the tracking is really just some

[2019-04-11 09:37] deopark opened #616 "How to Get Value of 'TILT-ANGLE' in Gyro Sensor ?"
4.14.96-ev3dev-2.3.2-ev3

ii  python3-ev3dev  1.2.0        all          Python language bindings for ev3dev
ii  python3-ev3dev2 2.0.0~beta3  all          Python language bindings for ev3dev

Hello!
I'm Testing to Get Value from  'TILT-ANGLE' mode of Gyro Sensor.
But The Following Error Occurs :
('TILT-RATE' Mode Is No Problem And Date Code of Sensor Is 'N6')

-Source Code-
[code]
-----------------

[2019-04-11 15:38] dlech commented on #616
What is the date stamp on your gyro sensor? (should be something like 25N5)

The tilt mode is a hidden feature that is only available on some sensors.

[2019-04-12 06:03] deopark commented on #616
Date Stamp of My Seneor Is '25N6', and the Following Code Works Well. (It Reads Value of tilt_rate Well)

[code]

As a Result, Except Value of tilt_angle(),  It Can Get Value of All 'property' method(in GyroSensor class) including 'tilt_rate(self)'

Is That Possible?

[2019-04-12 15:33] dlech commented on #616
Maybe there is a typo in the mode name. What is the output of...

[code]

[2019-04-12 19:46] dlech commented on #617
I've added a link on the ev3dev.org website, but it would be good to mention it in the ev3dev-lang-python docs as well.

[2019-04-13 06:40] deopark commented on #616
Thank You for Your Reply.
Your Advice Was Right.

gy.modes
`
['GYRO-ANG', 'GYRO-RATE', 'GYRO-FAS', 'GYRO-G&A', 'GYRO-CAL', 'TILT-RATE', 'TILT-ANG']
`

Mode Name is 'TILT-ANG'.

But It  was defined In GyroSensor class like Below.

`MODE_TILT_ANG = 'TILT-ANGLE'`
`MODE_TILT_RATE = 'TILT-RATE'`
`

so, I Could Get a Value of 'Tilt_angle' by Modifying my Code like Below.

[code]

Nevertheless, How Can I

[2019-04-13 13:30] dlech commented on #616
At the beginning of your program (after the `import` statements), you can put...

[code]

[2019-04-13 18:12] #616 closed, assigned to nobody

[2019-04-14 14:24] usmanov-danil opened #619 "Bluetooth communication between two EV3 blocks"
How can I do communication between two blocks via bluetooth? Does exist something implemented  for it? Or I should write my own sh script?

[2019-04-18 00:25] #613 closed, assigned to nobody

[2019-04-18 00:29] dwalton76 commented on #599
David has been hammering out some bugs recently in the brickpi3 motor driver:
- https://github.com/ev3dev/ev3dev/issues/1237
- https://github.com/ev3dev/ev3dev/issues/1248

The `wait_until_not_moving()` issue is probably due to 1248 (it is for me).

[2019-04-18 00:29] #599 closed, assigned to nobody

[2019-04-18 00:33] dwalton76 commented on #501
I'll give it a try on my EV3

[2019-04-18 00:39] dwalton76 commented on #619
We do not have support for it in our repo but there is another python repo that has implemented the EV3 protocol. It supports connecting via bluetooth https://github.com/ChristophGaukel/ev3-python3/blob/master/ev3.py#L283-L290

That would be a good example to follow.

[2019-04-18 01:05] dwalton76 commented on #501
Testing with this:
[code]

I ran it three times to get a baseline:
- 12401ms
- 12144ms
- 12586ms

[2019-04-18 01:57] WasabiFan commented on #501
That's without the Pillow patch, right?

[2019-04-18 02:10] dwalton76 commented on #501
right....Pillow is still building :( Am going to test on `master` on your fork then `greyscale-to-rgb-packer`

[2019-04-18 02:12] #235 closed

[2019-04-18 02:13] dwalton76 opened #620 "MoveDifferential: use gyro support for better accuracy"
odometry support went in via #235 but the initial commit did not include gyro support

[2019-04-18 02:17] dwalton76 commented on #612
@anzy0621 this is in now in the MoveDifferential class, see https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/ev3dev2/motor.py#L2064-L2077
[code]

[2019-04-18 02:18] dwalton76 commented on #620
@WasabiFan in a nutshell do you just use the gryo angle instead of calculating the angle based on the wheel movements?

[2019-04-18 03:07] anzy0621 commented on #612
wow, that is good news! Looking at this code it means now the robot can take values as coordinate values right? Assuming that whichever place the robot started is (0,0 ) So are the coordinates w.r.t. inches or mm or cm?

[2019-04-18 05:05] WasabiFan commented on #612
They are millimeters.

[2019-04-18 12:42] dwalton76 commented on #612
yep it starts out at (0,0) and angle 90. The logic being if you drive straight forward the robot will be at a 90 degree angle from the x-axis.  Since you will be the first person using this please help us improve the docs in the `MoveDifferential` docstring.

You can use the `Distance` classes to use whatever unit of measure you want but in the end the coordinates are in millimeters.  This should

[2019-04-18 13:32] anzy0621 commented on #612
I keep running into this error, should I be downloading  ev3 stretch software again? because it says odometry class is not there in move differential
![thumbnail_image001](https://user-images.githubusercontent.com/37059022/56364548-cb0ec700-61bc-11e9-9bcb-ed8532e9ee3f.png)

[2019-04-18 14:02] dwalton76 commented on #612
You will need to install the latest ev3dev-lang-python from the repo.  ssh to your ev3 and then do:
[code]

That might be all you need but I am not 100% sure if using visual studio will honor the PYTHONPATH environment variable.  If you still hit the error you can do:
[code]

[2019-04-18 23:48] dwalton76 commented on #501
With `master` on your fork I got
- 20500ms
- 22233ms
- 21487ms

But this does not include the time that it takes to import our Display library...that has gone up significantly. I did not time it before but it now takes 47s just to `from ev3dev2.display import Display` :(

[2019-04-19 02:13] dwalton76 commented on #501
With the patch I get
- 21942ms
- 21294ms
- 21157ms

[2019-04-19 13:27] dwalton76 commented on #501
What version of Pillow ships with ev3dev? (not in front of my ev3 at the moment).  Something to try would be to apply @WasabiFan 's patch to that version and see what we get.

[2019-04-19 17:07] WasabiFan commented on #501
I believe this also requires changing the Python library to use the native packer. Should be...

[code]

[2019-04-19 20:20] dwalton76 commented on #501
Today when we do
[code]

we get back a list of size 91136 but with
[code]
the list is only of length 68352, this causes an `IndexError: mmap slice assignment is wrong size` exception.  The original size of self.mmap is determined by `FbMem._get_fix_info(fid)`'s `smem_len`...the `fix_info.smem_len` is used in `_map_fb_memory`.

For grins I hacked _map_fb_memory to use a size of 68352, re-ran my tes

[2019-04-19 20:22] WasabiFan commented on #501
Which platform are you running this on? It is only applicable on EV3.

[2019-04-19 20:23] dwalton76 commented on #501
Am running on an EV3.

**System info (from `ev3dev-sysinfo`)**
[code]

[2019-04-19 20:35] dwalton76 commented on #501
We are running 4.0.0-4
[code]

[2019-04-19 20:37] WasabiFan commented on #501
Right now, your measurements are showing that the change doesn't improve performance, right?

[2019-04-19 20:42] dwalton76 commented on #501
Right...findings to this point are:
- pillow takes drastically longer to import and about 2x as long to update the screen in v5.3 (what your master is based off of) vs v4.0.0 (what ev3dev ships with today)
- I don't see any speed benefit when switching from XRGB to RGB (with your patch)

[2019-04-19 20:52] WasabiFan commented on #501
Are you sure it's a matter of the different version rather than different build parameters?

Are you saying that you think the implementation for L->RBG packing I added isn't what is needed? Does it not do what we previously intended to do? (You can look at the Pillow test I added to see what it does.)

[2019-04-19 21:06] dwalton76 commented on #501
What build parameters are used for the pillow install that ships on ev3dev?  To build I changed all of `pip` to `pip3` and `python` to `python3` in the Makefile. That was all I changed.

The test cases appear to be a dumpster fire :(
[code]

[2019-04-19 21:16] WasabiFan commented on #501
Well that's... Cool... I'm not sure what's going on there. Perhaps a Python version issue — maybe there's a better-supported way of working with python3. Or maybe it's an endianness or word size issue. I know the tests passed when I initially implemented it, but I think I was doing that on a desktop.

Also, I think I was wrong earlier; we want to use "RGBA" not RGB".

[2019-04-19 21:37] dwalton76 commented on #501
Lets try your patch against their `6.0.x` branch and see what we get.

[2019-04-19 21:46] dwalton76 commented on #501
I am scratching my head over how they build for python3 though...changing the Makefile like this feels a bit hackish

[2019-04-19 23:31] dwalton76 commented on #501
On `6.0.x` with your patch applied I got 23277ms, that was with this which does not have the mmap size mismatch issue.
[code]

When I was using
[code]
I got an `ValueError: No packer found from RGB to RGBA` exception.  Side NOTE, our Display library is still taking about 50s to import.

I am going to drop down to `4.0.x` and see what sort of times we get to see if there is something about how I am

[2019-04-20 01:00] dwalton76 commented on #501
On 4.0.x I got 21707ms so something about how I am building this has a significant impact.  This is starting to feel like more trouble than it is worth...

[2019-04-20 01:01] WasabiFan commented on #501
Don't do the "convert". Just toBytes.

[2019-04-20 02:29] dwalton76 commented on #501
ok back to `6.0.x` with your patch and
[code]

I got 21682ms.  I went back to using XRGB and got 22923ms.

[2019-04-20 04:02] WasabiFan commented on #501
To be clear... This is still 2X slower than what we have now, right? If so, there's something wrong. I might be able to take a closer look this weekend.

[2019-04-20 11:03] dwalton76 commented on #501
yeah 4.0.0 that ships with ev3dev takes ~12000ms,  4.0.0 that I bulid/install from their git repo takes ~22000ms.

[2019-04-20 13:40] staadecker commented on #583
Just to let everyone know that I was having this issue. Adding a 1 second delay between calls to the motors fixed it but it would be nice not to have to.

[2019-04-20 15:37] dwalton76 commented on #583
@staadecker if I post a pull request can you test and verify the fix?

[2019-04-20 15:42] staadecker commented on #583
Yes I can try. My issue doesn't happen 100% of the time however. Any recommendations on how to get the new code. I'm unable to connect my EV3 to the internet (and therefore github) (see https://github.com/ev3dev/ev3dev/issues/1154).

[2019-04-20 17:51] staadecker commented on #583
Ok internet is up and running.

[2019-04-20 23:45] lizisawizard opened #621 "'int' object has no attribute 'on_for_rotations'"
I'm developed a function called 'turn' and it includes the 'on_for_rotations' function for the motors. I have it implemented in 2 different programs. It works in one, but not the other. The programs are nearly identical so I'm unsure of what is wrong. I keep getting the error 'int' object has no attribute 'on_for_rotations'.

Code:
[code]

It's supposed to just turn like usual.

**Desktop (please

[2019-04-21 00:39] dlech commented on #621
It looks like you are using the variable `a` for two different things.

[code]

[code]

I would suggest giving your `MoveTank` variable a different name.

[2019-04-21 00:44] lizisawizard commented on #621
Thank you!

[2019-04-21 00:44] #621 closed, assigned to nobody

[2019-04-21 02:03] dwalton76 commented on #583
@staadecker try this:
[code]

That will allow you to test the change in PR #622.  Let us know what you see.

Credit to @ddemidov for the patch

[2019-04-21 02:06] dwalton76 commented on #620
ok I watched enough builderdude35 videos on Youtube last night that I think I have my head wrapped around what to do with the gyro in terms of odometry.  I think my gryo is busted though, I do things like use MoveDifferential turn_to_angle to turn 90 degrees and the robot looks like it turned exactly 90 degrees but the gyro says it turned 50 degrees.

[2019-04-21 06:59] WasabiFan commented on #620
The way I would imagine implementing it is to throw the gyro and wheel odometry angle measurements into a Kalman filter (to smooth out the gyro data, primarily) then use the output measurement for calculations. That being said, the noise of the gyro probably isn't huge and both of our measurements are continuously integrated rather than individually sampled, so a Kalman filter might be overkill.

[2019-04-21 12:58] dwalton76 commented on #620
For rotating in place it just used move steering to start rotating and then stopped when the gyro got to the desired angle. They had to underestimate though (aim for 80 degrees to end up turning the desired 90 degrees) so it wasnt crazy impressive. What we have right now (without a gyro) is actually pretty good. I can tell it to torn 90 and it will sometimes hit it dead on but others it will only

[2019-04-21 13:00] dwalton76 commented on #620
For driving forward in a straight line they used a PID controller to adjust motors to keep the gyro at the original angle. This all looked very cool to me and worked really well in the video. He would have the robot driving straight and then would nudge it with his hand and the robot would straighten itself out

[2019-04-21 18:12] staadecker commented on #583
@dwalton76 . Unfortunately, when I tried to reproduce the issue, I could not (with the old code). So I can't test whether it fixes anything.

[2019-04-21 20:34] dwalton76 commented on #620
Having lots of gyro issues right now, filed https://github.com/ev3dev/ev3dev/issues/1262

[2019-04-24 09:44] dwalton76 opened #623 "need to delete old branches"
Is it safe to delete any of these?
* micropython - last updated 2 years ago by @ddemidov
* support-micropython - last updated 2 years ago by @WasabiFan
* brickpi-ev3dev-2.0.0 - merged, last updated 1 year ago by @dlech
* ev3dev-stretch-1.x - last updated 9 months ago by @ddemidov

[2019-04-24 15:27] TechMarauder opened #624 "I need help with getting either the library to work or how to ping with the ultrasonic sensor and assign the result to a variable"
I'm using the latest versions of ev3dev (2.3.1), ev3dev_browser (1.0.3), Python (2019.4.11881), and VSCode (1.33.1), however, this is the first time I've used VSCode, and cannot figure out how to get the library to work. Additionally, when trying to upgrade the library with this recommended code in the terminal
`sudoapt-get update
sudo apt-get install --only-upgrade python3-ev3dev`
when entering t

[2019-04-24 18:01] ddemidov commented on #623
`ev3dev-stretch-1.x` is used as an active branch (that is, there is a documentation version for it) on readthedocs. Not sure if it is still needed though.

[2019-04-24 18:50] WasabiFan commented on #623
`ev3dev-stretch-1.x` should stick around as a reference for the version of the 1.x library on Stretch. The Micropython ones are no longer needed. I can't recall the final state of the other branch, but my recollection was that we ported those changes into our main branches.

[2019-04-24 19:03] WasabiFan commented on #624
What's the error you're seeing or behavior you didn't expect? It's hard to know what's going wrong if we don't know what it  is doing.

I don't know why the default password isn't working; do other commands work? Paste the output of `ev3dev-sysinfo -m`. If you're running commands in the right place, perhaps you're accidentally pasting extra stuff into the password prompt.

[2019-04-26 13:41] dwalton76 opened #625 "PID line follower"
It would be cool to support a PID line follower such as:
- https://www.youtube.com/watch?v=AMBWV_HGYj4
- https://github.com/CS2098/Line-Follower/blob/master/line_follower.py

[2019-04-26 13:50] dwalton76 commented on #623
I deleted `micropython` and `support-micropython` but now I see a `micropython-support` branch that was not there a few days ago.  It says it was last updated 7 months ago by @WasabiFan ...is this one safe to delete too?

@WasabiFan something in your workflow is creating branches on the main repo (instead of your fork)...the `feature/initial-micropython-docs` and `feature/add-port-constant-docs` a

[2019-04-26 13:51] dwalton76 commented on #620
Also hitting https://github.com/ev3dev/ev3dev/issues/1269

[2019-04-26 13:51] dwalton76 commented on #612
@anzy0621 any issues with the new odometry support or can we close this one?

[2019-04-26 13:57] anzy0621 commented on #612
No issues! It works perfectly fine! You can close this issue! And how can
help with the documentation

On Fri, Apr 26, 2019 at 9:51 AM Daniel Walton <notifications@github.com>
wrote:

[2019-04-26 15:51] WasabiFan commented on #623
Yeah, I just branch and work in this repo rather than my fork. If that's annoying I can change it.

AFAIK no Micropython branches are needed anymore.

[2019-04-26 16:56] dwalton76 commented on #623
yeah I think it would be less confusing if you made them in your fork.

I deleted the other micropython library and `feature/add-port-constant-docs` (it had been merged already)

[2019-04-26 17:00] dwalton76 commented on #623
Ended up with

- `ev3dev-stretch`
- `ev3dev-stretch-1.x`
- `ev3dev-stretch-2.0.0-release-wip`
- `ev3dev-jessie`
- `feature/initital-micropython-docs` there is WIP PR open for this one so it will go away once that PR is wrapped up.

[2019-04-26 17:00] #623 closed, assigned to nobody

[2019-04-26 17:02] dwalton76 commented on #612
If you can think of things to add to this section:
https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/ev3dev2/motor.py#L2069-L2086

to make the odometry feature easier to use just submit a pull request with the changes.

[2019-04-26 17:02] #612 closed, assigned to nobody

[2019-05-03 16:09] MrGibbage opened #626 "ev3dev2 or ev3dev?"
Using VS Code. This is pretty much my first time using VS Code and Python, but I have been programming (java mostly) for years. I am following the instructions here:
https://sites.google.com/site/ev3devpython/setting-up-vs-code

but I also see the instructions HERE
https://github.com/ev3dev/ev3dev-lang-python

The big difference between the two of them is this site is using
from ev3dev2.motor impo

[2019-05-04 11:57] MrGibbage opened #627 "Time To Launch slow?"
ev3dev version: 4.14.96-ev3dev-2.3.2-ev3
ev3dev-lang-python version:
ii python3-ev3dev 1.2.0 all Python language bindings for ev3dev
ii python3-ev3dev2 2.0.0~beta3 all Python language bindings for ev3dev

I am evaluating ev3dev for potential use in FLL. One thing I have noticed so far is that it takes a long time for programs to launch once they are selected. Like on the order of ten to fifteen se

[2019-05-04 13:23] dwalton76 commented on #627
Try micropython it will load much faster

[2019-05-04 15:59] MrGibbage commented on #627
That definitely sped things up a lot, but it is still taking five to seven seconds to launch.

[code]

[2019-05-04 17:11] WasabiFan commented on #626
The `ev3dev` module is the older version, maintained for compatibility. `ev3dev2` is the newer one which we recommend using in new projects. @ndward's site might not be updated for it.

The green underlines are because you don't have the library installed locally, only on the remote EV3. Python is an interpreted language (rather than compiled) which generally means you don't need libraries install

[2019-05-05 05:24] WasabiFan commented on #627
Yeah, this is a common issue; loading is pretty slow. The suggested approach would be to have your program wait for a button to be pressed before continuing; so you let it load beforehand and then tell it to go at the last minute. That being said, I think this library doesn't support buttons on Micropython yet (you can test to confirm) so you'd have to use the normal one (python3).

Alternately, t

[2019-05-05 10:48] ensonic commented on #623
Please keep ev3dev-stretch alive. While micropython sounds like a good idea, a transition for open roberta is beyond what I can do alone.

[2019-05-10 21:27] staadecker opened #628 "Micropython support for ev3dev2.sound"
ev3dev2.sound does not support micropython. This is an issue because audio keys are useful while testing. For now I can use the following to make the robot beep.

[code]

However it would be nice to have support. I found that what is breaking the module is
`from subprocess import check_output, Popen, PIPE`.

[2019-05-10 21:43] staadecker commented on #571
Any news on this? @dlech Is there any way for me to use the button class from the link since it works. What if I want my code to be compatible with both normal and micro. Should I have an if statement to differentiate between which modules to use?

[2019-05-10 22:33] dwalton76 commented on #628
yeah the issue is with Sound.py using subprocess...I was reading this:
https://forum.micropython.org/viewtopic.php?t=5055

It sounds like you should be able to replace the subprocess calls with `os.fork()` or `os.system()` calls.  If you want to work on it assign this issue to yourself (or if you can't let me know and I can assign it to you).

[2019-05-10 22:34] dwalton76 opened #629 "StopWatch class"
I really like the `StopWatch` class that the pybricks micropython implementation has.  We should add that.

[2019-05-10 22:36] dwalton76 commented on #627
#571 for button support in micropython

[2019-05-10 22:37] dwalton76 commented on #583
I am about 99% sure I was able to reproduce this and verify the fix so am going to close this one

[2019-05-10 22:37] #583 closed, assigned to nobody

[2019-05-10 22:38] dwalton76 commented on #603
please re-open this one if it is still an issue

[2019-05-10 22:38] #603 closed, assigned to nobody

[2019-05-10 22:40] dwalton76 commented on #608
@ndward now that #583 is resolved can you check if this is still an issue?

[2019-05-10 22:41] dwalton76 commented on #568
please re-open if this is still an issue

[2019-05-10 22:41] #568 closed, assigned to nobody

[2019-05-10 22:43] dwalton76 commented on #596
@PrabhathTangella can you change `value = c.value` to `value = c.value()`

[2019-05-10 23:05] dlech commented on #571
IMHO, trying to make code that is compatible with both Python 3 and MicroPython is not worth the effort. They are different programming languages and there are too many gotchas to deal with because of all of the little differences.

[2019-05-11 00:11] staadecker commented on #571
Ok makes sense. Any plan to merge your code from micropython-ev3dev into the main repo and then people can import one library or the other depending on their needs? As of now, would the best be to clone the micropython repo onto the ev3 and add it to the path?

[2019-05-11 01:19] staadecker commented on #628
Unfortunately, this is really not my area of expertise. I'm confused when looking at the code. For now I will use `os.system("/usr/bin/beep")`

[2019-05-11 16:41] ndward commented on #608
I just ran this script using the April 8 image:
[code]

The script froze after printing out:
0
-10
10
19
27
In other words it can do the larger movements but can fail for small angles. In this case the 8 degree move worked but the 7 degree movement failed.
I ran again and got this printout
0
-10
10
19
So it could not manage the 8 degree turn from 19 to 27.

I conclude that this function on_to_posi

[2019-05-12 04:42] JunOllyLi commented on #628
I had an experiment project, to improve ev3dev2 support in Micropython.
You guys can try it if you are interested.  I am not familiar with the Debian Packaging stuff, so this would require some hands on compiling.

https://github.com/robosaurus-ev3dev2-upy/upy-ev3dev2

So far I tested LEDs, sound, buttons and they work.  And of course the motors and external sensors were already supported.

[2019-05-12 04:42] JunOllyLi commented on #571
I had an experiment project, to improve ev3dev2 support in Micropython.
You guys can try it if you are interested.  I am not familiar with the Debian Packaging stuff, so this would require some hands on compiling.

https://github.com/robosaurus-ev3dev2-upy/upy-ev3dev2

So far I tested LEDs, sound, buttons and they work.  And of course the motors and external sensors were already supported.

[2019-05-12 23:42] dwalton76 commented on #628
I'll take a stab at it

[2019-05-12 23:46] dwalton76 commented on #628
@JunOllyLi wow you have made a lot of progress!! Have you thought about submitting pull requests for the changes you have made to the various repos?  It would be nice to pull your work in and have sound, buttons and LEDs all working in micropython for ev3dev-lang-python.

[2019-05-13 00:27] #629 closed, assigned to dwalton76

[2019-05-13 00:33] WasabiFan commented on #608
@dwalton76 Do we need to re-open #583, or has the fix you tested not made it into a release yet? I believe we haven't released it yet. Perhaps we should do a release soon to package up these various fixes.

[2019-05-13 00:35] WasabiFan commented on #628
Yeah, @JunOllyLi we'd love to accept these changes into the official repos if you're interested. I haven't looked through it in depth, but I expect we'd be open to merging pretty much all of it. We'd really love the help for improved uPy support!

[2019-05-13 00:48] dwalton76 commented on #608
yeah it is probably worth doing a release soon.

[2019-05-13 03:39] dwalton76 opened #633 "Micropython support for LED animations"

[2019-05-13 03:57] JunOllyLi commented on #628
Would love to, but if you looked at my changes, mostly they are in micropyton-lib and evdev. There only two very small quick hacks in ev3dev2, which I am not even satisfied although they work. At lease one of the changes should be fixed later with better PCRE implementation in Micropython-lib.
The change in evdev is a total re-written C code in Micropython module style, not going to be compatible

[2019-05-13 06:06] WasabiFan commented on #628
I only looked over your changes briefly, so I can't say for sure what parts are doable and what aren't. We do ship our own fork of micropython-lib with ev3dev, so that could probably be updated. Or, just include them in our own library source.

The evdev library is a bit of a different story, but I'd be interested in looking at the options there... Depending on the changes you made we might be abl

[2019-05-13 12:16] dwalton76 opened #635 "Micropython support for Display"
Take a look at what David did here:
https://github.com/dlech/micropython-ev3dev/blob/ev3dev-stetch/src/uev3dev/display.py

and see if we can bring that in to add Display support for micropython

[2019-05-13 12:18] dwalton76 commented on #608
@ndward can you test with the latest of ev3dev-lang-python and see how it behaves?
[code]

[2019-05-13 12:32] dwalton76 opened #636 "Micropython support for control/rc_tank.py"
I think the `from time import sleep` is the only tweak this needs

[2019-05-13 12:35] dwalton76 opened #637 "Micropython support for control/GyroBalancer.py"
Needs to use `_thread` instead of `threading`.  I'm sure there are other changes needed...will need to build this robot and test to be sure.

[2019-05-13 12:38] dwalton76 opened #638 "Micropython support for control/webserver.py"
I have experimented with https://github.com/jczic/MicroWebSrv and it seems to work fairly well.  I haven't tested to see how will that library works with python3 though.  It might be a decent starting point though if we decide we want to support `WebControlledTank` in micropython.  It takes forever (I want to say more than 30s) to load `WebControlledTank` via python3.

[2019-05-13 12:44] dwalton76 commented on #628
Once a few PRs go in the main feature we will be missing that is in @JunOllyLi 's library is Button support.  dlech had that working [here](https://github.com/dlech/micropython-ev3dev/blob/ev3dev-stetch/src/uev3dev/button.py) so I don't think we are too far off from having pretty good micropython support without have to touch ev3dev, micropython-lib, or micropython.

[2019-05-13 22:07] WasabiFan commented on #638
I think this could be cool, but from a time investment perspective the reward probably isn't worth it for now. My thought is that uPy is, in general, designed to be _small_ -- do just the simple things, but really fast. If someone wants a whole web server running there's probably enough work to be done there that they're willing to/will want to use full CPython instead. That doesn't prevent us fro

[2019-05-14 01:04] dwalton76 commented on #636
Actually, this works just fine with micropython.

[2019-05-14 01:04] #636 closed, assigned to dwalton76

[2019-05-14 04:40] JunOllyLi commented on #628
Yes, I don't see any problem to implement that in Python. I was just too lazy to do that. It requires a couple of IOCTLs, and what needed is to get the bit definition of the IOCTL numbers ported from C to Python, and pack/unpack the C structures used in those IOCTLs. I just took the shortcut and used what already defined in C. As I said, I am not a Python programmer, C is more my type. :)

[2019-05-14 10:35] #633 closed, assigned to dwalton76

[2019-05-14 14:28] ndward commented on #608
I'd like to do that but I seem unable to open a normal SSH session from VS
Code. I don't have the possibility of typing anything. I'm using  the April
8 image. I tried with two different EV3s. Maybe I need to use an older
image in order to be able to use SSH? I used to have no problems with SSH.

On Mon, 13 May 2019 at 14:18, Daniel Walton <notifications@github.com>
wrote:

[2019-05-14 20:38] WasabiFan commented on #608
@ndward hit enter a few times... there was a bug in VS Code on Windows a release or two ago.

[2019-05-19 17:29] #628 closed, assigned to dwalton76

[2019-05-19 17:30] dwalton76 commented on #628
@staadecker FYI Sound will work with micropython now

[2019-05-19 23:48] staadecker commented on #628
@dwalton76 thank you! How can I use the latest unreleased code on the EV3. Is the repo already cloned and I just need to pull to get the updates?

[2019-05-20 02:49] WasabiFan commented on #628
@staadecker we'd love some help testing! The easiest way to test it is to clone the repository and add it to your PATH so that it overrides the system-installed version. This should do it:

[code]

The last line only applies within your current terminal session; if you'd like it to be permanent you can add the line to your `~/.bashrc`. But you should test it once first to make sure I didn't mess u

[2019-05-20 13:12] dwalton76 commented on #628
@WasabiFan I am pretty close on being done with #571 , I have it working (I pulled in dlech's code) it just needs some cleanup of some duplicated code between the Button classes for python3 vs the Button classes for micropython.  I would like to get that one one before we do a release.  We have so much working in micropython now I am using it more and more.

[2019-05-20 19:37] WasabiFan commented on #628
Damn, nice! I wasn't expecting buttons to get working that fast. This sounds good to me; I'll wait until the buttons are merged.

[2019-05-25 11:49] Nercy99 opened #640 "Pixy Camera for LEGO non recognized by ev3dev2"
Hi,
I am using the following version of ev3dev I downloaded last August:

![image](https://user-images.githubusercontent.com/51016318/58368861-f63eb180-7ef2-11e9-896e-ca18174a8b23.png)

I wrote the following test program using ev3dev2. I also tried switching to ev3dev (line 2 in commentary) with the same result.

![image](https://user-images.githubusercontent.com/51016318/58368872-1ec6ab80-7ef3-11

[2019-05-25 13:33] dwalton76 commented on #640
I do not have one myself so don’t have much to add other than upgrading to the latest ev3dev sounds like a good first step.

[2019-05-25 13:45] dwalton76 commented on #635
@WasabiFan I am going to experiment with David’s Micropython Display code. Maybe this will be like the buttons where we can add this without a ton of effort :)

[2019-05-25 14:56] dlech commented on #640
Does the camera show up in the Device Browser on ev3dev? There is no support for the Pixy2 in ev3dev at this time (but you can probably use the Python SMBUS library to talk to it).

[2019-05-25 18:13] WasabiFan commented on #635
The major issue I see here is that most of our current display API is really just exposing the PILlow drawing object. I think we do still have wrapper methods around it though, so maybe we can fill in some holes there and then have the PIL object only available on CPython.

[2019-05-25 21:39] dwalton76 commented on #635
I think if we could get just text to the display working that would be worth committing.  Drawing shapes, etc could all come later if needed.

Am doing my work here if you want to give it a try. I can't actually get anything to display though (using `Display.text_pixels`)...not sure why yet
https://github.com/dwalton76/ev3dev-lang-python/tree/micropython-display

[2019-05-26 12:21] Nercy99 commented on #640
@dlech
I am connected under the username robot and I don't know the root password.

I don’t know how to browse the devices connected to the brick

Two large motors are connected to the B and C ports. A color sensor is connected to the 3rd port and the Pixy camera is connected to the 4th port.
The led in front of the Pixy camera flashes after the connexion to the EV3 brick on the 4th port.

![image

[2019-05-26 18:07] dlech commented on #640
![image](https://user-images.githubusercontent.com/963645/58385512-28b1e280-7fb7-11e9-9639-382d6cc7ac70.png)

Select `Device Browser` and press the center button.

[2019-05-26 20:05] Nercy99 commented on #640
@dlech
Thanks a lot. It was easier than I thought.
![image](https://user-images.githubusercontent.com/51016318/58386405-b3b6cb00-7fff-11e9-9f3d-43226141dd18.png)

The port of the color sensor is correct: lego-ev3-color at ev3-ports:In3
The problem is that the port of the camera Pixy isn't  ev3-ports:In4 as expected but:
pixy-lego at I2c-legoev36:I2cl

How to make it work?

[2019-05-26 20:13] dlech commented on #640
I think you need to upgrade the kernel to fix the port name. (fixed in kernel version `...-ev3dev-2.3.0-...`)

[2019-05-27 19:35] Nercy99 commented on #640
I downloaded the latest ev3dev image file and the problem is solved.

Thanks a lot for your help.

[2019-05-27 19:35] #640 closed, assigned to nobody

[2019-05-30 01:13] staadecker commented on #628
@WasabiFan. I tried testing it today. I was able to clone the repo into the home folder. I can use the repo in python3 no problem using `export PYTHONPATH=`~/ev3dev-lang-python/`. However, micropython is unable to find the package and using `PATH` doesn't work either.

[2019-06-04 18:46] FalconFX9 opened #642 "Motor Speed Unreliable"
Hello, I over the past couple of months, I programmed a robot for the WRO competition. Ev3dev has been not especially reliable (trouble following the line, turns and line following very dependent on battery level, etc). And on the day of the competition, the robot worked fine (at first), but, for some reason, it started being extremely slow -- (turns very slow, line following very slow), despite n

[2019-06-05 12:55] RobinMarchart opened #643 "Unable to find TouchSensor on PiStorms"
- ev3dev version:4.14.114-ev3dev-2.3.4-rpi2
- ev3dev-lang-python version:
  - python3-ev3dev            1.2.0
  - python3-ev3dev2           2.0.0~beta3

On PiStorms-v2 using ev3dev
I Tried using TouchSensor and got this Error:
[code]
I looked inside the sys filesystem and figured out that (touch) sensors are only shown if the mode is set to `ev3-analog` in `/sys/class/lego-port/port<n>/mode`.
afte

[2019-06-05 14:41] dlech commented on #643
Can you share your code?

Sensors are not automatically detected on PiStorms like they are on EV3, so you have to configure the mode of the port first.

[2019-06-05 14:43] dlech commented on #643
@KWSmit might have some example code for PiStorms.

[2019-06-05 16:19] KWSmit commented on #643
I think my tic-tac-toe is a good exemple, see repo https://github.com/KWSmit/KSmEV3TicTacToe--PiStorms-version-

[2019-06-08 08:33] WasabiFan commented on #642
It's hard to know what went wrong without more specific investigation. I don't see a reason that low battery would impact code performance, but certainly if you're controlling motors using only duty cycle (rather than setting a speed setpoint) that would be dependent on battery. If you have specific issues we can certainly take a look.

[2019-06-08 16:50] dwalton76 commented on #642
If the battery is low and your code tells the motors to turn at a specific speed (instead of rotating for a certain number of degrees) then I could picture that causing issues.  I don't know that there is much we can do here without some concrete data to go on.  If you can get some logs on how the motors are performing at various battery levels that might be a good starting point.

[2019-06-08 16:54] dwalton76 commented on #627
We have micropython button support now so am going to close this one since there isn't much else for us to do.  The idea being for FLL scenario you would launch one program at the start and then use button pushes to move on to the next phase of the program instead of launching a new program each time and paying the startup time penalty multiple time.

@MrGibbage please let us know if you end up us

[2019-06-08 16:54] #627 closed, assigned to nobody

[2019-06-08 16:54] #626 closed, assigned to nobody

[2019-06-08 16:56] dwalton76 commented on #624
Please re-open with requested info

[2019-06-08 16:56] #624 closed, assigned to nobody

[2019-06-08 16:59] dwalton76 commented on #617
We have this in the README
[code]

[2019-06-08 17:04] dwalton76 commented on #614
I spoke to David a little about SPIKE and ev3dev a few weeks ago.  He said he would like to keep ev3dev focused on being a linux distribution which makes sense.  At some point I may create a SPIKE repo that is a micropython library the builds on the SPIKE micropython OS.  I imagine that library could use a fair bit of the `MoveTank` (and its child classes) code from here but if I end up doing that

[2019-06-08 17:05] dwalton76 commented on #596
Please re-open with requested information

[2019-06-08 17:05] #596 closed, assigned to nobody

[2019-06-08 17:08] dwalton76 commented on #539
@Will2004 please re-open if you are still having issues

[2019-06-08 17:08] #539 closed, assigned to nobody

[2019-06-08 17:10] dwalton76 commented on #528
@WasabiFan do we need anything else for this one in addition to #611 ?

[2019-06-08 17:13] dwalton76 commented on #501
@WasabiFan thoughts on this?

[2019-06-08 17:15] dwalton76 commented on #476
@WasabiFan I think we can close this one?

[2019-06-08 17:21] dwalton76 commented on #469
Given that
- `/dev/fb0` is almost always going to be the framebuffer used
- we support the `FRAMEBUFFER` environment variable to use something else
- the referenced `FrameBuffer.get_fb_for_console()` is in a different code base

I am going to close this one...feel free to re-open if you object.

[2019-06-08 17:21] #469 closed, assigned to nobody

[2019-06-08 17:24] dwalton76 commented on #571
@JunOllyLi had you worked on Display support in your project?

[2019-06-08 17:24] #571 closed, assigned to dwalton76

[2019-06-08 17:30] dwalton76 commented on #517
@ndward please re-open if this is still an issue

[2019-06-08 17:30] #517 closed, assigned to nobody

[2019-06-08 17:39] dwalton76 commented on #637
Will work on this one after https://github.com/ev3dev/ev3dev/issues/1269 is resolved

[2019-06-08 21:24] dwalton76 commented on #635
Hmm this looks interesting
https://docs.micropython.org/en/latest/library/framebuf.html
[code]

[2019-06-08 21:29] dwalton76 commented on #635
oh wait David's code was already using that...doh!!

[2019-06-09 03:26] JunOllyLi commented on #571
@dwalton76 No I have not got the chance to work on display yet.

[2019-06-09 03:27] WasabiFan commented on #501
I got it to compile that week but then ran into an issue getting the module recognized by python3. I'll self-assign this and take a look after finals are over.

[2019-06-12 02:06] WasabiFan commented on #476
I think (?) my intent was to backport this to the 1.x branch: https://github.com/ev3dev/ev3dev-lang-python/commits/ev3dev-stretch-1.x

I can't tell if I did that though. That being said, no one's complaining, so stuff seems to work...

[2019-06-12 02:06] WasabiFan commented on #528
I think this one's done. :tada:

[2019-06-12 02:06] #528 closed, assigned to nobody

[2019-06-12 14:21] #476 closed, assigned to nobody

[2019-06-23 08:28] sugarfree78 opened #644 "how to send direct command to ev3 brick"
I am new to ev3 python but am working on a project. I was reading about NXT-python that " It works by sending the direct commands detailed in LEGO's "Blue-tooth Development Kit" to the NXT brick" I was wondering is it possible to do the same with ev3 brick.please answer in layman's terms.I am using ev3 dev i was hoping i could use it drive robot. more the commands in NXT-python seem to be very sim

[2019-07-03 02:57] LaiYanKai opened #645 "Stretch gets slower after multiple program runs"
Tried using compile / exec as in [here](https://github.com/ev3dev/ev3dev-lang-python/issues/204) to load py files. Works like a charm.
But the python "menu" program I created to load these files takes about 0.3 seconds to respond to button changes, and it gets worse the more I terminate, re-download and test modifications using VS Code. It would take about 1 second to respond before I decided to r

[2019-07-03 03:39] dlech commented on #645
Can you post the code for your menu program?

My guess is that the slowness is because you are using all available RAM and getting into swap memory. It could be that the menu program is not releasing old copies of the program when they end.

[2019-07-03 04:38] LaiYanKai commented on #645
[code]
The code is in the comment above... in the **while true** loop. up and down buttons navigate the menu. the enter/center button runs the compile/exec code. The up and down buttons do not reload the pyfiles in the directory, they simply iterate over an older copy of the menu of py files, stored in a list (_files)

But even if I do not use the exec and compile (by simply not pressing the cente

[2019-07-03 21:46] dlech commented on #645
I think the font is being loaded from file again in every loop. Try using `ev3dev2.fonts.load()` to load a font object instead.

See https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/ev3dev-stretch/display.html?highlight=text_pixels#ev3dev2.display.Display.text_pixels

[2019-07-04 00:55] LaiYanKai commented on #645
**Problem with text_pixels: AssertionError, used draw.text() instead**
[code]
The code above gets the following error:
[code]
Looks like it can only accept strings. Instead of
[code]
I used this:
[code]
Yes, it works faster now, a little laggy, but quite prompt.
THANKS!

Next step is to see if loading the code works:
**I loaded the following code using the menu, and it starts to lag the menu notic

[2019-07-04 01:54] dlech commented on #645
The swap file uses compressed RAM and not the SD card, so the SD card won't make a difference in that regard.

[2019-07-04 01:58] LaiYanKai commented on #645
The lag in the program improves somewhat if I don't run any program for 10 to 20 minutes, but still slower than right after rebooting.

[2019-07-06 05:41] LaiYanKai commented on #645
I'm gonna close this first to focus on EV3 Micropython. When I have a solution... I would post it here...

[2019-07-06 05:41] #645 closed, assigned to nobody

[2019-07-14 09:12] ghost opened #646 "Cython support?"
Sorry I could not fill out the template. My robot is in school so I could not get the details.

I am using ev3dev stretch. Was just wondering if I could use the ev3dev-lang-python library with cython for added performance.

I am aware that micropython is not supported for now so I am looking for alternatives to reduce startup time in testing.

[2019-07-19 05:03] bpmerkel commented on #635
Okay. Just in case anyone is watching this space... You can display and position text on the LCD screen using escape code sequences supported by the EV3DEV console driver (appears to support the VT100 sequences). Here are some code snippets that'll get you started:
[code]

[2019-07-19 11:54] dwalton76 commented on #635
@bpmerkel that is awesome, nice work!! :) Would you be interested in taking on this ticket? Basically just take what you have above and stick it in a `Display` class that is only used when `is_micropython()` is True, else use the Display class that we have today.

[2019-07-19 13:41] bpmerkel commented on #635
Looking at the Display() class, it's pretty embedded with the FrameBuffer-based logic (it subclasses FbMem). Instead of spaghetti `if is_micopython()` paths, what do you think about creating a new `Console()` class within display.py, that simply offers the VT helper functions for the LCD panel console/tty (and would work in both python3 and micropython)?

[2019-07-19 13:53] dwalton76 commented on #635
We've tried to keep the API the same for the python vs micropython equivalents of the same class so even though it is a little if/else spaghettish it does make it easier to take a program and jump back and forth between python/micropython.  For the micropython implementation of Display text_grid() would be the only method you would really implement, for all of the others I would just have the log

[2019-07-19 22:04] dwalton76 commented on #646
We support micropython for everything except the Display class and text support for that is in the works. You should give it a try :)

[2019-07-19 23:28] dlech commented on #635
I think it makes sense to have a distinct text and graphics modes for the display. Startup time of programs could be greatly improved if they don't want to use graphics mode and just display text.

[2019-07-21 00:23] bpmerkel commented on #542
I'd like to participate in the video call too... as a typical challenge to EV3 robots is a "jerk" motion on start and at stop--as motor torque and robot momentum can adversely affect accuracy and potentially trigger other problems. As a "teachable moment", I plan on showing FLL kids how to craft a "speed slope function" to pass in to a move function that speeds up/slows down gradually based on the

[2019-07-21 00:27] bpmerkel commented on #598
@lazenbyace Indeed that works! It properly launches the current open file on the EV3.

[2019-07-21 07:40] WasabiFan commented on #635
I agree with David here — I think the text mode functionality would be best suited for its own class and API. It's useful, but it isn't a replacement for true drawing and isn't used in the same way.

[2019-07-21 13:29] bpmerkel commented on #635
Okay. Plan B. I submitted a PR for Display() with is_micropython and layered the ANSI code logic into the Display() API as best it could (minus the Image and text_pixels functionality). Let me make another fork and build a Console() class (for both Python and micropython). I'll submit a second PR and let the keepers review for applicability. :-)

[2019-07-21 13:48] WasabiFan commented on #635
That sounds excellent. Thanks!

Apologies for being slow to respond; my internet connection is two tin cans and some string at the moment so I'm not checking GitHub very often.

[2019-07-21 15:35] dwalton76 commented on #635
A separate Console class sounds cool to me. Will take a look at PR this evening.

[2019-07-24 06:34] southernwindle opened #650 "AbsoluteIMU ev3dev2"
- **ev3dev version:** 4.14.96-ev3dev-2.3.2-ev3
- **ev3dev-lang-python version:**
[code]

I am attempting to connect an AbsoluteIMU-ACG from mindsensors.com though ev3dev2-python

I have tried a few options but have not been able to figure it out, How would I get this connected and measure the values of it? Thanks.

[2019-07-24 16:06] dlech commented on #650
Can you share the code of what you have tried so far?

[2019-07-24 22:19] southernwindle commented on #650
[code]
the set_device and sensor always returns an error, I do not have access to the ev3 at this current time so I cannot send the error.

[2019-07-25 00:19] dlech commented on #650
Try adding a delay after setting the device before creating the sensor object. It takes some time for it to get set up in the kernel.

[2019-07-25 00:22] southernwindle commented on #650
I have tried that, it doesn't appear to work even after 5 minutes (I tried doing it through SSH too)

[2019-07-25 00:28] dlech commented on #650
one second should be more than enough

[2019-07-25 00:31] dlech commented on #650
I just noticed that you are putting the port in `uart` mode. This is an I2C sensor, so it should be `nxt-i2c`.

[2019-07-25 00:33] dlech commented on #650
And actually this sensor should be automatically detected, so you shouldn't have to mess with the port at all

[2019-07-25 00:34] dlech commented on #650
Does the sensor show up in the Device Browser on the brick?

[2019-07-25 01:00] #642 closed, assigned to nobody

[2019-07-25 01:02] southernwindle commented on #650
Yes

[2019-07-25 01:07] #625 closed, assigned to dwalton76

[2019-07-25 01:10] dlech commented on #650
The default address is 1, so `abs = Sensor(address='ev3-ports:in2:i2c1')` should be all you need (you can double-check the address against the one you see on the EV3).

[2019-07-25 01:59] bpmerkel commented on #252
Let me take this one gentlemen. Branching now...

[2019-07-25 05:54] southernwindle commented on #650
Alright, I got it working. Is there any way to read out each different value at the same time without having to change its mode?

also is there any documentation for this specifically

[2019-07-25 12:51] adrielgomes opened #652 "Restart a service on ev3dev2?"
ev3-uart@ev3\x2dports:in1.service  loaded failed failed  LEGO MINDSTORMS EV3 UART Sensors
ev3-leds.service  loaded active exited  LEGO MINDSTORMS EV3 LEDs

I can restart the service: ev3-leds.service
But I can't restart or start the service: ev3-uart@ev3\x2dports:in1.service

I need your help, because every time I turn on blick-ev3 it boots with either sensor off or bluetoch off.

uname -r: 4.14.1

[2019-07-25 15:02] dlech commented on #652
My first thought is that if you are seeing errors like this, there is something else wrong, like a bad SD card.

Also, make sure you run `sudo apt update && sudo apt upgrade` (when the EV3 is connected to the Internet) to get the latest fixes. There was a recent update that should fix the Bluetooth issue.

[2019-07-25 15:06] dlech commented on #650
http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/sensor_data.html#ms-absolute-imu

It looks like there is an `ALL` mode to read everything at once.

[2019-07-25 15:19] dlech commented on #650
You will probably have to read `bin_data` and use `struct.unpack(...)` for this mode because I'm pretty sure that the number of `valueX` attributes is limited to 8 (0 to 7). The description of the data can be found in the users guide for the sensor: http://www.mindsensors.com/pdfs/AbsoluteIMU-User-Guide.pdf

Totally untested, but hopefully close...

[code]

It is also possible to use `x` in the fo

[2019-07-28 14:37] #252 closed

[2019-07-28 14:37] #593 closed, assigned to nobody

[2019-07-29 18:10] adrielgomes commented on #652
Sorry, but there are no problems with SD card. I use 6 new SD cards. The updates are ok (07/29/2019). I would like to know how to restart or start modules that were not loaded during blink ev3 initialization using ssh. Has anyone ever done this?

[2019-08-13 15:19] dlech opened #655 "Debian package release"
Sorry for the short notice, but it would be great if we could get a new debian package released by this weekend (2019-08-18). I would like to create a new SD card image that will become the main download (after some testing of course).

[2019-08-13 15:50] WasabiFan commented on #655
Agreed, and will-do. I'm returning from China tomorrow and intend to test all the new stuff out and publish a release. From here my Internet connection is inconsistent and I don't have easy access to my packaging VM so I've been putting it off until I'm back.

[2019-08-18 03:41] WasabiFan commented on #655
FYI -- I'm actively working on this and should have the package published before I go to sleep tonight.

[2019-08-18 03:55] WasabiFan opened #656 "Dropping the "beta" from v2.0"
If all goes as planned I'm going to be publishing `python-ev3dev2 2.0.0~beta4` tonight. It's been a while since we released the first `2.0.0-beta` release, and I think at this point we should consider dropping the `beta` tag and calling it "stable". Once we do that, we should be following semver and breaking changes would require incrementing the major version.

Thoughts/objections? For now I'm st

[2019-08-18 05:34] EZ312 commented on #655
Will it include the MoveTank.follow_line. I have troubles to use that in the latest debian package (5/30)

[2019-08-18 07:16] WasabiFan opened #657 "Installing dev build via Makefile installs to different location"
It appears that the Makefile puts the module in `/usr/local/lib/python3.5/dist-packages/` while the real package puts it in `/usr/lib/python3/dist-packages/`, making it impossible to revert the change by reinstalling the real package. Not immediately sure how `setup.py` works so I'm leaving this for later.

[2019-08-18 07:21] WasabiFan commented on #655
@dlech I've published the package and done a cursory test.

@EZ312 Yes, that is included for the first time in this release. To upgrade, run `sudo apt update && sudo apt install python3-ev3dev2 micropython-ev3dev2`. Let us know how it works!

[2019-08-18 16:07] bpmerkel commented on #655
I updated my EV3 this morning and found that console.mpy and stopwatch.mpy
didn't make it into /usr/lib/micropython/ev3dev2... so found those files
were missing from the debian/rules makefile. PR now awaits you... and
perhaps another release (before David builds a new image!?)

--
Brady P. Merkel
brady@merkel.net
Go Gators! --;==;<

On Sun, Aug 18, 2019 at 3:21 AM Kaelin Laundry <notifications@git

[2019-08-18 16:44] EZ312 commented on #655
Our group just started using Python3 and we use this place to get the image: https://oss.jfrog.org/list/oss-snapshot-local/org/ev3dev/brickstrap/ . I didn't see a new build yet.
To run sudo apt update && sudo apt install python3-ev3dev2 micropython-ev3dev2, I assume we need the EV3 connected to the internet, and we can use putty to upgrade? We are pretty new to this and is there some doc  can help

[2019-08-18 16:52] dwalton76 commented on #656
+1 for dropping beta tag

[2019-08-18 17:57] WasabiFan commented on #655
Ah yes, sorry @EZ312 — that would require internet access. We have guides here: https://www.ev3dev.org/docs/networking/

You would run those commands via PuTTY or via the SSH terminal in vscode, after getting internet access.

Otherwise, if you wait a few days @dlech will publish a new image which you can flash onto your SD card that includes the new library. So if you don't want to deal with gett

[2019-08-18 18:02] bpmerkel commented on #655
Hey @EZ312 . The Seshan Brothers (of ev3lessons.com fame) have published a walkthrough presentation to get set up. See https://drive.google.com/open?id=1glQM_AN2_KDCzN0LXghCGTtaM3dpW5Gr. For great code examples, check out the links from the repo's home page as well as the FAQ.

[2019-08-18 18:57] WasabiFan commented on #655
`2.0.0-beta5` version with uPy fix released to archives and PyPi.

[2019-08-18 21:12] WasabiFan commented on #652
This repo is for the Python library. As your issue isn't with the Python library, it isn't appropriate here. If you still have an issue I suggest you open an issue at https://github.com/ev3dev/ev3dev/issues and include details about what you are trying to do and what isn't working.

[2019-08-19 00:11] bpmerkel commented on #655
Just validated beta5 on my EV3... I see console.mpy and stopwatch.mpy now
up-to-date. w00t!

When do the docs get re-rendered and deployed? I still see beta3 deployed:
https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/spec.html

--
Brady P. Merkel
brady@merkel.net
Go Gators! --;==;<

On Sun, Aug 18, 2019 at 2:57 PM Kaelin Laundry <notifications@github.com>
wrote:

[2019-08-19 01:03] WasabiFan commented on #655
rTD needed some prodding, apparently. I've manually re-triggered a build and while I was at it I fixed some defaults that pointed to the old jessie branch.

[2019-08-19 01:04] #655 closed, assigned to WasabiFan

[2019-08-21 15:21] danioyuan opened #659 "polarity('inversed') got error: 'str' object is not callable"
- **ev3dev version:** 18.7.0
- **ev3dev-lang-python version:** 4.14.96-ev3dev-2.3.2-ev3

I'm trying to invert my medium motor but it got an error message.

Code:
#!/usr/bin/env python3
from ev3dev2.motor import (LargeMotor, MediumMotor,
                           OUTPUT_A, OUTPUT_B, OUTPUT_C, OUTPUT_D,
                           SpeedPercent, MoveTank, MoveSteering)
from ev3dev2.sensor import INPU

[2019-08-21 15:28] ddemidov commented on #659
Could it be
[code]
?

[2019-08-21 16:23] danioyuan commented on #659
That's plausible. I'll have to test later today.

Thanks!

On Wed, Aug 21, 2019, 8:28 AM Denis Demidov <notifications@github.com>
wrote:

[2019-08-22 00:40] bidaian opened #660 "Warning when importing sensor (sensor will be unusable)"
System:

4.14.96-ev3dev-2.3.2-ev3

ii  python3-ev3dev     1.2.0          all            Python language bindings for ev3dev
ii  python3-ev3dev2    2.0.0~beta3    all            Python language bindings for ev3dev

Warning:

[code]

It happens for the other sensors as well.

[2019-08-22 00:52] dlech commented on #660
`pybricks-micropython` is for https://education.lego.com/en-us/support/mindstorms-ev3/python-for-ev3

To use ev3dev-lang-python, just use regular `micropython`

Also, be sure to run it with `brickrun` if you want to use the display.

    brickrun -r -- micropython

[2019-08-22 01:25] danioyuan commented on #659
It works! Thanks!
left_motor.polarity = left_motor.POLARITY_INVERSED

I thought it's a function.

A separate issue is that, there doesn't seem to be a way to inverse one of the motors when using MoveTank.

[2019-08-22 01:25] #659 closed, assigned to nobody

[2019-08-22 01:54] bidaian commented on #660
I did it manually, copying what Visual Code Studio was doing, just to better see the error. I happens with that tool and sd card image at the site right now.

But I checked the repository, upgraded to beta5 (both ev3dev2 and micropython) and now everything works (also the MoveTank "follow line" method, that does not seem to exist in beta3 and throws an exception).

So, unless it is important for t

[2019-08-22 02:00] danioyuan opened #661 "MoveTank.follow_line with inversed motor"
- **ev3dev version:** 18.7.0
- **ev3dev-lang-python version:** ev3dev-stretch-ev3-generic-2019-03-03.zip

I'm trying to use the MoveTank.follow_line() to follow line with pid method. But my robot has a inversed motor. Is there a way to set a motor to be inversed in MoveTank and thus making follow_line() workable?

Thanks!

[2019-08-22 02:25] WasabiFan commented on #661
Even if polarity is set on one of the motors, I'm doubtful that calculations which rely on encoder feedback in our `MoveTank` code will handle it properly -- I expect the motors to spin out of control. That being said, try this and see if it works, being ready to stop your robot if it does something weird:

[code]

You can replace `left_motor` with `right_motor` if appropriate. Do this immediately

[2019-08-22 02:33] WasabiFan commented on #660
- Yes, as @dlech said you should use normal `micropython`. `pybricks-micropython` is for a different library.
- Button support under Micropython was [added in `beta4`/`beta5`](https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/debian/changelog#L13), so you need at least that version for buttons to work (and for that warning to go away).
- In your case, you weren't using buttons, but

[2019-08-22 03:54] danioyuan commented on #661
Thanks!

This line does work without error, and when I call my_move_tank.on_for_degrees(), it does apply the correct speed (meaning that I can now treat as if both motors are polarity normal).

However, my current ev3dev version doesn't have the follow_line() function. Not sure why since I just install the whole set up a few days ago. So I wrote my own pid follow line and it works okay.

Even if I

[2019-08-22 04:52] danioyuan commented on #661
How can I update my ev3dev to the latest version here so I can try the follow_line() function?

Thanks!

[2019-08-22 06:23] WasabiFan commented on #661
Please see [our FAQ page](https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/faq.html):

[code]

[2019-08-22 13:49] DigitalRookie4 opened #663 "Importing pygame onto ev3dev"
I am trying to use a joystick to control my robot. I have made all the code, and it is loaded onto the robot, I have downloaded some kind of pygame snippet onto my robot and in the code on visual studio there is not error saying unable to import pygame.base, but when I run the file in the robot either via the robot itself or visual studio it just gives off the error saying unable to import pygame.

[2019-08-22 16:17] dlech commented on #663
There is not a python3 version of pygame for ev3dev-stretch, so you will have to compile it yourself or wait for ev3dev-buster.

A better option in any case would probably be to use the evdev (not to be confused with ev3dev) interface for joystick input events. https://python-evdev.readthedocs.io/en/latest/

It will load much faster than pygame. And if you want to go really light weight, you can s

[2019-08-22 16:29] danioyuan commented on #661
Just updated to 2.0.0-beta5. Thanks!

[2019-08-22 17:10] DigitalRookie4 commented on #663
I am trying to but I am unable to install pip onto my computer I have tried the normal way but that did not work

[2019-08-22 17:18] danioyuan commented on #661
Just tested MoveTank.follow_line with one motor inversed, and it worked!!!

To summarize, here is how:
my_move_tank.left_motor.polarity = LargeMotor.POLARITY_INVERSED
my_move_tank.follow_line(...)

[2019-08-22 17:18] #661 closed, assigned to nobody

[2019-08-22 17:23] dwalton76 commented on #663
I use a USB NES controller to control brickman, this uses the `evdev` library David mentioned above
https://github.com/dwalton76/ev3dev-brickman-gamepad

[2019-08-22 17:34] danioyuan opened #664 "How to determine PID parameters?"
- **ev3dev version:** 2.0.0-beta5
- **ev3dev-lang-python version:** 2.0.0-beta5

Finally I got MoveTank.follow_line() working with an inversed motor. However, the default values of the PID parameters are quite large. It also gives error message of "the speed of the robot is too high to follow line". Isn't the whole purpose of using PID is to follow line accurately with high speed?

So my question

[2019-08-22 17:43] dwalton76 commented on #664
The ideal PID values for one robot may be very different from another robot.  You can use this to try to select better PID values for your particular robot:
https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/utils/line-follower-find-kp-ki-kd.py

[2019-08-22 18:03] WasabiFan commented on #663
Why do you need to install pip on your computer? You only need the software on the robot.

[2019-08-22 18:10] WasabiFan commented on #664
You'll have to change the motors and polarity here: https://github.com/ev3dev/ev3dev-lang-python/blob/48fbd29fd06c69f57e88efcf59955ea49bcc7ace/utils/line-follower-find-kp-ki-kd.py#L109

[2019-08-22 21:19] DigitalRookie4 commented on #663
@WasabiFan Actually that is not related to this problem sorry. I got mixed up

[2019-08-22 21:20] DigitalRookie4 commented on #663
@WasabiFan  Because pip is the only tool that can install evdev (NOT ev3dev)

[2019-08-22 21:21] DigitalRookie4 commented on #663
@dwalton76  That could work, but my plan that I want to stick to is using a wired PS1 remote

[2019-08-22 21:30] WasabiFan commented on #663
@DigitalRookie4 but you don't need any extra software on your computer, unless you intend to have the remote connected to your computer. If the remote is connected to the EV3 directly, you only need to install software on the EV3.

[2019-08-22 21:30] dlech commented on #663
evdev is already installed on the EV3 by default :smile:

[2019-08-22 22:02] DigitalRookie4 commented on #663
@dlech  cheers for letting me know. I have been coding for about 3 years now and I am only 15 so I am not fully advanced but thanks anyway! :)

[2019-08-22 22:03] DigitalRookie4 commented on #663
@WasabiFan  the remote is going to be connected up to my PC (its a PS1 remote)

[2019-08-22 22:49] WasabiFan commented on #663
Ah, OK; do you know how you plan to communicate between your PC and your EV3? You'll need some sort of a connection (Wi-Fi, bluetooth, USB, etc.) so that your PC can forward the joystick input to your EV3.

If the remote is wireless anyway, it's probably easier to connect it directly to the EV3. Otherwise you need to implement the relay code yourself to get the joystick input to the robot.

[2019-08-23 02:58] danioyuan commented on #664
Just tried this. The program worked, but it's not consistent. Each time I run it, it can get very different result. So far, my best PID result is to write it myself using a loop that keeps changing MoveTank speed on the two motors. My pid parameters are calculated following the guidance from this webpage: http://www.inpharmix.com/jps/PID_Controller_For_Lego_Mindstorms_Robots.html

[2019-08-23 02:58] #664 closed, assigned to nobody

[2019-08-23 10:47] DigitalRookie4 commented on #663
@WasabiFan   Ah. I have not thought that out yet. Do you possibly have any suggestions on what I can possibly do

[2019-08-23 11:02] DigitalRookie4 commented on #663
@dlech  @dwalton76 @WasabiFan  I have a huge error while trying to do `pip install evdev` and comes up with this HUGE error:

`Collecting evdev
  Using cached https://files.pythonhosted.org/packages/fe/6e/3fa84a43571dec4d00dc26befccc9867b6b3263651531cbc1345f718860f/evdev-1.2.0.tar.gz
Building wheels for collected packages: evdev
  Building wheel for evdev (setup.py) ... error
  ERROR: Command erro

[2019-08-23 11:03] DigitalRookie4 commented on #663
Sorry it didn't come out in the correct format it was being all akward

[2019-08-23 12:16] ghost commented on #264
https://www.aposteriori.com.sg/Ev3devSim/index.html

I did not make this.

[2019-08-23 12:31] dlech commented on #663
evdev only works on Linux, so doubt that it is possible to install it on Windows.

[2019-08-23 12:37] DigitalRookie4 commented on #663
@dlech  Does it work on python3.7 (because thats what python I use normally)

[2019-08-23 12:39] DigitalRookie4 commented on #663
@dlech  Is there a way you can install evdev onto my windows computer (I have got a debian terminal and a ubuntu terminal and a kali virtual machine)

[2019-08-23 12:46] dlech commented on #663
Why do you need it on you computer? Code completion?

[2019-08-23 12:48] dlech commented on #663
Oh, right, you are connecting your PS1 controller to your computer. In that case, why not install pygame on your computer? My earlier advice was under the assumption that pygame would be running on the EV3, not on you computer.

[2019-08-23 15:30] DigitalRookie4 commented on #663
@dlech  I just felt like it would have helped. But the problem that I am thinking about is that my computer would have to send the joystick signals somehow to the robot. I mean there is a wifi dongle attached to the robot's USB slot. Also the other problem that I am seeing is that when I execute the python file on the robot it would come up saying `no module named pygame`

[2019-08-23 15:41] DigitalRookie4 commented on #663
@dlech  I do have pygame installed on my computer and I have just now tried running pygame on the computer and running the python file via the robot and it has still given off the erro `no module named 'pygame'`

[2019-08-23 15:44] DigitalRookie4 commented on #663
@dlech  My **ORIGINAL** idea was to put the pygame folder all onto the ev3.  I do have pygame installed on my computer. I have just now tried running the pygame module on the computer and running the python file via the robot (with no pygame folder on the ev3 robot) and it has still given off the error `no module named 'pygame'` on the robot

[2019-08-23 22:27] ndward opened #666 "EV3FAST – A PYTHON MODULE FOR FASTER EV3 INTERFACE"
A Posteriori has developed **EV3fast** – a python module for faster ev3 interface, which can be downloaded from this page: https://www.aposteriori.com.sg/ev3fast-a-python-module-for-faster-ev3-interface/
I haven't tried the EV3fast module yet myself. Quoting from that page:

Programing the Lego Mindstorm EV3 using ev3dev and Python can be great fun, but the performance can be very much poorer than

[2019-08-23 22:36] ndward commented on #666
I'm closing this because I just realized it was already announced here
https://github.com/ev3dev/ev3dev-lang-python/issues/451

[2019-08-23 22:36] #666 closed, assigned to nobody

[2019-08-23 22:45] ndward commented on #264
Related to the previous comment... cort@aposteriori.com.sg has created a simulator for ev3dev python...
https://www.aposteriori.com.sg/Ev3devSim/index.html

In his own words from a message he sent me (I haven't yet tried the simulator myself, though it looks exciting):

_It simulates a 2-wheeled differential drive robot commonly used in competitions. I made it mainly to help my students practice p

[2019-08-24 10:40] DigitalRookie4 commented on #663
@dlech  @dwalton76 @WasabiFan  Do any of you have a possible suggestion on what I might be able to do :)

[2019-08-24 10:47] DigitalRookie4 commented on #663
@dlech  One thing I forgot to mention a while ago is that I am using the micropython software because I am only 14 and it is quite easy to understand

[2019-08-24 17:41] DigitalRookie4 commented on #663
@dlech  @dwalton76 @WasabiFan  Something tells me that pygame is able to work on the robot because it is only these modules which are not being found:

`from pygame.base import *
from pygame.constants import *
from pygame.version import *
from pygame.rect import Rect
from pygame.compat import geterror, PY_MAJOR_VERSION
from pygame.rwobject import encode_string, encode_file_path
import pygame.surfl

[2019-08-24 18:25] dwalton76 commented on #663
Can you give a quick summary of what your end goal is?  I take it you want to connect a PS1 controller to your laptop and have the data from the controller passed along to your EV3?  Is the ultimate goal just to use a game controller to control the EV3?  If so I would take the laptop out of the picture and just connect your controller to the EV3 via bluetooth or usb.

[2019-08-24 20:05] DigitalRookie4 commented on #663
@dwalton76  Sorry. What I want to do is is make my ev3 robot be able to be controlled via my ps1 remote that is connected to my computer. I am trying to make the ps1 remotes signal's go into my computer and then get sent to my ev3. But yeah what you have basically said is what my target is to do with the ev3 and the remote. But the issue with that would be that I would just have a ps1 remote stuck

[2019-08-24 20:17] dwalton76 commented on #663
Now we are getting somewhere :)  So your goal is to remotely control the ev3 and you have a PS1 controller.  Do you have any other gaming controllers that support bluetooth?  Or do you have a smart phone or tablet?  If so you could do this:
https://www.youtube.com/watch?v=x5VauXr7W4A

That is on ev3dev but is using python3 instead of micropython.  I imagine you could get it going via micropython w

[2019-08-24 22:53] WasabiFan commented on #264
Yeah, that simulator is quite cool. I'll have to look into it to see exactly how it works sometime. Beware it's probably based on their own binding API which won't match exactly with ev3dev-lang-python.

[2019-08-25 05:16] QuirkyCort commented on #264
Hi All,

I made the simulator for much of the same reasons that @DJuego needed it. It also helps with preparing for competitions like FLL, WRO, and Robocup Rescue. Didn't know about this thread until @ndward told me about it, and there are some great ideas here for implementing the simulator.

The block programming interface in OpenRoberta is still something that I would use for younger kids who a

[2019-08-25 15:19] DigitalRookie4 commented on #663
@dwalton76 I have just used the logfile and it has shown my the exact same error as it did before:
`Traceback (most recent call last):
  File "/home/robot/drive/main.py", line 10, in <module>
  File "/home/robot/drive/pygame/__init__.py", line 136, in <module>
ImportError: no module named 'pygame.base'`

[2019-08-25 19:20] dwalton76 commented on #663
Forget pygame for now...is controlling your robot via a smartphone or tablet acceptable?

[2019-08-26 12:25] mvolfik commented on #595
@lisjump or anyone else - is this some standard notation, and if so, which one?
If not, can I use "R" as a "note" for rest and state it in the docs?

[2019-08-26 13:34] lisjump commented on #595
Yeah, I have no idea. Using R sounds great to me.  Thanks for taking it on,
I meant to and then life happened.

On Mon, Aug 26, 2019 at 6:25 AM Matěj Volf <notifications@github.com> wrote:

[2019-08-26 16:23] xo1b opened #668 "python automatic timeout?"
**ev3dev version: 4.14.96-ev3dev-2.3.2-ev3
    **ev3dev-lang-python version: python3-ev3dev 1.2.0

I'm neither a technician nor a programmer, so maybe the question is wrong here or the answer is obvious.

What I'm trying to do, is to map a room with the ev3. Even if it is at the moment very inaccurate (as it depends on the ultrasonic data and distance counter) I encountered a different problem. Fo

[2019-08-26 18:40] WasabiFan commented on #668
Hmmm... There shouldn't be a built-in timeout anywhere, but here are some thoughts.

Does it always stop after the same number of steps/amount of time?

One possibility is that the process is a child of the SSH session and the SSH session times out because it was disconnected... Have you tried running the program from brickman (the on-screen menu)?

Otherwise, have you checked to make sure your sc

[2019-08-27 02:32] omartin2010 commented on #650
`self.gyroSensor.bin_data('<b16xh4x')` outputs: `(0,0)` and I know this isn't right... in fact even if I don't skip any of the values (`self.gyroSensor.bin_data('<bbbbbbbbbbbbbbbbbbbbbbb'`), everything I extract out of this gives 0,0,0,0,0,0,.. which doesn't feel right. Basically the bin_data seems to give 0 all the time... perhaps it requires some initialization...

[2019-08-27 02:51] ZMcWilliam commented on #650
This code works assuming that the gyro is plugged into in2, it can easily be changed to work for any other port
[code]

This should setup the sensor and allow it to be accessed, the Sensor class needs to be imported from sensor.lego

to use the gyro you must set the mode you want and then call the value

To find the mode/value you can find information here:
http://docs.ev3dev.org/projects/lego-lin

[2019-08-27 02:53] southernwindle commented on #650
Thanks @1StormDragon! That works perfectly.
I hope that helps you too @omartin2010

[2019-08-27 02:53] #650 closed, assigned to nobody

[2019-08-27 02:54] omartin2010 commented on #650
I'm essentially doing what you're describing above - I'm ok running it in "tilt mode" but whenever I try running it in "ALL" mode, which is what I need for my application, then I get all zeros from the bin_data. Flip it to "TILT" mode, and I get my readings... any clue?

[2019-08-27 03:59] omartin2010 commented on #650
in fact, after thinking things a bit, I suspect there being something to do with the driver. The TILT, GYRO, etc. modes can all be read independently so it's got to have something to do with the driver level at the OS (since the same problem can be seen from the OS :

[code]
Any pointer to the driver in the code I could take a look at? Or idea of what else to look for?

[2019-08-27 06:29] QuirkyCort commented on #264
Uploaded the simulator to github.

https://github.com/QuirkyCort/ev3dev-sim

[2019-08-27 13:24] xo1b commented on #668
you are right, when I run the program directly from brickman it finishes the steps.

thanks!

[2019-08-27 13:24] #668 closed, assigned to nobody

[2019-08-27 13:58] dlech commented on #650
https://github.com/ev3dev/lego-linux-drivers/blob/bd56e4527bfe7eacddf3e8135463e69e2bdcb6e3/sensors/nxt_i2c_sensor_defs.c#L1723

This is wrong. `'<b16xh4x'` is an argument to `struct.unpack()`, not `bin_data`.

---

[code]

It looks like only the first few data values are non-zero, so maybe it is not possible to read everything at once?

Possible workaround is to set the mode and read one value you

[2019-08-27 14:02] DigitalRookie4 commented on #663
@dwalton76  Yes. I do have a device that I could use and a wii remote which I am quite sure can connect via bluetooth.

[2019-08-27 14:21] omartin2010 commented on #650
Agreed it looks wrong, but `bin_data('fmt')` takes `fmt` as an argument (at least according to [here](https://ev3dev-lang-python-1.readthedocs.io/en/restruct-docs/sensors.html)). I've also tried the `struct.unpack()` route, and got zeroes.
[code]
and if I change the mode...

[code]
tadam. That's why I'm thinking it has nothing to do with Python in this case...

[2019-08-27 14:45] dwalton76 commented on #663
ok lets start with the easiest way to get this up and running.

- You could use your smartphone to control your robot, there is an example [here](https://github.com/ev3dev/ev3dev-lang-python-demo/blob/stretch/robots/EV3D4/EV3D4WebControl.py).  This is using python3 though not micropython.

- If you want to use micropython you will need to port [this code](https://github.com/ev3dev/ev3dev-lang-pyth

[2019-08-27 14:57] dwalton76 commented on #264
That looks really cool :)

[2019-08-27 15:00] dlech commented on #650
[code]

Oops, I forgot to set the mode to `ALL`. Look like it is "works for me". :confused:

[2019-08-27 15:04] dlech commented on #650
The fact you are getting all 0s is strange because the driver doesn't actually do anything when you set the mode other than changing the register index and size of data that is being read. The `TILT` mode and the `ALL` mode both read from the same starting register, but read a different number of bytes.

Although I just realized that you are probably using BrickPi3, not EV3, so that is probably th

[2019-08-27 15:06] omartin2010 commented on #650
I am indeed using BrickPi3. Not sure how that can cause an issue. And 2 stacked boards... and 2 sensors. So I'll try removing one of the boards and go with a single sensor. Although both sensor read from "TILT" without any problem (although I'm not super impressed with the precision... my phone's level is way more precise). But that's a very different problem. What do you have to set, again, under

[2019-08-27 15:07] dlech commented on #650
For starters, since we have determined this is not a python problem, lets open a new issue at https://github.com/ev3dev/ev3dev/issues and continue the discussion there.

[2019-08-27 15:14] omartin2010 commented on #650
Thanks, done (see [here](https://github.com/ev3dev/ev3dev/issues/1308))

[2019-08-27 23:40] JohnHZheng opened #670 "The new functions of follow_line and calibrate_white"
I am very eager of the new functions follow_line and calibrate_white in beta 5 code.
However, the documentation of both are very limited.

There is one sample code for follow_line, but I cannot make it work. It keeps complaining the robot is moving too fast even I set to speed to 5%. Or it will complain lost the line in the move.

How do I use calibrate_white? Is it just run it once for an new env

[2019-08-28 00:10] dwalton76 commented on #670
For `follow_line` try using this program to fine tune the kp, ki, kd constants for your robot.  The ideal settings for these can vary a lot from robot to robot so they defaults may not work for yours.
https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/utils/line-follower-find-kp-ki-kd.py

Regarding `calibrate_white` basically yes, just run it once when the environment changes (lighti

[2019-08-28 00:10] dwalton76 commented on #670
FYI since these are both related to the python library https://github.com/ev3dev/ev3dev-lang-python/ would be a better place to open issues

[2019-08-28 00:15] dlech commented on #670
issue has been transferred

[2019-08-28 20:04] DigitalRookie4 commented on #663
@dwalton76  I will give this a go but first I need to recharge my robot's batteries. I will get back to you once I have charged the batteries and tried what you have said

[2019-08-28 20:20] DigitalRookie4 commented on #663
@dwalton76  WAIT!......... I am only 15 and I have got GCSE exams coming up. I mean I will take it into consideration. But I want to ask what is "#638".  I do not really know how to "port" code.

- I am only trying to do this because I have a PS1 remote I am quite experienced with python and I have a Lego ev3 robot. I have never converted software before (even in python)! I usually only make games

[2019-08-28 20:36] DigitalRookie4 opened #671 "Using ports 1-4 for motors"
I was just wondering I am able to use the ports 1-4 on my ev3 robot to run motors because I have 4 large motors and 2 medium motors. I want to try to use all these motors in one go (meaning I want to use **ALL** motors on the robot at once). I have tried doing this before but what happened is that to program stopped working and mentioned about a signal issue. Does anybody know why this reason migh

[2019-08-28 20:45] dwalton76 commented on #663
By port I just mean take code that currently runs on python3 and make it run on micropython.

[2019-08-28 21:01] DigitalRookie4 opened #672 "Alternatives for pygame.joystick for controlling ev3dev robot"
I have tried using pygame.joystick to control my robot. however may people have suggested to me that it might not work so I am asking anyone out there who knows any joystick modules. Is there a joystick module that can successfully work for a Lego ev3 robot.

[2019-08-28 22:55] WasabiFan commented on #671
Ports 1-4 are for sensors and use a different connector and signals; you can't run motors on them.

[2019-08-29 16:21] DigitalRookie4 commented on #671
@WasabiFan  Are there any adaptors that I can use that can use two motors on one port

[2019-08-29 16:38] DigitalRookie4 commented on #663
@dwalton76  I have tried installing cwiid onto my computer and by using `sudo apt-get install python-cwiid`. which appears to come from debian I installed it on my computer's debian terminal that I downloaded. It successfully downloaded it but when I put `import cwiid` into python 3 on my computer it gave off the error ` No module named 'cwiid'`. Then I tried using `pip install cwiid` on my comman

[2019-08-29 17:44] WasabiFan commented on #671
Yes. There's a list here: http://docs.ev3dev.org/projects/lego-linux-drivers/en/ev3dev-stretch/muxs.html#supported-multiplexers

Beware that sometimes multiplexers add complexity, so you have to be ready to deal with that.

[2019-08-29 18:22] DigitalRookie4 commented on #671
@WasabiFan  I am using micropython to program my robot do you have any suggestions on how I could program this. What my idea is doing:
`motor_one = Motor(port.A),
motor_two = Motor(port.A),
motor_one.run_target(100, 360)
,motor_two.run_target(100, 360)`
I also want to know are they safe to use for the robot (for example none of the hardware breaks when using the adapter wires).
And also do you kno

[2019-08-31 14:11] DigitalRookie4 commented on #663
Collecting cwiid Using cached https://files.pythonhosted.org/packages/fa/e8/d0f03c60bbdc583a7fa37a126e9b20055fb3752861820c25bd212dc62756/cwiid-3.0.0.tar.gz Building wheels for collected packages: cwiid Building wheel for cwiid (setup.py) ... error ERROR: Command errored out with exit status 1: command: 'c:\users\user\appdata\local\programs\python\python37-32\python.exe' -u -c 'import sys, setuptoo

[2019-08-31 14:12] DigitalRookie4 commented on #663
@dwalton76 I have tried installing cwiid onto my computer and by using sudo apt-get install python-cwiid. which appears to come from debian I installed it on my computer's debian terminal that I downloaded. It successfully downloaded it but when I put import cwiid into python 3 on my computer it gave off the error No module named 'cwiid'. Then I tried using pip install cwiid on my command prompt a

[2019-09-01 00:55] WasabiFan commented on #671
To use motors on a multiplexer you need to replace the typical port constants with strings given from the docs I linked to.

It sounds like you are using the pybricks library, which is not associated with this repo. I can't provide support for using the pybricks library here.

It's designed not to break, but like any other product, it could.

You can find them on their manufacturers' websites. You

[2019-09-01 10:09] DigitalRookie4 commented on #663
@dwalton76  I also have trouble connecting up to the wiimote and I keep getting access denied

[2019-09-01 14:09] bru02 commented on #663
Why do you want to install cwiid on your computer?

Btw, the solution is literally in your error:

[2019-09-02 11:23] DigitalRookie4 commented on #663
@bru02. I was trying to see that if it could install on my computer as well to see if I was getting a similar error to what the robots error was.  You don't fully understand. What I have being trying to do above is by using SSH to access the robot's terminal I have tried installing `pip3 install cwiid` (pip itself does not work) and I get a massive error. I cannot currently do it because I am busy

[2019-09-02 11:26] DigitalRookie4 commented on #663
But I already have visual studio 2017 installed!

[2019-09-02 16:46] DigitalRookie4 opened #673 "Port Splitter for Ev3 motors"
I have searched all over the internet for ev3 port splitters for motors. I have got 4 large motors and 2 medium motors and I do not have enough motor ports for them all. I can usually only find sensor port splitters which is not what I am looking for. I am looking for a **MOTOR** one. I have found one but I am not 100% sure if it is what I am looking for or not. Would anybody out there be able to

[2019-09-08 11:40] DigitalRookie4 commented on #663
@dlech @dwalton76 @WasabiFan @bru02 Has anybody got any suggestions from my comments above on what I can do

[2019-09-08 14:30] dlech commented on #663
It seems like your goal keeps changing, so I'm not sure what the goal is any more.

If the goal is still to use the PS1 controller, the first thing I would do is write a game, just for a regular computer, that uses the PS1 controller so that I could understand how that controller works by itself. Then I would write or copy and change a program that remotely controls the EV3, without using the PS1

[2019-09-12 04:21] Zincfox commented on #264
The simulator I mentioned last year is now working (not polished), but I am not sure if I can make it open-source…

A bit of background: I am a student at the Technical University Dresden where I tutor a mandatory “RoboLab” course (students build and program ev3s which have to explore a labyrinth). This past semester I was able to get credits for my work on the simulator which allowed me to put a

[2019-09-13 01:49] JohnHZheng opened #674 "Read angle of the current motor"
We are now using Python 3. One question is that the LEGO EV3 MicroPython document has class Motor that read angle. The document reads:
**Methods for motors with rotation sensors
angle()
Get the rotation angle of the motor.
Returns Motor angle.
Return type angle: deg
reset_angle(angle)
Reset the accumulated rotation angle of the motor.
Parameters angle (angle: deg) – Value to which the angle should

[2019-09-13 02:14] WasabiFan commented on #674
[`Motor.position`](https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/stable/motors.html?highlight=motor#ev3dev2.motor.Motor.position) should do it. It returns encoder pulses, so you can divide by [`Motor.count_per_rot`](https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/stable/motors.html?highlight=motor#ev3dev2.motor.Motor.count_per_rot) to get fractions of rotations.

If you

[2019-09-13 04:41] JohnHZheng commented on #674
thank you very much

[2019-09-14 04:49] JohnHZheng commented on #670
We tried the find kpkikd in the [link](https://github.com/ev3dev/ev3dev-lang-python/blob/ev3dev-stretch/utils/line-follower-find-kp-ki-kd.py) and spent a lot of hours by tweaking the parameters. It never worked out for us. We get values like kp=4.7, ki=0.1, and kd=3. But it will always ends with lost the line exception no matter what tweaking we can make. We did print the PDF and use an oval for o

[2019-09-14 04:52] JohnHZheng opened #675 "MoveTank.follow_line ?"
This is related to [this issue](https://github.com/ev3dev/ev3dev-lang-python/issues/670). We cannot find the right kp, kd, ki to make the follow_line work. We tried the find kpkikd in the link and spent a lot of hours by tweaking the parameters. It never worked out for us. We get values like kp=4.7, ki=0.1, and kd=3. But it will always ends with lost the line exception no matter what tweaking we c

[2019-09-14 05:06] WasabiFan commented on #675
I haven't done this specifically with our new line follow function, but my suggestion would be to manually tune it like this:
- Start with all parameters 0.
- Choose some P value. Maybe 1.
- Tell it to follow the line and watch what it does.
- If it begins to "oscillate" around the line (goes left, then right, over and over, or turns so fast it loses the line) then decrease P. If it drives off in

[2019-09-14 13:38] DigitalRookie4 commented on #663
@dlech Sorry I have not been on for a while (I have been revising for exams). Also sorry for confusing you. I sometimes accidentally don't make myself always clear (sorry). I have made a game with my PS1 remote with pygame ages ago on my PC and it did work. I also do understand the concept of how the joystick controller works. When the joystick it up the y axis is negative and when the joystick is

[2019-09-14 13:41] DigitalRookie4 commented on #663
@dlech @dwalton76 @WasabiFan  Another thing I forgot to mention is that I am using micropython which is built on ev3dev

[2019-09-15 19:23] dwalton76 commented on #675
How fast is your robot moving?  Maybe make it go super slow?

[2019-09-16 14:59] JohnHZheng commented on #675
Appreciate your help here. We tried again with different values (lower speed such as 3%, P, I, D with your suggestions). Unfortunately, the result is not quite satisfactory. It works in one run and failed on the other. So we finally decide to write our own simple line following and it works quite stable. Maybe PID next season. Thanks

[2019-09-22 02:05] kutting opened #676 "GyroSensor.reset() failing on EV3"
- **ev3dev version:** 4.14.117-ev3dev-2.3.4-ev3
- **ev3dev-lang-python version:**
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                       Version            Architecture       Description
+++-==========================-==================-=======

[2019-09-22 02:19] scprotz commented on #204
So after Lego released their pybrick micropython version, it appears that the weak spot in python and micropython isn't them running the code, or even really booting up (as much), but rather they each load a significant amount of files.  Since we are running off SD cards, this has a very huge impact.  I ran across this recently as I was working on building a new Javascript SDK and upon reflection

[2019-09-22 03:01] WasabiFan commented on #204
I'd be interested to see benchmarks on our codebase. I'm not immediately sure how to pack Python files together, considering the module system, but if someone could figure out how to set up a test and show comparisons that would be very helpful.

[2019-09-22 03:01] WasabiFan commented on #676
@dlech do you have any insight here?

[2019-09-22 14:12] bpmerkel commented on #204
I'm especially intrigued by @QuriyKort's single-file ev3fast.py implementation; https://github.com/QuirkyCort/ev3dev-lang-python-fast. See his README for the benchmarks he ran.

[2019-09-22 14:19] scprotz commented on #204
I wonder if it works on micro python.

[2019-09-22 14:20] bpmerkel commented on #676
@kutting Ken, does introducing a sleep for maybe 100ms help with the Gyro's inherent lag? There are several posts on forums.usfirst.org about the Gyro's challenges, and I think the conclusion is "avoid Gyro resets at all costs" but cannot recall why. An alternate pattern would be to measure the Gyro angle at the start and capture into a variable, then subtract within code, rather than relying on a

[2019-09-22 17:39] dlech commented on #676
https://github.com/ev3dev/ev3dev/issues/1269

I haven't had time to dig into it.

[2019-09-22 22:08] dlech opened #677 "RPyC update docs and make it easier to use"
The page https://ev3dev-lang.readthedocs.io/projects/python-ev3dev/en/ev3dev-stretch/rpyc.html?highlight=rpyc#working-with-ev3dev-remotely-using-rpyc says to install rpyc on the EV3, but it is already installed by default.

[2019-09-23 14:31] kutting commented on #676
@bpmerkel Brady, The original code where I encountered this issue incorporated calls to sleep, and I did mess around with various delays. But I felt that for this bug report I should simplify the code as much as possible.

You're right that there are ways to work around this issue. As you suggest, one way would be to have a wrapper class that just adjusts results based on the initial reading of th

[2019-09-23 17:28] kutting commented on #676
I changed my original code to catch the error, and added a Stopwatch to come up with timing info. And it appears that what happens is that a gyro reset puts the gyro into an unstable mode. For my robot and sensor, there is about a three second period where the mode goes through several different values, and where the angle either reports the original value or throws an error. Once the gyro reports

[2019-09-24 15:09] dlech opened #678 "Did you know you can win some substantial prizes using ev3dev-lang-python?"
Amazon and LEGO have just announced a contest that connects Amazon Alexa to LEGO MINDSTORMS EV3... and it uses ev3dev-lang-python!

There are a large number of substantial prizes for the contest, so be sure to check it out!

https://www.hackster.io/contests/alexa-lego-voice-challenge

[2019-09-24 16:11] dwalton76 commented on #678
wow!!

[2019-09-24 17:14] WasabiFan commented on #678
Super cool! If anyone runs into issues that are blocking their work on this, mention that and I'll see if I can prioritize it.

[2019-09-24 17:32] WasabiFan commented on #677
Is the correct solution to delete step 1?

[2019-09-24 17:52] dlech commented on #677
Only half of it. It still needs to be installed on the users computer.

[2019-09-24 17:58] dkantereivin opened #679 "AttributeError with MoveDifferential - possibly version related"
- **ev3dev version:** 4.14.96-ev3dev-2.3.2-ev3
- **ev3dev-lang-python version:** python3-ev3dev 1.2.0, micropython-ev3dev2 2.0.0beta3, python3-ev3dev2 2.0.0beta3

Hi All,
I'm running into issues using ev3dev2 (Python) when it comes to the `MoveDifferential` class, and of course I'm also worried that my team will get coding and then will encounter other, more serious issues. In this case, using Mov

[2019-09-24 19:13] WasabiFan commented on #679
Hmmm... I am not aware of this being encountered or fixed in the past. I don't expect it to fix the problem, but it's worth trying to upgrade; we have instructions here: https://python-ev3dev.readthedocs.io/en/ev3dev-stretch/faq.html

If that doesn't resolve it I'll try to look into it more thoroughly.

[2019-09-24 19:17] dkantereivin commented on #679
Holy crap I'm like Christopher Columbus!! In all seriousness, I'll get the update done and test it out within the next hour and a half and update you (just need to enable WiFi sharing through USB on school network). Thanks for your quick reply.

[2019-09-24 20:52] dkantereivin commented on #679
Newest version fixed it, as expected! Thank you for your help.

[2019-09-24 20:52] #679 closed, assigned to nobody

[2019-09-27 00:47] ghost opened #680 "Accessing Motor Encoders When Using MoveSteering, etc"
**Question**

How do you access the motor encoders to determine the angle the motor has rotated through when using the multiple motor commands like MoveTank/MoveSteering, the same way you can access it with single motors?

It doesn't seem like it is possible to use some kind of .angle() method.

**Background Information**
If using for example, MoveSteering.on(speed, steering), how do you measure t

[2019-09-27 18:21] ghost commented on #680
I resolved my question today - this is a non-issue.

I originally had this:
`DriveMotors = MoveSteering(OUTPUT_A, OUTPUT_D, motor_class=LargeMotor)`

I added this:
[code]

Then I was able to access:
`LeftMotor.position`

Which allowed me to set a conditional:
[code]

[2019-09-27 18:21] #680 closed, assigned to nobody

[2019-09-27 20:40] ghost opened #681 "Problem Importing Button Using Micropython"
- **ev3dev version: 18.7.0
- **ev3dev-lang-python version: ev3dev-stretch-ev3-generic-2019-03-03.img

---------------------------------------------
I get this error when running programs trying to import button and console.
[code]

These are my import statements and bit of test code, and I think they are correct..
[code]

This is the error message for the code above.
[code]

Also, when I try to im

[2019-09-29 09:08] naynt commented on #678
interesting!

[2019-09-29 20:32] WasabiFan commented on #681
Please upgrade the library:

[code]

[2019-09-30 01:01] ghost commented on #681
Thanks for the answer.

I am working on a Mac and it seems apt-get doesn't work. I found some work
arounds, but I am really over my head.

Edit - Durr...I read the documentation and ssh'd into the robot. sudo works just fine.

I think the problem is that have an older version installed. Someone else
had a similar issue now that I searched for the right issue.

Edit - Thank you for being kind to me

[2019-09-30 02:00] Technonati commented on #681
Hmm - what is the latest version:
2.0.0~beta3 or beta5?

Here's what popped up on in the terminal after running the commands.

robot@ev3dev:~$ sudo apt-get update
Err:1 http://httpredir.debian.org/debian stretch InRelease
  Could not resolve 'httpredir.debian.org'
Err:2 http://security.debian.org stretch/updates InRelease
  Could not resolve 'security.debian.org'
Err:3 http://archive.ev3dev.org/de

[2019-09-30 03:07] WasabiFan commented on #681
Did you run the commands on the robot via SSH? If so, it should have upgraded the library. Is your issue resolved?

[2019-09-30 03:33] ghost commented on #681
I have to use Bluetooth to connect to the internet, and it isn't working.
It connects, then disconnects.

GDBus.Error:org.bluez.Error.Failed: Protocol not available.

In all fairness, by Bluetooth antenna was cut by my Mac's previous owner,
for some ungodly reason, but I can connect to device if it is laying on my
keyboard, but the connection is lost.

I'll go on a PC laptop I have for my FLL team

[2019-09-30 03:37] aidenybai opened #682 "Problem executing code"
**ev3dev version: 18.7.0
**ev3dev-lang-python version: ev3dev-stretch-ev3-generic-2019-03-03.img

I'm getting this error everytime I try to download and run onto the robot:
https://lh3.googleusercontent.com/-rEMxtGPPoyU/XZF2fDHqxiI/AAAAAAAAM6w/Az_hMFM87L8fTEirizsXQN41hOfRODezgCK8BGAsYHg/s0/ev3dev%2Berror-4png.png

I've tried uninstalling and reinstalling python, recloning the repo, etc.

[2019-09-30 03:45] aidenybai commented on #682
Issue has been resolved

[2019-09-30 03:45] #682 closed, assigned to nobody

[2019-09-30 03:47] dlech commented on #681
You can't use USB to connect to the Internet? Upgrading packages via Bluetooth usually fails no matter how good the connection is.

[2019-09-30 04:27] ghost commented on #681
As far as I can tell, when I connect the brick via the miniUSB port, I can't network because the brick IP address was self-generated, so my computer is telling me when I go to the network options.

I may be missing something in my understanding, I hope....

[2019-09-30 04:29] ghost commented on #681
OK I was missing something. I was tethering my brick via USB.

Let me try to follow the instructions...might be a good idea, no?

[2019-09-30 04:51] ghost commented on #681
Something isn't working right.

The brick isn't changing from Connected to Online.

I am backing out and going to the beginning...tomorrow morning in a few hours.

I'll report how it goes.

Thanks for the help. I really appreciate it.

[2019-09-30 12:44] ghost commented on #681
1. I don't see the "CDC Composite Gadget" as stated in the tutorial page on connecting via USB in System Preferences>Netwworks. After connecting the brick, EV3+ev3dev shows up in Networking (using Mojave 10.14.6) with a self assigned IP. Otherwise, everything looks like step 1.

2. Assuming that is what it is supposed to be, in Sharing. I share my connection from Wi-Fi with the EV3+ev3dev and have

[2019-09-30 14:16] ghost commented on #681
Works like a charm!

Thank you all so very much.

May I repay your help by writing up an update to the "Connect to the USB Page" and making a "Update your Brick" page for the tutorials on ev3dev.org?

I'll be having my FLL team do it as part of a guide to quickly getting set up to use EV3DEV for FLL, which will be directed at kids who haven't programmed in a real language, but will be moving soon

[2019-09-30 14:27] dlech commented on #681
Ideally, I would like to migrate that sort documentation to http://docs.ev3dev.org/en/ev3dev-stretch/ so that if/when there is an ev3dev-buster, we can have multiple versions of the docs at the same time.

[2019-09-30 14:29] dlech commented on #681
This page already exists: https://www.ev3dev.org/docs/tutorials/upgrading-ev3dev/

[2019-09-30 15:03] ghost commented on #681
Thanks again for the help.

Ev3Dev2 works better than the Lego version, wrto motor control. Faster, more even, better consistency.

[2019-10-02 05:47] naynt opened #683 "Exporting EV3 data to csv file format using ev3.dev2 python via Visual Studio."
**Visual Studio 1.38.1**
** ev3dev2 stretch version 2019.03.03**
** EV3 Brickman 0.10.0 **
** Windows 10 **

Hello, I am interested in collecting data obtained from my EV3/NXT sensors and transferring it to csv format using ev3dev2 micro-python. I am using a HI-Technic NXT Barometric sensor and wish to collect data on humidity over time.
I am somewhat of a beginner with python and I was wondering

[2019-10-02 06:13] WasabiFan commented on #683
Yeah, that definetely looks like the right track! Does it do the right thing?

[2019-10-03 02:23] #681 closed, assigned to nobody

[2019-10-03 07:13] naynt commented on #683
Unfortunately, I have been having a hard time obtaining the data values from the NXT Barometer. So I wrote a script to get the sensor to display the temperature value every 2 seconds for a total of ten times on Visual Studio Code output terminal. The script is:

[code]

The following is the error I get:

[code]

Do you have any idea what I am doing wrong? This is would be extremely appreciated!